<div class="w-100 anima-body position-relative d-flex justify-content-center h-100 pt-4">
    <div *ngIf="listofvisits" class="row d-flex  justify-content-center w-100">
        <div *ngFor="let item of response" class="col-md-6 col-lg-4 max-w-400 d-flex justify-content-center p-3">
            <div
                class="h-100 product-announcement cursor-pointer box-shadow hover-green p-2  border-radius-10 bg-white">
                <div class="py-2 px-3 product-announcement-card position-relative">
                    <img *ngIf="!item.mainPhoto" src="../../../../assets/img/ap.png" class="photo-announcement-card"
                        (click)="announcementSelected(item._id)">
                    <img *ngIf="item.mainPhoto" [src]="item.mainPhoto" class="photo-announcement-card"
                        (click)="announcementSelected(item._id)">
                    <div class="space-sale-exclusive">
                        <h4 *ngIf="item.typeOfAd === 'sale'"
                            class="bg-purple h-fit px-4 py-2 mb-0 border-radius-5 fw-400 font-size-14 line-15 text-light">
                            Venda</h4>
                        <h4 *ngIf="item.typeOfAd === 'rent'"
                            class="bg-purple h-fit px-4 py-2 mb-0 border-radius-5 fw-400 font-size-14 line-15 text-light">
                            Locação</h4>
                        <div class="d-flex" *ngIf="item.typeOfAd === 'both'">
                            <h4
                                class="bg-purple h-fit px-4 py-2 mb-0 border-radius-5 fw-400 font-size-14 line-15 text-light mr-2">
                                Venda</h4>
                            <h4
                                class="bg-purple h-fit px-4 py-2 mb-0 border-radius-5 fw-400 font-size-14 line-15 text-light">
                                Locação</h4>
                        </div>
                        <h4 *ngIf="item.exclusivity"
                            class="bg-greenlight h-fit ml-2 px-3 py-2 mb-0 border-radius-5 fw-400 font-size-14 line-15 color-black">
                            Exclusivo</h4>
                    </div>
                    <div class="space-value-announcement">
                        <p class="fw-700 mb-0 font-size-22 h-fit line-32 text-light" *ngIf="item.typeOfAd === 'sale'">
                            {{item.saleValue | currency: 'R$':'symbol':'1.0'}}</p>
                        <p class="fw-700 mb-0 font-size-22 h-fit line-32 text-light" *ngIf="item.typeOfAd === 'both'">
                            {{item.saleValue | currency: 'R$':'symbol':'1.0'}}</p>
                        <p class="fw-700 mb-0 font-size-22 h-fit line-32 text-light" *ngIf="item.typeOfAd === 'rent'">
                            {{item.leaseValue | currency: 'R$':'symbol':'1.0'}}
                        </p>
                        <div (click)="likeHeart(item._id)"
                            class="h-fit bg-transparent-white border-radius-10 pt-2 pb-1 px-3">
                            <i [class]="item.liked ? 'bi-heart-fill':'bi-heart' "
                                class="bi bi-heart-fill font-size-16 text-light"></i>
                        </div>
                    </div>
                </div>
                <div class="col-12 px-0" (click)="announcementSelected(item._id)">
                    <div class="w-100 mx-1 pt-3">
                        <span
                            class="fw-400 font-size-14 line-20 color-black text-capitalize">{{item.propertyCharacteristics}}</span>
                        <p class="fw-700 font-size-16 line-20 mb-0 color-black  text-truncate" style="max-width: 90%;">
                            {{item.description}}</p>
                        <p class="d-flex align-items-center">
                            <i class="bi font-size-20 mr-2 color-black bi-geo-alt"></i>
                            <span class="fw-400 font-size-14 line-20 color-black">{{item.publicPlaceAddress}},
                                {{item.cityAddress}} - {{item.ufAddress}}</span>
                        </p>
                    </div>
                    <div class="row mx-1 d-flex">
                        <div
                            class="col mt-2 justify-content-left left-important px-0 d-flex align-items-center justify-content-left">
                            <img src="../../../assets/icon/bed.png" class="pr-2 mobile-w" />
                            <p *ngIf="item.bedrooms > 1"
                                class="fw-400 mb-0 font-size-14 little-text-mobile line-20 color-black d-inline-block text-nowrap">
                                {{item.bedrooms}}
                                Quartos
                            </p>
                            <p *ngIf="item.bedrooms === 1 || item.bedrooms === 0"
                                class="fw-400 mb-0 font-size-14 little-text-mobile line-20 color-black d-inline-block text-nowrap">
                                {{item.bedrooms}}
                                Quarto
                            </p>
                        </div>
                        <div
                            class="col mt-2 justify-content-center left-important  px-0 d-flex align-items-center justify-content-left">
                            <img src="../../../assets/icon/car.png" class="pr-2 mobile-w" />
                            <p *ngIf="item.parkingSpaces > 1" class="fw-400 mb-0 font-size-14 little-text-mobile line-20 color-black">
                                {{item.parkingSpaces}} Vagas
                            </p>
                            <p *ngIf="item.parkingSpaces === 1 || item.parkingSpaces === 0" class="fw-400 mb-0 font-size-14 little-text-mobile line-20 color-black">
                                {{item.parkingSpaces}} Vaga
                            </p>
                        </div>
                        <div
                            class="col mt-2 justify-content-end left-important  px-0 d-flex align-items-center justify-content-left">
                            <img src="../../../assets/icon/rule.png" class="pr-2 mobile-w" />
                            <p
                                class="fw-400 mb-0 font-size-14 little-text-mobile line-20 color-black d-inline-block text-nowrap">
                                {{item.usefulArea |
                                currency: ' ':'symbol':'1.0'}} m2</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="d-flex justify-content-center align-items-center">
                                <img src="../../../assets/icon/suites.svg" width="18px" class="pr-2 mobile-w" />
                                <p *ngIf="item.suites > 1" class="fw-400 mb-0 font-size-12 little-text-mobile line-20
                                    color-black">{{item.suites}} Suítes</p>
                                <p *ngIf="item.suites === 1 || item.suites === 0" class="fw-400 mb-0 font-size-12 little-text-mobile line-20
                                    color-black">{{item.suites}} Suíte</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="response.length === 0" class="d-flex w-100 justify-content-center">
            <div class="w-100 text-center pt-10 pb-10 h-100 mx-3 max-w-1918 ">
                <p class="fw-700 mb-3 font-size-24 line-32 color-black">
                    Você não tem imóveis na sua lista de favoritos
                </p>
                <!-- <p class="fw-400 font-size-18 line-24 color-black">
                    Após visitar um imóvel seu histórico de favoritos aparecerá aqui
                </p> -->
                <button style="max-width: 345px;" [routerLink]="['/search']"
                    class="btn mt-3 d-inline-block border-radius-10 bg-purple text-light h-74 w-100 fw-700 font-size-18 line-24"
                    type="button">Procurar imóveis</button>
            </div>
        </div>
    </div>
</div>