<main class="bg-whitelight position-relative w-100">
    <form [formGroup]="form" class="row pb-10 pt-10 h-100 m-0-auto mx-5 px-5 w-100
        max-w-800">
        <div *ngIf="titleexpress" class="col-12 mx-2">
            <p class="d-flex fw-700 font-size-24 line-24 color-black ">
                Escolha sua proposta <i class="bi px-2 font-size-18 text-primary bi-question-circle"></i>
            </p>
            <span class="fw-400 font-size-18 line-20 color-black ">
                Se você concorda com as condições do anúncio, envie essa proposta express. Caso contrário, crie uma
                proposta customizada.
            </span>
        </div>
        <div class="col-12 my-4">
            <div class="w-100
            d-inline-blocks 
            p-3 
            border-radius-10 bg-white">
                <div style='background-image:
                url(../../../assets/img/img-announcement-default.jpg);' class="bg-img-result py-2 px-3
                border-radius-10">
                    <div class="w-100 h-50 d-flex">
                        <h4 *ngIf="response.typeOfAd === 'rent'" class="h-fit px-4 bg-purple
                        py-2 mb-0
                        border-radius-5 fw-400
                        font-size-14 line-15
                        text-light">Locação</h4>
                        <h4 *ngIf="response.typeOfAd === 'sale'" class="h-fit px-4 bg-purple
                        py-2 mb-0
                        border-radius-5 fw-400
                        font-size-14 line-15
                        text-light">Venda</h4>
                        <h4 *ngIf="response.exclusivity" class="bg-greenlight h-fit
                        ml-2 px-3 py-2
                        mb-0 border-radius-5 fw-400
                        font-size-14
                        line-15 color-black">Exclusivo</h4>
                    </div>
                    <div class="w-100 d-flex h-50
                    align-items-end
                    justify-content-between">
                        <p *ngIf="response.typeOfAd === 'sale'" class="fw-700 mb-0
                        font-size-22 h-fit line-32
                        text-light">{{response.saleValue | currency: 'R$'}}</p>
                        <p *ngIf="response.typeOfAd === 'rent'" class="fw-700 mb-0
                        font-size-22 h-fit line-32
                        text-light">{{response.leaseValue | currency: 'R$'}}</p>
                        <div (click)="likeHeart(response._id)" class="h-fit
                        bg-transparent-white
                        cursor-pointer
                        border-radius-10
                        pt-2 pb-1 px-3">
                            <i [class]="response.liked ?
                            'bi-heart-fill':'bi-heart'
                            " class="bi
                            font-size-16
                            text-light"></i>
                        </div>
                    </div>
                </div>
                <div class="w-100 mx-3 text-align-left
                pt-3">
                    <span class="fw-400 font-size-14
                    line-20
                    color-black text-capitalize">{{response.propertyType}}</span>
                    <p class="fw-700 my-2 font-size-16
                    line-20 mb-0
                    color-black">{{response.description}}</p>
                    <p class="d-flex
                    align-items-center">
                        <i class="bi font-size-20 mr-2
                        color-black
                        bi-geo-alt"></i>
                        <span class="fw-400 font-size-14
                        line-20
                        color-black">{{response.publicPlaceAddress}},
                            {{response.cityAddress}} - {{response.ufAddress}}</span>
                    </p>
                </div>
                <div class="row mx-3 my-3 d-flex">
                    <div class="col justify-content-left
                    px-0 d-flex
                    align-items-center
                    justify-content-left">
                        <img src="../../../assets/icon/bed.png" class="pr-2" />
                        <p class="fw-400 mb-0
                        font-size-14 line-20
                        color-black">{{response.bedrooms}}
                            Quartos</p>
                    </div>
                    <div class="col justify-content-left px-0
                    d-flex
                    align-items-center
                    justify-content-left">
                        <img src="../../../assets/icon/car.png" class="pr-2" />
                        <p class="fw-400 mb-0
                        font-size-14 line-20
                        color-black">{{response.vacancyNumber}}
                            Vagas</p>
                    </div>
                    <div class="col justify-content-left
                    px-0 d-flex
                    align-items-center
                    justify-content-left">
                        <img src="../../../assets/icon/rule.png" class="pr-2" />
                        <p class="fw-400 mb-0
                        font-size-14 line-20
                        color-black">{{response.usefulArea |
                            currency: ' '}} m²</p>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="cardinfoone" class="col-12">
            <div class="w-100 my-4 p-5 border-radius-10 bg-white">
                <p class="fw-400 font-size-16 line-20 color-black">
                    Para ser aprovado na avaliação de crédito, você precisa ter bom perfil de crédito, e renda mínima
                    acima de R$ 9715. Até 4 pessoas podem compor renda no contrato.
                </p>
                <a [routerLink]="['/']" class="d-flex fw-400 font-size-16 line-20 ">
                    Saiba mais como ser aprovado na avaliação
                    <img src="../../../assets/icon/share.png" class="ml-2" height="20" width="18" />
                </a>
            </div>
        </div>
        <div *ngIf="cardinfotwo && response.typeOfAd === 'rent'" class="col-12">
            <div class="w-100 my-4 p-5 border-radius-10 bg-white">
                <span class="fw-700 font-size-16 line-20 color-black">Regras do Contrato</span>
                <p class="fw-400 font-size-16 pt-3 line-20 color-black">
                    O contrato é de 30 meses e sem multa de rescisão após 12 meses, com aviso prévio de 30 dias.
                </p>
                <p class="fw-400 font-size-16 line-20 color-black">
                    O condomínio é pago por você, com exceção do boleto com vencimento no mês de início do contrato, que
                    será pago pelo proprietário. Despesas extraordinárias do condomínio, como fundos de obras e reformas
                    estruturais serão reembolsadas para você pela imoveistock.
                </p>
                <p class="fw-400 font-size-16 line-20 color-black">
                    Você poderá receber as chaves 6 dias úteis após a assinatura do contrato.
                </p>
                <p class="fw-400 font-size-16 line-20 color-black">
                    O primeiro aluguel vence 5 dias após o início da sua locação e os aluguéis seguintes no dia 7 de
                    cada mês. A cobrança é sempre referente ao mês corrente (ex.: o aluguel de outubro vence no dia 7 de
                    outubro).
                </p>
            </div>
        </div>
        <div *ngIf="btnsend" class="col-12 mt-4">
            <button (click)="sendProposalExpress('open')"
                class="btn bg-purple border-radius-10 h-74 w-100 fw-700 font-size-18 line-24 text-light" type="button">
                Enviar proposta express
            </button>
            <button (click)="customizedProposal('open')"
                class="btn bg-white text-truncate mt-3 border-purple border-radius-10 h-74 w-100 fw-700 font-size-18 line-24 color-purple"
                type="button">
                Criar proposta customizada
            </button>
        </div>

        <div *ngIf="spaceCustomizeProposal" class="animate__animated animate__fadeInUp col-12 mt-4">
            <div class="w-100 bg-white border-radius-10 mb-3 p-5">
                <hr class="pb-4">
                <div class="row">
                    <div class="col-sm-6 mt-3">
                        <span class="fw-700 font-size-18
                                    line-24 color-black">Valores</span>
                    </div>
                    <div class="col-sm-6 mt-3 d-flex justify-content-sm-end">
                        <span *ngIf="response.typeOfAd === 'sale'" class="fw-700 font-size-18
                        line-24 color-black">{{response.saleValue | currency:
                            'R$'}}</span>
                        <span *ngIf="response.typeOfAd === 'rent'" class="fw-700 font-size-18
                            line-24 color-black">{{response.leaseValue | currency:
                            'R$'}}</span>
                    </div>
                    <div class="col-sm-6 mt-3">
                        <span *ngIf="response.typeOfAd === 'rent'" class="fw-400 font-size-18
                                    line-24 color-black">Aluguel
                            <i class="bi font-size-14
                                        color-muted
                                        bi-info-circle"></i></span>
                        <span *ngIf="response.typeOfAd === 'sale'" class="fw-400 font-size-18
                                        line-24 color-black">Venda
                            <i class="bi font-size-14
                                            color-muted
                                            bi-info-circle"></i></span>
                    </div>
                    <div class="col-sm-6 d-flex justify-content-sm-end mt-3">
                        <span *ngIf="response.typeOfAd === 'sale'" class="fw-700 font-size-18
                                line-24 color-black">{{response.saleValue | currency:
                            'R$'}}</span>
                        <span *ngIf="response.typeOfAd === 'rent'" class="fw-700 font-size-18
                                line-24 color-black">{{toNumber(response.valueOfIptu) / 12 +
                            toNumber(response.leaseValue) + toNumber(response.condominiumValue) |
                            currency: 'R$'}}</span>
                    </div>
                </div>
                <p class="d-flex pt-3 mt-2 border-top-gray justify-content-end">
                    <span (click)="proposeValue('open')" class="fw-400 font-size-18 line-24 text-primary">Propor novo
                        valor</span>
                </p>
            </div>

            <div *ngIf="detailfinalvalue" class="w-100">
                <div class="w-100 bg-white border-radius-10 mb-3 p-5">
                    <div class="w-100">
                        <div class="w-100 border-bottom-gray d-flex align-items-center justify-content-between">
                            <h5 class="fw-700 font-size-18 line-24 color-black">Retirada</h5>
                            <i class="bi cursor-pointer font-size-30 color-black bi-three-dots-vertical"></i>
                        </div>
                    </div>
                    <div class="w-100 pt-4 d-flex align-items-center">
                        <i class="bi bi-person font-size-28"></i>
                        <div class="d-grid px-3 mb-0">
                            <p class="fw-400 font-size-16 line-20 color-black mb-1">
                                Quero pedir que o proprietário retire
                            </p>
                            <p class="fw-400 font-size-16 line-20 text-primary mt-1 mb-0 text-capitalize">
                                {{form.controls['faqremove'].value}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="detailfinalvalueAdd" class="w-100">
                <div class="w-100 bg-white border-radius-10 mb-3 p-5">
                    <div class="w-100">
                        <div class="w-100 border-bottom-gray d-flex align-items-center justify-content-between">
                            <h5 class="fw-700 font-size-18 line-24 color-black">Adicionar</h5>
                            <i class="bi cursor-pointer font-size-30 color-black bi-three-dots-vertical"></i>
                        </div>
                    </div>
                    <div class="w-100 pt-4 d-flex align-items-center">
                        <i class="bi bi-person font-size-28"></i>
                        <div class="d-grid px-3 mb-0">
                            <p class="fw-400 font-size-16 line-20 color-black mb-1">
                                Quero pedir que o proprietário adicione
                            </p>
                            <p class="fw-400 font-size-16 line-20 text-primary mt-1 mb-0 text-capitalize">
                                {{form.controls['faqAdded'].value}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <div *ngIf="detailfinalvalueChange" class="w-100">
                <div class="w-100 bg-white border-radius-10 mb-3 p-5">
                    <div class="w-100">
                        <div class="w-100 border-bottom-gray d-flex align-items-center justify-content-between">
                            <h5 class="fw-700 font-size-18 line-24 color-black">Alterar</h5>
                            <i class="bi cursor-pointer font-size-30 color-black bi-three-dots-vertical"></i>
                        </div>
                    </div>
                    <div class="w-100 pt-4 d-flex align-items-center">
                        <i class="bi bi-person font-size-28"></i>
                        <div class="d-grid px-3 mb-0">
                            <p class="fw-400 font-size-16 line-20 color-black mb-1">
                                Quero pedir que o proprietário altere
                            </p>
                            <p class="fw-400 font-size-16 line-20 text-primary mt-1 mb-0 text-capitalize">
                                {{form.controls['faqChange'].value}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="spaceCustomizeProposalChanges" class="w-100 bg-white border-radius-10 p-5">
                <p class="fw-700 font-size-18 line-18 color-black">Mudanças do imóvel</p>
                <hr class="bg-whitelight" />
                <p class="fw-400 font-size-16 mb-2 line-20 color-black">
                    Você precisa negociar algum reparo, inclusão ou retirada com o proprietário?
                </p>
                <p class="border-orange bg-orangelight p-3 mb-2 border-radius-10">
                    Solicitações prolongam sua negociação. Adicione somente se for imprescindível.
                </p>
                <button (click)="propertyChange('open')" type="button"
                    class="btn mt-3 text-truncate border-dotted bg-white border-radius-10 h-74 w-100 fw-700 font-size-18 line-24 color-black">
                    Adicionar solicitação
                </button>
            </div>

            <div *ngIf="spaceCustomizeProposalChangesOptions"
                class="w-100 bg-white border-radius-10 p-5 animate__animated animate__fadeInUp">
                <div class="w-100">
                    <div class="w-100 d-flex align-items-center justify-content-between">
                        <h5 class="fw-700 font-size-18 line-24 color-black">Mudanças do imóvel</h5>
                        <i (click)="propertyChange('close')"
                            class="bi cursor-pointer font-size-36 color-black bi-x"></i>
                    </div>
                    <div class="w-100 mt-4">
                        <p class="d-flex cursor-pointer align-items-center mb-2" (click)="removeItem('open')">
                            <img src="../../../assets/icon/less.png" />
                            <span class="fw-400 font-size-16 line-20 color-black" (click)="removeItem('open')">Retirar
                                um item</span>
                        </p>
                        <!-- in analisys -->

                        <p class="d-flex align-items-center mb-2">
                            <img src="../../../assets/icon/more.png" (click)="addedItem('open')" />
                            <span class="fw-400 font-size-16 line-20 color-black" (click)="addedItem('open')">Incluir
                                algo novo</span>
                        </p>
                        <p class="d-flex align-items-center mb-2">
                            <img src="../../../assets/icon/tools.png" class="pl-1 pr-2 pb-2"
                                (click)="changeItem('open')" />
                            <span class="fw-400 font-size-16 line-20 color-black" (click)="changeItem('open')">Fazer
                                manutenção ou reparo</span>
                        </p>
                        <p class="d-flex align-items-center mb-2">
                            <img src="../../../assets/icon/list.png" class="pl-1 pr-2 pb-2"
                                (click)="changeItem('open')" />
                            <span class="fw-400 font-size-16 line-20 color-black" (click)="changeItem('open')">Modificar
                                ou substituir algo</span>
                        </p>
                    </div>
                </div>
            </div>

            <div *ngIf="spaceChangeItem" class="w-100 bg-white border-radius-10 p-5 mt-4">
                <div class="w-100">
                    <div class="w-100 d-flex align-items-center justify-content-between">
                        <h5 class="fw-700 font-size-18 line-24 color-black">Alteração</h5>
                        <i (click)="changeItem('close')" class="bi cursor-pointer font-size-36 color-black bi-x"></i>
                    </div>
                    <div class="w-100">

                        <p class="fw-700 font-size-16 mt-4 line-20 color-black">
                            Quero pedir que o proprietário altere
                        </p>
                        <input type="text" formControlName="faqChange"
                            class="w-100 py-2 border-none border-bottom-gray bg-white color-blue fw-400 font-size-14 line-18"
                            maxlength="200" placeholder="descreva o que deseja retirar" id="faqChange" />
                        <div class="d-flex align-items-center justify-content-between">
                            <p class="fw-400 m-0 font-size-12 line-15 color-black">
                                ex: a cama e o colchão da suíte principal
                            </p>
                            <p class="fw-400 m-0 font-size-12 line-15 color-blue">
                                {{form.controls['faqremove'].value.length}}/200
                            </p>
                        </div>
                        <div class="row d-flex justify-content-end ">
                            <div class="col-7 d-flex col-express block-important">
                                <button (click)="changeItem('close')"
                                    class="bg-white m-1 border-black w-100 cursor-pointer border-radius-10 h-51 fw-700 font-size-18 line-24 color-black"
                                    type="submit">
                                    Cancelar
                                </button>
                                <button (click)="changeItem('submit')"
                                    [disabled]="form.controls['faqChange'].value === ''"
                                    class="bg-purple m-1 w-100 border-radius-10 cursor-pointer h-51 fw-700 font-size-18 line-24 border-none text-light"
                                    type="submit">
                                    Salvar
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="spaceRemoveitem" class="w-100 bg-white border-radius-10 p-5 mt-4">
                <div class="w-100">
                    <div class="w-100 d-flex align-items-center justify-content-between">
                        <h5 class="fw-700 font-size-18 line-24 color-black">Retirada</h5>
                        <i (click)="removeItem('close')" class="bi cursor-pointer font-size-36 color-black bi-x"></i>
                    </div>
                    <div class="w-100">
                        <p class="border-orange bg-orangelight p-3 d-flex mb-2 border-radius-10">
                            <i class="bi text-warning px-3 font-size-20 bi-lightbulb"></i>
                            Você pode retirar um item e recolocá-lo nas mesmas condições ao final da locação. Nesse
                            caso, não é preciso pedir autorização.
                        </p>
                        <p class="fw-700 font-size-16 mt-4 line-20 color-black">
                            Quero pedir que o proprietário retire
                        </p>
                        <input type="text" formControlName="faqremove"
                            class="w-100 py-2 border-none border-bottom-gray bg-white color-blue fw-400 font-size-14 line-18"
                            maxlength="200" placeholder="descreva o que deseja retirar" id="faqremove" />
                        <div class="d-flex align-items-center justify-content-between">
                            <p class="fw-400 m-0 font-size-12 line-15 color-black">
                                ex: a cama e o colchão da suíte principal
                            </p>
                            <p class="fw-400 m-0 font-size-12 line-15 color-blue">
                                {{form.controls['faqremove'].value.length}}/200
                            </p>
                        </div>
                        <div class="row d-flex justify-content-end ">
                            <div class="col-7 d-flex col-express block-important">
                                <button (click)="removeItem('close')"
                                    class="bg-white m-1 border-black w-100 cursor-pointer border-radius-10 h-51 fw-700 font-size-18 line-24 color-black"
                                    type="submit">
                                    Cancelar
                                </button>
                                <button (click)="removeItem('submit')"
                                    [disabled]="form.controls['faqremove'].value === ''"
                                    class="bg-purple m-1 w-100 border-radius-10 cursor-pointer h-51 fw-700 font-size-18 line-24 border-none text-light"
                                    type="submit">
                                    Salvar
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="spaceAddedItem" class="w-100 bg-white border-radius-10 p-5 mt-4">
                <div class="w-100">
                    <div class="w-100 d-flex align-items-center justify-content-between">
                        <h5 class="fw-700 font-size-18 line-24 color-black">Adicionar</h5>
                        <i (click)="addedItem('close')" class="bi cursor-pointer font-size-36 color-black bi-x"></i>
                    </div>
                    <div class="w-100">
                        <!-- <p class="border-orange bg-orangelight p-3 d-flex mb-2 border-radius-10">
                            <i class="bi text-warning px-3 font-size-20 bi-lightbulb"></i>
                            Você pode retirar um item e recolocá-lo nas mesmas condições ao final da locação. Nesse
                            caso, não é preciso pedir autorização.
                        </p> -->
                        <p class="fw-700 font-size-16 mt-4 line-20 color-black">
                            Quero pedir que o proprietário adicione
                        </p>
                        <input type="text" formControlName="faqAdded"
                            class="w-100 py-2 border-none border-bottom-gray bg-white color-blue fw-400 font-size-14 line-18"
                            maxlength="200" placeholder="descreva o que deseja retirar" id="faqAdded" />
                        <div class="d-flex align-items-center justify-content-between">
                            <p class="fw-400 m-0 font-size-12 line-15 color-black">
                                ex: a cama e o colchão da suíte principal
                            </p>
                            <p class="fw-400 m-0 font-size-12 line-15 color-blue">
                                {{form.controls['faqAdded'].value.length}}/200
                            </p>
                        </div>
                        <div class="row d-flex justify-content-end ">
                            <div class="col-7 d-flex col-express block-important">
                                <button (click)="addedItem('close')"
                                    class="bg-white m-1 border-black w-100 cursor-pointer border-radius-10 h-51 fw-700 font-size-18 line-24 color-black"
                                    type="submit">
                                    Cancelar
                                </button>
                                <button (click)="addedItem('submit')"
                                    [disabled]="form.controls['faqAdded'].value === ''"
                                    class="bg-purple m-1 w-100 border-radius-10 cursor-pointer h-51 fw-700 font-size-18 line-24 border-none text-light"
                                    type="submit">
                                    Salvar
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-3 d-flex justify-content-end">
                <button class="btn bg-purple border-radius-10 h-74 w-md-50 fw-700 font-size-18 line-24 text-light"
                    type="button" (click)="send()">Enviar proposta customizada</button>
            </div>
        </div>

        <div class="col-12">
            <!-- modal-custom -->
            <div *ngIf="modalsendproposalexpress" class="modal modal-all fade">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content border-none bg-transparent p-3">
                        <div class="w-100 my-4 p-5 border-radius-10 bg-white">
                            <div class="d-flex justify-content-end pb-4">
                                <img src="../../../assets/icon/x.png" (click)="sendProposalExpress('close')" alt="">
                            </div>
                            <table class="w-100">
                                <tbody>
                                    <tr class="h-40 border-bottom-gray mb-2">
                                        <td>
                                            <span *ngIf="response.typeOfAd === 'rent'" class="fw-700 font-size-18
                                                        line-24 color-black">Aluguel</span>
                                            <span *ngIf="response.typeOfAd === 'sale'" class="fw-700 font-size-18
                                                        line-24 color-black">Venda</span>
                                        </td>
                                        <td class="d-tavle-cell
                                                    text-align-right">
                                            <span *ngIf="response.typeOfAd === 'rent'" class="fw-700 font-size-18
                                                        line-24 color-black">{{response.leaseValue | currency:
                                                'R$'}}</span>
                                            <span *ngIf="response.typeOfAd === 'sale'" class="fw-700 font-size-18
                                                        line-24 color-black">{{response.saleValue | currency:
                                                'R$'}}</span>
                                        </td>
                                    </tr>
                                    <tr class="h-40">
                                        <td>
                                            <span class="fw-400 font-size-18
                                                        line-24 color-black">Condomínio
                                                <i class="bi font-size-14
                                                            color-muted
                                                            bi-info-circle"></i></span>
                                        </td>
                                        <td class="d-tavle-cell
                                                    text-align-right">
                                            <span class="fw-700 font-size-18
                                                        line-24 color-black">{{response.condominiumValue | currency:
                                                'R$'}}</span>
                                        </td>
                                    </tr>
                                    <tr class="h-40">
                                        <td>
                                            <span class="fw-400 font-size-18
                                                        line-24 color-black">IPTU <i class="bi font-size-14
                                                            color-muted
                                                            bi-info-circle"></i></span>
                                        </td>
                                        <td class="d-tavle-cell
                                                    text-align-right">
                                            <span *ngIf="response.typeOfAd === 'rent'" class="fw-700 font-size-18
                                                        line-24 color-black">{{toNumber(response.valueOfIptu) / 12 |
                                                currency: 'R$'}}</span>
                                            <span *ngIf="response.typeOfAd === 'sale'" class="fw-700 font-size-18
                                                        line-24 color-black">{{toNumber(response.valueOfIptu) |
                                                currency: 'R$'}}</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <h6 class="my-4" style="outline-style: dotted;"></h6>
                            <table class="w-100 mt-5">
                                <tbody>
                                    <tr class="h-40">
                                        <td>
                                            <span *ngIf="response.typeOfAd === 'rent'" class="fw-700 font-size-18
                                                        line-24 color-black">Valor total mensal</span>
                                            <span *ngIf="response.typeOfAd === 'sale'" class="fw-700 font-size-18
                                                        line-24 color-black">Venda</span>
                                        </td>
                                        <td class="d-tavle-cell
                                                    text-align-right">
                                            <span *ngIf="response.typeOfAd === 'rent'" class="fw-700 font-size-18
                                                    line-24 color-black">{{toNumber(response.valueOfIptu) / 12 +
                                                toNumber(response.leaseValue) + toNumber(response.condominiumValue) |
                                                currency: 'R$'}}</span>
                                            <span *ngIf="response.typeOfAd === 'sale'" class="fw-700 font-size-18
                                                    line-24 color-black">{{toNumber(response.saleValue) |
                                                currency: 'R$'}}</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="w-100 mt-3 d-flex">
                                <button type="button" (click)="sendProposalExpress('confirm')"
                                    class="btn mr-2 border-radius-10 bg-purple h-74 w-100 fw-500 font-size-18 line-24 text-light">
                                    Confirmar
                                </button>
                                <button type="button" (click)="sendProposalExpress('cancelar')"
                                    class="btn ml-2 border-purple border-radius-10 bg-white h-74 w-100 fw-500 font-size-18 line-24 color-purple">
                                    Cancelar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- modal-custom -->
    <div *ngIf="modalvalue" class="modal modal-all fade">
        <form [formGroup]="formCustomizeProposal">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content border-none bg-transparent p-3">
                    <div class="w-100 bg-white border-radius-10 mb-3">
                        <div class="row bg-purple border-radius-top-10 px-3 py-4">
                            <div class="col-12 pb-3 border-radius-10 d-flex justify-content-between">
                                <p class="fw-500 font-size-20 mb-0 line-26 text-light">Propor outro valor</p>
                                <button type="button" (click)="proposeValue('close')"
                                    class="close border-radius-100 bg-transparent">
                                    <i class="bi font-size-36 color-white bi-x"></i>
                                </button>
                            </div>
                            <div class="col-12 py-3 border-radius-10">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <span class="fw-400 font-size-18 line-24 text-light">Valor do anúncio</span>
                                    </div>
                                    <div class="col-sm-6 d-flex justify-content-sm-end">
                                        <span *ngIf="response.typeOfAd === 'rent'"
                                            class="fw-400 font-size-18 line-24 text-light">{{response.leaseValue |
                                            currency:
                                            'R$'}}</span>
                                        <span *ngIf="response.typeOfAd === 'sale'"
                                            class="fw-400 font-size-18 line-24 text-light">{{response.saleValue |
                                            currency:
                                            'R$'}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 pb-3 border-radius-10">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <span *ngIf="response.typeOfAd === 'rent'"
                                            class="fw-400 font-size-18 line-24 text-light">Valor de proposta de
                                            aluguel</span>
                                        <span *ngIf="response.typeOfAd === 'sale'"
                                            class="fw-400 font-size-18 line-24 text-light">Valor de proposta de
                                            venda</span>
                                    </div>
                                    <div class="col-sm-6 d-flex justify-content-sm-end">
                                        <!-- <span *ngIf="response.typeOfAd === 'rent'"
                                            class="fw-400 font-size-18 line-24 text-light">{{response.leaseValue |
                                            currency:
                                            'R$'}}</span> -->
                                        <input *ngIf="response.typeOfAd === 'rent'" type="text"
                                            formControlName="suggestedRentAmount"
                                            class="form-control input-custom-proposal" currencyMask
                                            [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
                                        <input *ngIf="response.typeOfAd === 'sale'" type="text"
                                            formControlName="suggestedSaleAmount"
                                            class="form-control input-custom-proposal" currencyMask
                                            [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="acceptProperty" class="col-12 pb-3 border-radius-10">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <span class="fw-400 font-size-18 line-24 text-light">Valor do imóvel</span>
                                    </div>
                                    <div class="col-sm-6 d-flex justify-content-sm-end">
                                        <input type="text" formControlName="salePropertyAsPaymentAmount"
                                            class="form-control input-custom-proposal" currencyMask
                                            [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="acceptVehicle" class="col-12 pb-3 border-radius-10">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <span class="fw-400 font-size-18 line-24 text-light">Valor do veículo</span>
                                    </div>
                                    <div class="col-sm-6 d-flex justify-content-sm-end">
                                        <input type="text" formControlName="saleCarAsPaymentAmount"
                                            class="form-control input-custom-proposal" currencyMask
                                            [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="acceptFinancing" class="col-12 pb-3 border-radius-10">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <span class="fw-400 font-size-18 line-24 text-light">Valor do
                                            financiamento</span>
                                    </div>
                                    <div class="col-sm-6 d-flex justify-content-sm-end">
                                        <input type="text" formControlName="saleFinancingAsPaymentAmount"
                                            class="form-control input-custom-proposal" currencyMask
                                            [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="acceptInstallment" class="col-12 pb-3 border-radius-10">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <span class="fw-400 font-size-18 line-24 text-light">Valor do parcelamento
                                            direto</span>
                                    </div>
                                    <div class="col-sm-6 d-flex justify-content-sm-end">
                                        <input type="text" formControlName="saleDirectInstallmentAsPaymentAmount"
                                            class="form-control input-custom-proposal" currencyMask
                                            [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row bg-white border-radius-bottom-10 px-3 py-4">
                            <div class="col-12 py-2 d-flex justify-content-between">
                                <p class="fw-400 d-flex mb-0 align-items-center font-size-18 line-24 color-black">
                                    Valor do anúncio
                                    <i class="bi color-muted px-2 font-size-30 bi-info-circle"></i>
                                </p>
                                <span *ngIf="response.typeOfAd === 'rent'"
                                    class="fw-400 font-size-18 line-24 color-black">{{response.leaseValue |
                                    currency:
                                    'R$'}}</span>

                                <span *ngIf="response.typeOfAd === 'sale'"
                                    class="fw-400 font-size-18 line-24 color-black">{{response.saleValue |
                                    currency:
                                    'R$'}}</span>

                                <!-- <span *ngIf="response.typeOfAd === 'rent'"
                                            class="fw-400 font-size-18 line-24 text-light">{{response.leaseValue |
                                            currency:
                                            'R$'}}</span>
                                        <span *ngIf="response.typeOfAd === 'sale'"
                                            class="fw-400 font-size-18 line-24 text-light">{{response.saleValue |
                                            currency:
                                            'R$'}}</span> -->
                            </div>
                            <div class="col-12 py-2 d-flex justify-content-between">
                                <p class="fw-400 d-flex mb-0 align-items-center font-size-18 line-24 color-black">
                                    IPTU
                                    <i class="bi color-muted px-2 font-size-30 bi-info-circle"></i>
                                </p>
                                <span class="fw-400 font-size-18 line-24 color-black">{{response.valueOfIptu | currency:
                                    'R$'}}</span>
                            </div>
                            <div class="col-12 py-2 d-flex justify-content-between">
                                <p class="fw-400 d-flex mb-0 align-items-center font-size-18 line-24 color-black">
                                    Condomínio
                                    <i class="bi color-muted px-2 font-size-30 bi-info-circle"></i>
                                </p>
                                <span class="fw-400 font-size-18 line-24 color-black">{{response.condominiumValue |
                                    currency: 'R$'}}</span>
                            </div>
                            <!-- <div class="col-12 py-2 d-flex justify-content-between">
                                <p class="fw-400 d-flex mb-0 align-items-center font-size-18 line-24 color-black">
                                    Seguro incêndio
                                    <i class="bi color-muted px-2 font-size-30 bi-info-circle"></i>
                                </p>
                                <span class="fw-400 font-size-18 line-24 color-black">R$ 79</span>
                            </div>
                            <div class="col-12 py-2 d-flex justify-content-between">
                                <p class="fw-400 d-flex mb-0 align-items-center font-size-18 line-24 color-black">
                                    Taxa de serviço
                                    <i class="bi color-muted px-2 font-size-30 bi-info-circle"></i>
                                </p>
                                <span class="fw-400 font-size-18 line-24 color-black">R$ 84</span>
                            </div> -->
                            <img src="../../../assets/img/line.png" class="px-3 w-100" />
                            <div class="col-12 py-3">
                                <p class="w-100 pb-4 d-flex align-items-center justify-content-between">
                                    <span class="fw-700 font-size-18 line-24 color-black">Valor total</span>
                                    <span *ngIf="response.typeOfAd === 'rent'"
                                        class="fw-700 font-size-18 line-24 color-black">{{toNumber(response.valueOfIptu)
                                        / 12 +
                                        toNumber(response.leaseValue) + toNumber(response.condominiumValue) |
                                        currency: 'R$'}}</span>
                                    <span *ngIf="response.typeOfAd === 'sale'"
                                        class="fw-700 font-size-18 line-24 color-black">{{toNumber(response.saleValue) |
                                        currency: 'R$'}}</span>
                                </p>
                                <span class="fw-400 font-size-18 line-24 color-black">
                                    Comentários sobre essa negociação
                                </span>
                                <textarea formControlName="comment" name="" id="" cols="30" rows="2"
                                    class="fw-400 w-100 my-3 font-size-18 line-24 color-black border border-radius-10 px-4 py-3"></textarea>

                                <p class="fw-400 px-3 font-size-18 line-24 color-black">
                                    Você pode aproveitar esse espaço para explicar o motivo do seu
                                    desconto ao proprietário. <a [routerLink]="['#']"
                                        class="fw-400 font-size-18 line-24">Saiba mais</a>
                                </p>
                            </div>
                            <div class="col-12 justify-content-end d-flex py-3">
                                <button (click)="proposeValue('submit')" type="button"
                                    class="btn bg-purple border-radius-10 h-74 w-50 fw-700 font-size-18 line-24 text-light">
                                    Continuar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>