
<section class="position-relative w-100">
    <div class="bg-whitelight w-100 max-w-1918 m-0-auto ">
    <div class="row h-100 pb-5  m-0-auto mt-5 max-w-1227">
        <div class="col-12 text-center mt-5 mb-3">
            <h4 class="fw-700 font-size-32 color-black line-43">Abrindo portas</h4>
            <span class="fw-400 font-size-16 line-20 color-black">A Imoveistock é diferente de tudo.</span>
        </div>
        <div class="col-4 col-cards mt-3">
            <div class="w-100 border-radius-10 p-3 my-5 bg-white h-350 text-align-center">
                <img src="../../../assets/icon/likeheart.png" class="icon-cards"/>
                <p class="d-grid text-center">
                    <span class="fw-700 font-size-18 line-24 color-black">Você
                        encontra primero aqui</span>
                        <br/>
                    <span class="fw-400 font-size-14 line-240color-black">Os
                        imóveis chegam primeiro a Imoveistock, os segredo para
                        isso?
                        Bem, isso não podemos contar :)
                    </span>
                </p>
            </div>
        </div>
        <div class="col-4 col-cards mt-3">
            <div class="w-100 border-radius-10 p-3 my-5 bg-white h-350 text-align-center">
                <img src="../../../assets/icon/chatwindow.png" class="icon-cards"/>
                <p class="d-grid text-center">
                    <span class="fw-700 font-size-18 line-24 color-black">
                        Muitas, mas muita opção
                    </span>
                        <br/>
                    <span class="fw-400 font-size-14 line-240color-black">Os
                        imóveis chegam primeiro a Imoveistock, os segredo para
                        isso?
                        Bem, isso não podemos contar :)
                    </span>
                </p>
            </div>
        </div>
        <div class="col-4 col-cards mt-3">
            <div class="w-100 border-radius-10 p-3 my-5 bg-white h-350 text-align-center">
                <img src="../../../assets/icon/chats.png" class="icon-cards"/>
                <p class="d-grid text-center">
                    <span class="fw-700 font-size-18 line-24 color-black">Você
                        Feito por quem conhece de imóveis
                    </span>
                        <br/>
                    <span class="fw-400 font-size-14 line-240color-black">Os
                        A gente sabe vender por que conhece o mercado e pode dizer o que realmente vale a pena para você.
                    </span>
                </p>
            </div>
        </div>
        <div class="col-12 py-5 col-final-card d-flex justify-content-between">
            <p class="d-grid">
                <span class="fw-900 font-size-28 line-34 color-black">Tem um imóvel para indicar?</span>
                <span class="fw-400 font-size-16 line-20 color-black">Acesse nossa plataforma de indicação e comece a ganhar dinheiro.</span>
            </p>
            <button type="button" [routerLink]="['#']" class="fw-400 text-center font-size-18 line-20 text-light py-4 bg-purple border-radius-10 btn btn-indicate px-5">Indique agora</button>
        </div>
    </div>
    </div>
</section>