<section class="bg-whitelight px-5p position-relative w-100">
    <div class="w-100 max-w-1918 m-0-auto ">
        <div class="row h-100 pb-4 m-0-auto my-5 max-w-1918">
            <div class="col-12 text-center mt-5 mb-3">
                <h4 class="fw-700 font-size-32 color-black text-mobile line-43">Abrindo portas</h4>
                <span class="fw-400 font-size-16 line-20 color-black">A imoveistock é diferente de tudo.</span>
            </div>

            <div class="col-4 col-cards mt-3 padding-x mx-0 px-0">
                <div class="w-100 border-radius-10 p-3 mt-2 bg-white h-100 text-align-center">
                    <img src="../../../assets/icon/likeheart.svg" class="icon-cards-1" />
                    <p class="d-grid text-center">
                        <span class="fw-700 font-size-18 line-24 color-black">Você encontra primero aqui</span>
                        <br />
                        <span class="fw-400 font-size-14 line-240color-black">Os imóveis chegam primeiro a imoveistock,
                            o segredo para isso?
                            Bem, isso não podemos contar :)
                        </span>
                    </p>
                </div>
            </div>

            <div class="col-4 col-cards padding-x mt-3">
                <div class="w-100 border-radius-10 p-3 mt-2 bg-white h-100 text-align-center">
                    <img src="../../../assets/icon/chatwindow.svg" class="icon-cards" />
                    <p class="d-grid text-center">
                        <span class="fw-700 font-size-18 line-24 color-black">
                            Muitas opções de qualidade
                        </span>
                        <br />
                        <span class="fw-400 font-size-14 line-240color-black">Quantidade é qualidade, sim. Pelo menos
                            aqui! São muitas propriedades e todas muito bem selecionadas.
                        </span>
                    </p>
                </div>
            </div>

            <div class="col-4 col-cards padding-x mt-3 px-0">
                <div class="w-100 border-radius-10 p-3 mt-2 bg-white h-100 text-align-center">
                    <img src="../../../assets/icon/chats.svg" class="icon-cards" />
                    <p class="d-grid text-center">
                        <span class="fw-700 font-size-18 line-24 color-black">
                            Feito por quem conhece de imóveis
                        </span>
                        <br />
                        <span class="fw-400 font-size-14 line-240color-black">A gente sabe vender por que conhece o
                            mercado e pode dizer o que realmente vale a pena para você.
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="row mx-0 px-5p bg-graylight padding-x d-flex justify-content-center">
    <div class="col-12 px-0 col-btns-announcements py-5 max-w-1918 mt-2 col-final-card d-flex justify-content-between">
        <div class="d-grid">
            <p class="fw-900 dmsans font-size-28 line-34 color-black">Tem um imóvel para indicar?</p>
            <span class="fw-400 dmsans font-size-16 line-20 color-black">Acesse nossa plataforma de indicação e
                comece a ganhar dinheiro.</span>
        </div>
        <button type="button" (click)="openLogin()"
            class="fw-400 dmsans text-center font-size-18 line-20 text-light py-4 bg-purple border-radius-10 btn btn-indicate px-5">Indique
            agora</button>
    </div>
</div>