<section class="bg-home-gallery px-5p position-relative w-100">
    <div class="row bg-white h-100 m-0-auto pb-5 mt-5 max-w-1918">
        <div class="col-12">
            <div class="w-100 mt-5 text-align-center">
                <p class="fw-700 text-mobile font-size-32 mb-0 line-43 color-black">
                    Explore por bairros
                </p>
                <h4 class="fw-400 font-size-16 line-20 color-black">
                    cada lugar, uma nova oportunidade
                </h4>
            </div>
        </div>
        <div class="col-12 pb-5 px-0">
            <swiper class="col-12 max-w-1918" style="height: calc(100% + 63px);" [spaceBetween]="1"
                [slidesPerView]="1" [pagination]="{ clickable: true }" [scrollbar]="true">
                <ng-template class="w-100" swiperSlide>
                    <div class="row col-md-5 px-0 m-0-auto max-w-1918">
                        <div class="col-4 mt-3 col-gallery">
                            <div class="bg-city-01 h-500 align-items-end d-flex w-100 border-radius-10">
                                <p class="d-grid w-100 h-fit text-center">
                                    <span class="fw-700 font-size-18 line-24 text-light">Jardin Botânico</span>
                                    <span class="fw-400 font-size-14 line-20 text-light">18 Propriedades</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-8 mt-3 col-gallery">
                            <div class="bg-city-02 h-500 align-items-end d-flex w-100 border-radius-10">
                                <p class="d-grid w-100 h-fit text-center">
                                    <span class="fw-700 font-size-18 line-24 text-light">Centro</span>
                                    <span class="fw-400 font-size-14 line-20 text-light">18 Propriedades</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-8 col-gallery mt-3">
                            <div class="bg-city-03 h-500 align-items-end d-flex w-100 border-radius-10">
                                <p class="d-grid w-100 h-fit text-center">
                                    <span class="fw-700 font-size-18 line-24 text-light">Champagnat</span>
                                    <span class="fw-400 font-size-14 line-20 text-light">18 Propriedades</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-4 col-gallery mt-3">
                            <div class="bg-city-04 h-500 align-items-end d-flex w-100 border-radius-10">
                                <p class="d-grid w-100 h-fit text-center">
                                    <span class="fw-700 font-size-18 line-24 text-light">Ecoville</span>
                                    <span class="fw-400 font-size-14 line-20 text-light">18 Propriedades</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template class="w-100" swiperSlide>
                    <div class="row col-md-5 px-0 m-0-auto max-w-1918">
                        <div class="col-4 mt-3 col-gallery">
                            <div class="bg-city-05 h-500 align-items-end d-flex w-100 border-radius-10">
                                <p class="d-grid w-100 h-fit text-center">
                                    <span class="fw-700 font-size-18 line-24 text-light">Cabral</span>
                                    <span class="fw-400 font-size-14 line-20 text-light">18 Propriedades</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-8 mt-3 col-gallery">
                            <div class="bg-city-06 h-500 align-items-end d-flex w-100 border-radius-10">
                                <p class="d-grid w-100 h-fit text-center">
                                    <span class="fw-700 font-size-18 line-24 text-light">Centro Cívico</span>
                                    <span class="fw-400 font-size-14 line-20 text-light">18 Propriedades</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-8 col-gallery mt-3">
                            <div class="bg-city-07 h-500 align-items-end d-flex w-100 border-radius-10">
                                <p class="d-grid w-100 h-fit text-center">
                                    <span class="fw-700 font-size-18 line-24 text-light">Água Verde</span>
                                    <span class="fw-400 font-size-14 line-20 text-light">18 Propriedades</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-4 col-gallery mt-3">
                            <div class="bg-city-08 h-500 align-items-end d-flex w-100 border-radius-10">
                                <p class="d-grid w-100 h-fit text-center">
                                    <span class="fw-700 font-size-18 line-24 text-light">Santa Felicidade</span>
                                    <span class="fw-400 font-size-14 line-20 text-light">18 Propriedades</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </swiper>

        </div>
    </div>
</section>