<main class="bg-whitelight position-relative w-100">
    <form [formGroup]="form" class="row form-search h-100 m-0-auto w-100
        max-w-1918" style="padding-top: 92px;">
        <div class="col-12 px-0">
            <div class="w-100 bg-header-contact h-600">
                <div class="row mx-0 h-100 align-items-end">
                    <div class="col-12" style="padding: 0% 8% 5%;">
                        <p class="fw-700 font-size-18 line-24 text-light">home > Contato</p>
                        <p class="fw-700 font-size-40 line-56 text-light">Fale conosco</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 my-5">
            <div class="row mx-5 row-contact">
                <div class="col-8 mt-5 col-contact">
                    <div class="w-100 border contact-forms border-radius-10 p-5 bg-white">
                        <p class="fw-700 d-grid py-5 font-size-18 line-24 color-black">
                            Envie uma mensagem
                        <br/>
                            <span class="fw-400 font-size-14 line-20 color-black">
                                Se você prefere falar com a gente por e-mail, preencha os campos abaixo e assim que possível a nossa equipe vai 
                                te retornar. Se estiver com pressa, temos várias outras formas de contato.
                            </span>
                        </p>
                        <div class="row">
                            <div class="col-6 col-contact mb-5">
                                <input type="text" placeholder="Nome" formControlName="name" class="w-100 border border-radius-10 px-3 fw-400 font-size-16 line-18 color-black h-74 bg-whitelight"/>
                            </div>
                            <div class="col-6 col-contact mb-5">
                                <input type="email" placeholder="E-mail" formControlName="email" class="w-100 border border-radius-10 px-3 fw-400 font-size-16 line-18 color-black h-74 bg-whitelight"/>
                            </div>
                            <div class="col-6 col-contact mb-5">
                                <input type="tel" placeholder="Telefone/Whatsapp" formControlName="tel" class="w-100 border border-radius-10 px-3 fw-400 font-size-16 line-18 color-black h-74 bg-whitelight"/>
                            </div>
                            <div class="col-6 col-contact mb-5">
                                <input type="text" placeholder="Assunto" formControlName="subject" class="w-100 border border-radius-10 px-3 fw-400 font-size-16 line-18 color-black h-74 bg-whitelight"/>
                            </div>
                            <div class="col-12 mb-5">
                                <textarea type="text" maxlength="300" placeholder="Mensagem" formControlName="msg" class="w-100 border border-radius-10 p-4 fw-400 font-size-16 line-18 color-black h-130 bg-whitelight"></textarea>
                            </div>
                            <div class="col-4 col-contact">
                                <button type="submit" [disabled]="form.invalid" class="w-100 h-74 border-radius-10 bg-purple btn fw-700 font-size-16 line-20 text-light">
                                    Enviar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4 mt-5 col-contact">
                    <div class="w-100 border contact-forms border-radius-10 p-5 bg-white">
                        <p class="fw-700 d-grid py-5 font-size-18 line-24 color-black">
                            Fale conosco
                            <span class="fw-400 font-size-14 line-20 color-black">
                                Estamos esperando por seu contato, escolha <br/>a melhor plataforma e fale com a gente.
                            </span>
                        </p>
                        <p class="fw-700 d-grid pb-5 pt-3 font-size-18 line-24 color-black">
                            Endereço 
                            <span class="fw-400 font-size-14 line-20 color-black">Alameda Pres. Taunay, 829  </span>
                        </p>
                        <p class="fw-700 d-grid pb-5 pt-3 font-size-18 line-24 color-black">
                            Telefone 
                            <span class="fw-400 font-size-14 line-20 color-black">(41) 9.8721-2409</span>
                        </p>
                        <p class="fw-700 d-grid pb-5 pt-3 font-size-18 line-24 color-black">
                            E-mail 
                            <span class="fw-400 font-size-14 line-20 color-black">contato@imoveistock.com</span>
                        </p>
                        <div class="mb-5 pb-2">
                            <h3 class="fw-700 font-size-18 line-24 color-black">Redes Sociais</h3>
                            <div class="row  pt-4">
                                <div class="col">
                                    <img src="../../../assets/icon/facebook.png" class="" />
                                </div>
                                <div class="col">
                                    <img src="../../../assets/icon/instagram.png" class="" />
                                </div>
                                <div class="col">
                                    <img src="../../../assets/icon/linkedin.png" class="" />
                                </div>
                                <div class="col">
                                    <img src="../../../assets/icon/youtube.png" class="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mt-5">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12475.259045882012!2d-49.31280632596521!3d-25.427197781287422!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94dce35351cdb3dd%3A0x6d2f6ba5bacbe809!2sCuritiba%2C%20PR!5e0!3m2!1spt-BR!2sbr!4v1670413988523!5m2!1spt-BR!2sbr" class="w-100 h-600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <div class="w-100 py-5 col-final-card d-flex align-items-center max-w-1227">
                <p class="w-100 d-grid">
                    <span class="fw-700 font-size-28 line-34 color-black">Tem um imóvel para indicar?</span>
                    <span class="fw-400 font-size-16 line-20 color-black">Acesse nossa plataforma de indicação e comece a ganhar dinheiro.</span>
                </p>
                <button type="button"class="btn btn-indicate bg-purple h-74 w-25 fw-400 font-size-16 line-20 text-light border-radius-10">
                    Indique agora
                </button>
            </div>
        </div>
    </form>
</main>