.border-div-purple {
    background: #FEFFFF;
    border: 1px solid #542FDF;
    box-shadow: 0px 2px 4px rgba(78, 86, 140, 0.06);
    border-radius: 12px;
}

.border-div-grey {
    background: #F0F1F3;
    border-radius: 5px;
}