<main class="bg-home-header px-5p  d-flex justify-content-center position-relative w-100">
    <div class="w-100  max-w-1918 d-flex flex-column justify-content-end h-100">
        <div class="px-0 w-100 mb-5">
            <div class="row row-of-home mx-0">
                <div class="col-5 col-12-mobile">
                    <form [formGroup]="form"
                        class="row mx-0 w3-white p-4 border-radius-10 justify-content-center form-header">
                        <div class="col-12">
                            <p class="fw-700 open-doors-title font-size-48 line-56 color-black">Abrindo novas portas</p>
                        </div>
                        <div class="position-relative w-100 d-flex border-bottom-purple justify-content-center d-flex">
                            <button type="button" formControlName="typeStatus" ngDefaultControl value="sale"
                                [class]="collapsed! ? 'bg-white color-black' : 'bg-purple text-light arrow-box-buy'"
                                (click)="buyOption('sale')"
                                class="btn h-51 btn-home-sale-rent border-radius-0 w-111 fw-400 font-size-16 line-20 ">
                                Comprar
                            </button>
                            <div class="position-relative">
                                <button type="button" formControlName="typeStatus" ngDefaultControl value="rent"
                                    [class]="collapsed ? 'bg-purple text-light arrow-box-rent' : 'bg-white color-black '"
                                    (click)="buyOption('rent')"
                                    class="btn h-51 btn-home-sale-rent border-radius-0  w-111 fw-400 font-size-16 line-20">
                                    Alugar
                                </button>
                            </div>
                        </div>
                        <div class="col-12 px-0 d-flex justify-content-center">
                            <div class="w-100 painel-browser h-auto max-w-1918">
                                <div class="row px-0 mx-0 d-flex content-painel align-items-center">
                                    <div class="dropdown mb-3 px-0 col-12">
                                        <button
                                            class="btn w-100 border text-left px-3 input-property border-radius-0 color-black h-51 fw-400 bg-white font-size-14 line-20 color-dark dropdown-toggle"
                                            type="button" id="dropdownforhome" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                            {{typePropertyAllTitle}}
                                        </button>
                                        <div class="dropdown-menu border-radius-10 py-4 max-h-400 overflow-x-scroll w-100"
                                            aria-labelledby="dropdownforhome">
                                            <!-- <div class="form-check px-5">
                                                <input (click)="typePropertyAll('todososimoveis')"
                                                    [checked]="checkedAll" class="form-check-input cursor-pointer"
                                                    type="checkbox" id="chooseFilter">
                                                <label class="form-check-label cursor-pointer" for="chooseFilter">
                                                    Todos os imóveis
                                                </label>
                                            </div> -->
                                            <div class="w-100 px-3 pt-4 pb-2">
                                                <h3 class="fw-700 font-size-14 line-20 color-black">Residencial</h3>
                                            </div>
                                            <div *ngIf="AllResidencial" class="form-check px-5 mb-3">
                                                <input
                                                    (click)="typePropertyCharacteristics(selectedResidencial, styleforPropertyE,'todosresidencial')"
                                                    class="form-check-input cursor-pointer"
                                                    [checked]="checkedAllResidencial" type="checkbox" id="chooseFilter">
                                                <label class="form-check-label cursor-pointer" for="chooseFilter">
                                                    Todos os imóveis em Residencial
                                                </label>
                                            </div>
                                            <div *ngIf="AllResidencial2" class="form-check px-5 mb-3">
                                                <input
                                                    (click)="typePropertyCharacteristics(selectedResidencial, styleforPropertyE,'todosresidencial2')"
                                                    class="form-check-input cursor-pointer"
                                                    [checked]="checkedAllResidencial2" type="checkbox"
                                                    id="chooseFilter">
                                                <label class="form-check-label cursor-pointer" for="chooseFilter">
                                                    Todos os imóveis em Residencial 2
                                                </label>
                                            </div>
                                            <div class="form-check px-5  mb-3">
                                                <input
                                                    (click)="typePropertyCharacteristics(selectedResidencial, styleforPropertyE, 'apartamento')"
                                                    class="form-check-input cursor-pointer"
                                                    [checked]="checkedapartamento" type="checkbox" id="chooseFilter">
                                                <label class="form-check-label text-capitalize cursor-pointer"
                                                    for="chooseFilter">
                                                    Apartamento
                                                </label>
                                            </div>
                                            <div class="form-check px-5  mb-3">
                                                <input
                                                    (click)="typePropertyCharacteristics(selectedResidencial, styleforPropertyE, 'studio')"
                                                    class="form-check-input cursor-pointer" [checked]="checkedstudio"
                                                    type="checkbox" id="chooseFilter">
                                                <label class="form-check-label text-capitalize cursor-pointer"
                                                    for="chooseFilter">
                                                    Studio
                                                </label>
                                            </div>
                                            <div class="form-check px-5  mb-3">
                                                <input
                                                    (click)="typePropertyCharacteristics(selectedResidencial, styleforPropertyE, 'kitnet')"
                                                    class="form-check-input cursor-pointer" [checked]="checkedkitnet"
                                                    type="checkbox" id="chooseFilter">
                                                <label class="form-check-label text-capitalize cursor-pointer"
                                                    for="chooseFilter">
                                                    kitnet
                                                </label>
                                            </div>
                                            <div class="form-check px-5  mb-3">
                                                <input
                                                    (click)="typePropertyCharacteristics(selectedResidencial, styleforPropertyE, 'casacondominio')"
                                                    class="form-check-input cursor-pointer"
                                                    [checked]="checkedcasacondominio" type="checkbox" id="chooseFilter">
                                                <label class="form-check-label text-capitalize cursor-pointer"
                                                    for="chooseFilter">
                                                    casa de condominio
                                                </label>
                                            </div>
                                            <div class="form-check px-5  mb-3">
                                                <input
                                                    (click)="typePropertyCharacteristics(selectedResidencial, styleforPropertyE, 'casadevila')"
                                                    class="form-check-input cursor-pointer"
                                                    [checked]="checkedcasadevila" type="checkbox" id="chooseFilter">
                                                <label class="form-check-label text-capitalize cursor-pointer"
                                                    for="chooseFilter">
                                                    casa de vila
                                                </label>
                                            </div>
                                            <div class="form-check px-5  mb-3">
                                                <input
                                                    (click)="typePropertyCharacteristics(selectedResidencial, styleforPropertyE, 'cobertura')"
                                                    class="form-check-input cursor-pointer" [checked]="checkedcobertura"
                                                    type="checkbox" id="chooseFilter">
                                                <label class="form-check-label text-capitalize cursor-pointer"
                                                    for="chooseFilter">
                                                    cobertura
                                                </label>
                                            </div>
                                            <div class="form-check px-5  mb-3">
                                                <input
                                                    (click)="typePropertyCharacteristics(selectedResidencial, styleforPropertyE, 'loft')"
                                                    class="form-check-input cursor-pointer" [checked]="checkedloft"
                                                    type="checkbox" id="chooseFilter">
                                                <label class="form-check-label text-capitalize cursor-pointer"
                                                    for="chooseFilter">
                                                    loft
                                                </label>
                                            </div>
                                            <div class="form-check px-5  mb-3">
                                                <input
                                                    (click)="typePropertyCharacteristics(selectedResidencial, styleforPropertyE, 'flat')"
                                                    class="form-check-input cursor-pointer" [checked]="checkedflat"
                                                    type="checkbox" id="chooseFilter">
                                                <label class="form-check-label text-capitalize cursor-pointer"
                                                    for="chooseFilter">
                                                    flat
                                                </label>
                                            </div>
                                            <div class="form-check px-5  mb-3">
                                                <input
                                                    (click)="typePropertyCharacteristics(selectedResidencial, styleforPropertyE, 'terreno')"
                                                    class="form-check-input cursor-pointer" [checked]="checkedterreno"
                                                    type="checkbox" id="chooseFilter">
                                                <label class="form-check-label text-capitalize cursor-pointer"
                                                    for="chooseFilter">
                                                    terreno
                                                </label>
                                            </div>
                                            <div class="form-check px-5  mb-3">
                                                <input
                                                    (click)="typePropertyCharacteristics(selectedResidencial, styleforPropertyE, 'chacara')"
                                                    class="form-check-input cursor-pointer" [checked]="checkedchacara"
                                                    type="checkbox" id="chooseFilter">
                                                <label class="form-check-label text-capitalize cursor-pointer"
                                                    for="chooseFilter">
                                                    chacara
                                                </label>
                                            </div>



                                            <!-- ------------- COMERCIAL ----------------->
                                            <div class="w-100 px-3 pt-4 pb-2">
                                                <h3 class="fw-700 font-size-14 line-20 color-black">Comercial</h3>
                                            </div>
                                            <div *ngIf="AllComercial" class="form-check px-5 mb-3">
                                                <input
                                                    (click)="typePropertyCharacteristics(selectedComercial, styleforPropertyT, 'todoscomercial')"
                                                    class="form-check-input cursor-pointer" type="checkbox"
                                                    [checked]="checkedAllComercial" id="chooseFilter">
                                                <label class="form-check-label text-capitalize cursor-pointer"
                                                    for="chooseFilter">
                                                    Todos os imóveis em Comercial
                                                </label>
                                            </div>
                                            <div *ngIf="AllComercial2" class="form-check px-5 mb-3">
                                                <input
                                                    (click)="typePropertyCharacteristics(selectedComercial, styleforPropertyT, 'todoscomercial2')"
                                                    class="form-check-input cursor-pointer" type="checkbox"
                                                    [checked]="checkedAllComercial2" id="chooseFilter">
                                                <label class="form-check-label text-capitalize cursor-pointer"
                                                    for="chooseFilter">
                                                    Todos os imóveis em Comercial 2
                                                </label>
                                            </div>

                                            <div class="form-check px-5 mb-3">
                                                <input
                                                    (click)="typePropertyCharacteristics(selectedComercial, styleforPropertyT, 'loja')"
                                                    class="form-check-input cursor-pointer" type="checkbox"
                                                    [checked]="checkedloja" id="chooseFilter">
                                                <label class="form-check-label text-capitalize cursor-pointer"
                                                    for="chooseFilter">
                                                    Loja / Ponto Comercial
                                                </label>
                                            </div>
                                            <div class="form-check px-5 mb-3">
                                                <input
                                                    (click)="typePropertyCharacteristics(selectedComercial, styleforPropertyT, 'salao')"
                                                    class="form-check-input cursor-pointer" type="checkbox"
                                                    [checked]="checkedsalao" id="chooseFilter">
                                                <label class="form-check-label text-capitalize cursor-pointer"
                                                    for="chooseFilter">
                                                    Salão
                                                </label>
                                            </div>
                                            <div class="form-check px-5 mb-3">
                                                <input
                                                    (click)="typePropertyCharacteristics(selectedComercial, styleforPropertyT, 'sala')"
                                                    class="form-check-input cursor-pointer" type="checkbox"
                                                    [checked]="checkedsala" id="chooseFilter">
                                                <label class="form-check-label text-capitalize cursor-pointer"
                                                    for="chooseFilter">
                                                    sala
                                                </label>
                                            </div>
                                            <div class="form-check px-5 mb-3">
                                                <input
                                                    (click)="typePropertyCharacteristics(selectedComercial, styleforPropertyE, 'galpao')"
                                                    class="form-check-input cursor-pointer" type="checkbox"
                                                    [checked]="checkedgalpao" id="chooseFilter">
                                                <label class="form-check-label text-capitalize cursor-pointer"
                                                    for="chooseFilter">
                                                    Galpão
                                                </label>
                                            </div>
                                            <div class="form-check px-5 mb-3">
                                                <input
                                                    (click)="typePropertyCharacteristics(selectedComercial, styleforPropertyT, 'conjuntocomercial')"
                                                    class="form-check-input cursor-pointer" type="checkbox"
                                                    [checked]="checkedconjuntocomercial" id="chooseFilter">
                                                <label class="form-check-label text-capitalize cursor-pointer"
                                                    for="chooseFilter">
                                                    Conjunto comercial
                                                </label>
                                            </div>
                                            <div class="form-check px-5 mb-3">
                                                <input
                                                    (click)="typePropertyCharacteristics(selectedComercial, styleforPropertyT, 'casacomercial')"
                                                    class="form-check-input cursor-pointer" type="checkbox"
                                                    [checked]="checkedcasacomercial" id="chooseFilter">
                                                <label class="form-check-label text-capitalize cursor-pointer"
                                                    for="chooseFilter">
                                                    casa comercial
                                                </label>
                                            </div>
                                            <div class="form-check px-5 mb-3">
                                                <input
                                                    (click)="typePropertyCharacteristics(selectedComercial, styleforPropertyT, 'hotel')"
                                                    class="form-check-input cursor-pointer" type="checkbox"
                                                    [checked]="checkedhotel" id="chooseFilter">
                                                <label class="form-check-label text-capitalize cursor-pointer"
                                                    for="chooseFilter">
                                                    hotel
                                                </label>
                                            </div>
                                            <div class="form-check px-5 mb-3">
                                                <input
                                                    (click)="typePropertyCharacteristics(selectedComercial, styleforPropertyT, 'motel')"
                                                    class="form-check-input cursor-pointer" type="checkbox"
                                                    [checked]="checkedmotel" id="chooseFilter">
                                                <label class="form-check-label text-capitalize cursor-pointer"
                                                    for="chooseFilter">
                                                    motel
                                                </label>
                                            </div>
                                            <div class="form-check px-5 mb-3">
                                                <input
                                                    (click)="typePropertyCharacteristics(selectedComercial, styleforPropertyT, 'pousada')"
                                                    class="form-check-input cursor-pointer" type="checkbox"
                                                    [checked]="checkedpousada" id="chooseFilter">
                                                <label class="form-check-label text-capitalize cursor-pointer"
                                                    for="chooseFilter">
                                                    pousada
                                                </label>
                                            </div>
                                            <div class="form-check px-5 mb-3">
                                                <input
                                                    (click)="typePropertyCharacteristics(selectedComercial, styleforPropertyT, 'lajecorporativa')"
                                                    class="form-check-input cursor-pointer" type="checkbox"
                                                    [checked]="checkedlajecorporativa" id="chooseFilter">
                                                <label class="form-check-label text-capitalize cursor-pointer"
                                                    for="chooseFilter">
                                                    Laje corporativa
                                                </label>
                                            </div>
                                            <div class="form-check px-5 mb-3">
                                                <input
                                                    (click)="typePropertyCharacteristics(selectedComercial, styleforPropertyT, 'prediointeiro')"
                                                    class="form-check-input cursor-pointer" type="checkbox"
                                                    [checked]="checkedprediointeiro" id="chooseFilter">
                                                <label class="form-check-label text-capitalize cursor-pointer"
                                                    for="chooseFilter">
                                                    Prédio inteiro
                                                </label>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-12 px-0 mb-3 ">
                                        <div class="w-100 z-10 max-h-400 overflow-x-scroll border-radius-0">
                                            <select formControlName="typePropertyState" (change)="getEstados($event)"
                                                class="w-100 px-3 border text-left select-property border-radius-0 h-51 bg-white fw-400 font-size-14 line-20 color-black"
                                                [(ngModel)]="stateSelected" id="state"
                                                aria-label="Default select example">
                                                <option [value]="stateSelected" disabled selected value>
                                                    {{stateSelected}}</option>
                                                <option *ngFor="let item of estados.estados" [value]="item.nome">{{item.nome}}</option>
                                            </select> 
                                        </div>
                                    </div>
                                    <div class="col-12 px-0 mb-4 ">
                                        <ng-autocomplete [data]="listAllCity" [searchKeyword]="keyword"
                                            placeholder="Escolha uma cidade" (selected)='selectEvent($event)'
                                            (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)'
                                            historyIdentifier="listAllCity" [itemTemplate]="itemTemplate"
                                            [notFoundTemplate]="notFoundTemplate">
                                        </ng-autocomplete>

                                        <ng-template #itemTemplate let-item>
                                            <a [innerHTML]="item.name"></a>
                                        </ng-template>

                                        <ng-template #notFoundTemplate let-notFound>
                                            <div [innerHTML]="notFound"></div>
                                        </ng-template>

                                    </div>
                                    <div class="col-12 px-0 mb-3">
                                        <div class="row">
                                            <div class="col-6">
                                                <div *ngIf="!collapsed"
                                                    class="w-100 d-flex align-items-center max-h-400 overflow-x-scroll border-radius-0">
                                                    <div style="border-right: 0px !important;"
                                                        class="border h-51 mb-0 align-items-center d-flex line-20 flex-none color-black">
                                                        <p class="fw-400 pl-3 mb-0 font-size-14 line-15"> Valor até
                                                        </p>
                                                    </div>
                                                    <select formControlName="typePropertyValueSale"
                                                        style="border-left: 0px !important;"
                                                        class="w-100 border text-left select-property border-radius-0 h-51 bg-white fw-400 font-size-14 line-20 color-black"
                                                        id="state" aria-label="Default select example">
                                                        <option *ngFor="let item of valueUntilSaleArray" [value]="item">
                                                            &nbsp;{{item | currency:'R$':'symbol':'1.0'}}</option>
                                                    </select>
                                                </div>
                                                <div *ngIf="collapsed"
                                                    class="w-100 d-flex align-items-center max-h-400 overflow-x-scroll border-radius-0">
                                                    <div style="border-right: 0px !important;"
                                                        class="border h-51 mb-0 align-items-center d-flex line-20 flex-none color-black">
                                                        <p class="fw-400 pl-3 mb-0 font-size-14 line-15"> Valor até
                                                        </p>
                                                    </div>
                                                    <select formControlName="typePropertyValueRent"
                                                        style="border-left: 0px !important;"
                                                        class="w-100 border text-left select-property border-radius-0 h-51 bg-white fw-400 font-size-14 line-20 color-black"
                                                        id="state" aria-label="Default select example">
                                                        <option *ngFor="let item of valueUntilRentArray" [value]="item">
                                                            &nbsp;{{item | currency:'R$':'symbol':'1.0'}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div
                                                    class="w-100 d-flex align-items-center max-h-400 overflow-x-scroll border-radius-0">
                                                    <div style="border-right: 0px !important;"
                                                        class="border h-51 mb-0 align-items-center d-flex line-20 flex-none color-black">
                                                        <p class="fw-400 pl-3 mb-0 font-size-14 line-15">Quartos </p>
                                                    </div>
                                                    <select formControlName="typePropertyBadrooms"
                                                        style="border-left: 0px !important;"
                                                        class="w-100 border text-left select-property border-radius-0 h-51 bg-white fw-400 font-size-14 line-20 color-black"
                                                        id="state" aria-label="Default select example">
                                                        <option *ngFor="let item of badroomsArray" [value]="item">&nbsp;
                                                            {{item}} +</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex col-12 px-0 justify-content-end">
                                        <button (click)="confirm()"
                                            class="btn w-100 btn-browser fw-700 font-size-16 line-20 text-light border-radius-10 bg-purple h-51 px-5"
                                            type="submit">Procurar imóveis</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>