<main class="bg-home-header px-5p  d-flex justify-content-center position-relative w-100">
    <div class="w-100  max-w-1918 d-flex flex-column justify-content-end h-100">
        <div class="px-0 w-100 mb-5">
            <div class="row row-of-home mx-0">
                <div class="col-5 col-12-mobile">
                    <form [formGroup]="form" (ngSubmit)="confirm()"
                        class="row mx-0 w3-white p-4 border-radius-10 justify-content-center form-header">
                        <div class="col-12">
                            <p class="fw-700 open-doors-title font-size-48 color-black">Abrindo novas portas</p>
                        </div>
                        <div class="position-relative w-100 d-flex border-bottom-purple justify-content-center d-flex">
                            <div class="position-relative">
                                <button type="button" formControlName="typeStatus" ngDefaultControl value="sale"
                                    [class]="collapsed! ? 'bg-white color-black' : 'bg-purple text-light arrow-box-buy'"
                                    (click)="buyOption('sale')"
                                    class="btn h-51 btn-home-sale-rent border-radius-0 w-111 fw-400 font-size-16 line-20 ">
                                    Comprar
                                </button>
                            </div>
                            <div class="position-relative">
                                <button type="button" formControlName="typeStatus" ngDefaultControl value="rent"
                                    [class]="collapsed ? 'bg-purple text-light arrow-box-rent' : 'bg-white color-black '"
                                    (click)="buyOption('rent')"
                                    class="btn h-51 btn-home-sale-rent border-radius-0  w-111 fw-400 font-size-16 line-20">
                                    Alugar
                                </button>
                            </div>
                        </div>
                        <div class="col-12 px-0 d-flex justify-content-center">
                            <div class="w-100 painel-browser h-auto max-w-1918">
                                <div class="row px-0 mx-0 d-flex content-painel align-items-center">
                                    <div class="col-12 px-0 pb-3">
                                        <ng-multiselect-dropdown [placeholder]="'Tipo do imóvel'"
                                            [settings]="dropdownSettings" formControlName="propertyType"
                                            [data]="dropdownList" [(ngModel)]="selectedItems"
                                            (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                                        </ng-multiselect-dropdown>
                                    </div>

                                    <!-- <div class="col-12 px-0 mb-3 ">
                                        <div class="w-100 z-10 max-h-400 overflow-x-scroll border-radius-0">
                                            <select formControlName="typePropertyState" (change)="getEstados($event)"
                                                class="w-100 px-3 border text-left select-property border-radius-0 h-51 bg-white fw-400 font-size-14 line-20 color-black classic"
                                                [(ngModel)]="stateSelected" id="state"
                                                aria-label="Default select example">
                                                <option [value]="stateSelected" disabled selected value>
                                                    {{stateSelected}}</option>
                                                <option *ngFor="let item of estados.estados" [value]="item.nome">
                                                    {{item.nome}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12 px-0 mb-4 ">
                                        <ng-autocomplete [data]="listAllCity" [searchKeyword]="keyword"
                                            placeholder="Escolha uma cidade" (selected)='selectEvent($event)'
                                            (inputChanged)='onChangeSearch($event)' [itemTemplate]="itemTemplate"
                                            [notFoundTemplate]="notFoundTemplate">
                                        </ng-autocomplete>

                                        <ng-template #itemTemplate let-item>
                                            <a [innerHTML]="item.name"></a>
                                        </ng-template>

                                        <ng-template #notFoundTemplate let-notFound>
                                            <div [innerHTML]="notFound"></div>
                                        </ng-template>

                                    </div> -->
                                    <div class="col-12 px-0 mb-4 ">
                                        <ng-autocomplete [data]="listEveryCity" [isLoading]="listEveryCity.length == 0"
                                            [searchKeyword]="'render'" placeholder="Escolha uma cidade"
                                            [minQueryLength]="2" (selected)='selectEvent($event)'
                                            [itemTemplate]="itemcityTemplate" [notFoundTemplate]="notFoundTemplate">
                                        </ng-autocomplete>

                                        <ng-template #itemcityTemplate let-item>
                                            <a [innerHTML]="item.cidade+' , '+item.estado"></a>
                                        </ng-template>

                                        <ng-template #notFoundTemplate let-notFound>
                                            <div [innerHTML]="notFound"></div>
                                        </ng-template>

                                    </div>
                                    <div class="col-12 px-0 mb-3">
                                        <div class="row">
                                            <div class="col-6">
                                                <div *ngIf="!collapsed"
                                                    class="w-100 d-flex align-items-center max-h-400 overflow-x-scroll border-radius-0">
                                                    <div style="border-right: 0px !important;"
                                                        class="border h-51 mb-0 align-items-center d-flex line-20 flex-none color-black">
                                                        <p class="fw-400 pl-3 mb-0 font-size-14 line-15"> Valor até
                                                        </p>
                                                    </div>
                                                    <select formControlName="typePropertyValueSale"
                                                        style="border-left: 0px !important;"
                                                        class="w-100 border text-left select-property border-radius-0 h-51 bg-white fw-400 font-size-14 line-20 color-black classic"
                                                        id="state" aria-label="Default select example">
                                                        <option *ngFor="let item of valueUntilSaleArray" [value]="item">
                                                            &nbsp;{{item | currency:'R$':'symbol':'1.0'}}</option>
                                                    </select>
                                                </div>
                                                <div *ngIf="collapsed"
                                                    class="w-100 d-flex align-items-center max-h-400 overflow-x-scroll border-radius-0">
                                                    <div style="border-right: 0px !important;"
                                                        class="border h-51 mb-0 align-items-center d-flex line-20 flex-none color-black">
                                                        <p class="fw-400 pl-3 mb-0 font-size-14 line-15"> Valor até
                                                        </p>
                                                    </div>
                                                    <select formControlName="typePropertyValueRent"
                                                        style="border-left: 0px !important;"
                                                        class="w-100 border text-left select-property border-radius-0 h-51 bg-white fw-400 font-size-14 line-20 color-black classic"
                                                        id="state" aria-label="Default select example">
                                                        <option *ngFor="let item of valueUntilRentArray" [value]="item">
                                                            &nbsp;{{item | currency:'R$':'symbol':'1.0'}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div
                                                    class="w-100 d-flex align-items-center max-h-400 overflow-x-scroll border-radius-0">
                                                    <div style="border-right: 0px !important;"
                                                        class="border h-51 mb-0 align-items-center d-flex line-20 flex-none color-black">
                                                        <p class="fw-400 pl-3 mb-0 font-size-14 line-15">Quartos </p>
                                                    </div>
                                                    <select formControlName="typePropertyBadrooms"
                                                        style="border-left: 0px !important;"
                                                        class="w-100 border text-left select-property border-radius-0 h-51 bg-white fw-400 font-size-14 line-20 color-black classic"
                                                        id="state" aria-label="Default select example">
                                                        <option *ngFor="let item of badroomsArray" [value]="item">&nbsp;
                                                            {{item}} +</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex col-12 px-0 justify-content-end">
                                        <button
                                            class="btn w-100 btn-browser fw-700 font-size-16 line-20 text-light border-radius-10 bg-purple h-51 px-5"
                                            type="submit" [disabled]="form.invalid">
                                            Procurar imóveis

                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>