.arrow-box-options {
    top: 107%;
    margin-right: 23%;
    max-width: 340px;
}

.arrow-box-options:after {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-color: transparent;
    rotate: -90deg;
    border-left-color: var(--white);
    border-width: 14px 11px;
    right: 8%;
    top: -21%;
}

.dropdown-item:focus,
.dropdown-item:active {
    background: var(--whiteblue) !important;
}

.painel-options-header {
    top: 150%;
    right: 20%;
}


label {
    width: 100%;
}

.card-input-element {
    display: none;
}

.card-input:hover {
    cursor: pointer;
}

.card-input-element:checked+.card-input {
    background-color: var(--whitelight);
    border-radius: 10px;
}

// // NAV-BAR
.dropdown-toggle::after {
    display: none !important;
}

select.classic {
    background-image:
        linear-gradient(45deg, transparent 50%, #999 50%),
        linear-gradient(135deg, #999 50%, transparent 50%),
        linear-gradient(to right, white, white);
    background-position:
        calc(100% - 19px) calc(1.45em + 2px),
        calc(100% - 12px) calc(1.45em + 2px),
        100% 0;
    background-size:
        8px 8px,
        8px 10px,
        3em 3em;
    background-repeat: no-repeat;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

select.classic:focus {
    background-image:
        linear-gradient(45deg, transparent 50%, #999 50%),
        linear-gradient(135deg, #999 50%, transparent 50%),
        linear-gradient(to right, white, white);
    background-position:
        calc(100% - 19px) calc(1.45em + 2px),
        calc(100% - 12px) calc(1.45em + 2px),
        100% 0;
    background-size:
        8px 8px,
        8px 10px,
        3em 3em;
    background-repeat: no-repeat;
    border-color: grey;
    outline: 0;
}

.icon-standard-custom {
    color: #999 !important;
    font-size: 16px !important;
}
