

.arrow-box-options {
    top: 107%;
    margin-right: 23%;
    max-width: 340px;
}

.arrow-box-options:after {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-color: transparent;
    rotate: -90deg;
    border-left-color: var(--white);
    border-width: 14px 11px;
    right: 8%;
    top: -21%;
}

.dropdown-item:focus,
.dropdown-item:active {
    background: var(--whiteblue) !important;
}

.painel-options-header {
    top: 150%;
    right: 20%;
}


label {
    width: 100%;
}

.card-input-element {
    display: none;
}

.card-input:hover {
    cursor: pointer;
}

.card-input-element:checked+.card-input {
    background-color: var(--whitelight);
    border-radius: 10px;
}

// // NAV-BAR
.dropdown-toggle::after {
    display: none !important;
}