<section class="container-fluid p-4">
    <div class="d-flex justify-content-end">
        <img src="../../../../../../assets/icon/times.svg" (click)="exit()" height="23">
    </div>
    <div [class]="confirmcancel ? 'd-grid':'d-none'"
        class="w-100 mb-4 bg-white border-pink border-radius-10 p-4 h-auto">
        <p class="fw-700 font-size-18 line-24 color-pink mb-0 py-3">
            Visita Cancelada
        </p>
        <span class="fw-400 font-size-14 line-18 color-black">
            Essa visita foi cancelada. Você pode remarcar ou visitar novos imóveis
        </span>
    </div>
    <div class="w-100 bg-white border-radius-10 p-4 h-auto">
        <p class="w-100 fw-400 font-size-16 line-20 color-black">
            <i class="bi font-size-20 mr-2 bi-calendar"></i>{{selectedScheduling?.visitDate | date: 'EEEE'||
            '-'}}, {{selectedScheduling.visitDate | date: 'dd' }} de {{selectedScheduling.visitDate | date:
            'LLLL' }} às {{selectedScheduling.visitDate | date: 'HH:mm' || '-'}}
        </p>
        <p class="fw-400 py-2 font-size-16 line-20 color-black">
            <i class="bi font-size-20 color-black mr-2 bi-geo-alt"></i>
            {{selectedScheduling.announcement?.districtAddress || '-'}}
            {{selectedScheduling.announcement?.rooms
            ||
            '-'}},
            {{selectedScheduling.announcement?.cityAddress || '-'}} -
            {{selectedScheduling.announcement?.ufAddress ||
            '-'}}
        </p>
        <p class="fw-400 font-size-16 line-20 color-black">
            <i class="bi font-size-20 color-black mr-2 bi-person-vcard"></i>
            Leve seu documento de identificação original com foto
        </p>
        <p class="fw-700 font-size-16 mt-4 line-20 color-black">
            A visita é acompanhada por esse corretor:
        </p>
        <div class="w-100 d-flex">
            <i class="bi color-black mr-2 font-size-20 bi-person"></i>
            <p class="d-grid">
                <span class="fw-500 font-size-14 line-18 color-black">{{selectedScheduling.announcement?.ownerName
                    || '-'}}</span>
                <span class="fw-400 font-size-14 line-18 color-black">Corretor</span>
                <span class="fw-400 font-size-14 line-18 color-black">11 9 1234-1234</span>
            </p>
        </div>
    </div>
    <hr>
    <div class="w-100 bg-white mt-4 border-radius-10 h-auto border">
        <div class="h-100 product-announcement border-radius-10 bg-white">
            <div class="py-2 px-3 product-announcement-card position-relative">
                <img *ngIf="!selectedScheduling.announcement?.mainPhoto" src="../../../../assets/img/ap.png"
                    class="photo-announcement-card"
                    (click)="announcementSelected(selectedScheduling.announcement?._id)">
                <img *ngIf="selectedScheduling.announcement?.mainPhoto"
                    [src]="selectedScheduling.announcement?.mainPhoto" class="photo-announcement-card"
                    (click)="announcementSelected(selectedScheduling.announcement?._id)">
                <div class="space-sale-exclusive">
                    <h4 *ngIf="selectedScheduling.announcement?.typeOfAd === 'sale'"
                        class="bg-purple h-fit px-4 py-2 mb-0 border-radius-5 fw-400 font-size-14 line-15 text-light">
                        Venda</h4>
                    <h4 *ngIf="selectedScheduling.announcement?.typeOfAd === 'rent'"
                        class="bg-purple h-fit px-4 py-2 mb-0 border-radius-5 fw-400 font-size-14 line-15 text-light">
                        Locação</h4>
                    <div class="d-flex" *ngIf="selectedScheduling.announcement?.typeOfAd === 'both'">
                        <h4
                            class="bg-purple h-fit px-4 py-2 mb-0 mr-2 border-radius-5 fw-400 font-size-14 line-15 text-light">
                            Venda</h4>
                        <h4
                            class="bg-purple h-fit px-4 py-2 mb-0 border-radius-5 fw-400 font-size-14 line-15 text-light">
                            Locação</h4>
                    </div>
                    <h4 *ngIf="selectedScheduling.announcement?.exclusivity === true"
                        class="bg-greenlight h-fit ml-2 px-3 py-2 mb-0 border-radius-5 fw-400 font-size-14 line-15 color-black">
                        Exclusivo</h4>
                </div>
                <div class="space-value-announcement">
                    <p class="fw-700 mb-0 font-size-22 h-fit line-32 text-light"
                        *ngIf="selectedScheduling.announcement?.typeOfAd === 'sale'">
                        {{selectedScheduling.announcement?.saleValue | currency:
                        'R$'}}</p>
                    <p class="fw-700 mb-0 font-size-22 h-fit line-32 text-light"
                        *ngIf="selectedScheduling.announcement?.typeOfAd === 'both'">
                        {{selectedScheduling.announcement?.saleValue | currency:
                        'R$'}}</p>
                    <p class="fw-700 mb-0 font-size-22 h-fit line-32 text-light"
                        *ngIf="selectedScheduling.announcement?.typeOfAd === 'rent'">
                        {{selectedScheduling.announcement?.leaseValue | currency:
                        'R$'}}
                    </p>
                    <div (click)="likeHeart(selectedScheduling.announcement?._id)"
                        class="h-fit bg-transparent-white border-radius-10 pt-2 pb-1 px-3">
                        <i [class]="selectedScheduling.announcement?.liked ?
                            'bi-heart-fill':'bi-heart'" class="bi bi-heart-fill font-size-16 text-light"></i>
                    </div>
                </div>
            </div>
            <div class="w-100 mx-3 text-align-left
                                pt-3" (click)="announcementSelected(selectedScheduling.announcement?._id)"
                style="cursor: pointer;">
                <span class="fw-400 font-size-14
                                    line-20
                                    color-black">{{selectedScheduling.announcement?.propertyCharacteristics}}</span>
                <p class="fw-700 font-size-16 line-20 mb-0 color-black  text-truncate" style="max-width: 90%;">
                    {{selectedScheduling.announcement?.description}}</p>
                <p class="d-flex
                                    align-items-center">
                    <i class="bi font-size-20 mr-2
                                        color-black
                                        bi-geo-alt"></i>
                    <span
                        class="fw-400 font-size-14 line-20 color-black">{{selectedScheduling.announcement?.publicPlaceAddress}},
                        {{selectedScheduling.announcement?.cityAddress}} -
                        {{selectedScheduling.announcement?.ufAddress}}</span>
                </p>
            </div>
            <div class="row mx-3 my-3 d-flex">
                <div class="col justify-content-left
                                    px-0 d-flex
                                    align-items-center
                                    justify-content-left">
                    <img src="../../../assets/icon/bed.png" class="pr-2" />
                    <p class="fw-400 mb-0
                                        font-size-14 line-20
                                        color-black">{{selectedScheduling.announcement?.bedrooms}}
                        Quartos</p>
                </div>
                <div class="col justify-content-left px-0
                                    d-flex
                                    align-items-center
                                    justify-content-left">
                    <img src="../../../assets/icon/car.png" class="pr-2" />
                    <p class="fw-400 mb-0
                                        font-size-14 line-20
                                        color-black">{{selectedScheduling.announcement?.vacancyNumber}}
                        Vagas</p>
                </div>
                <div class="col justify-content-left
                                    px-0 d-flex
                                    align-items-center
                                    justify-content-left">
                    <img src="../../../assets/icon/rule.png" class="pr-2" />
                    <p class="fw-400 mb-0
                                        font-size-14 line-20
                                        color-black">{{selectedScheduling.announcement?.usefulArea |
                        currency: ' '}} m2</p>
                </div>
            </div>
        </div>
    </div>
    <div class="w-100 bg-white mt-4 p-4 border-radius-10 h-auto">
        <p class="fw-700 font-size-18 line-24 color-black">
            Editar visita
        </p>
        <p class="fw-400 font-size-14 line-18 color-black">
            Não vai dar pra ir? Remarque ou cancele a visita, Assim, o corretor fica livre
            para
            atender outro cliente
        </p>
        <div class="w-100 mt-3 d-flex">
            <button type="submit" (click)="editScheduling(selectedScheduling)"
                class="btn bg-purple text-light border-radius-10 h-74 w-100 mr-1 fw-700 font-size-18 line-24">
                Remarcar
            </button>
            <button type="submit" type="button" data-toggle="modal" (click)="cancelVisits('cancel')"
                data-target="#cancelvisits"
                class="btn bg-white border-purple color-purple ml-1 border-radius-10 h-74 w-100 fw-700 font-size-18 line-24">Cancelar
            </button>
        </div>
    </div>
</section>