.label-search-words{
    position: absolute;
    top: 66px;
    right: 14%;
}
.label-search-local{
    position: absolute;
    top: 163px;
    right: 14%;
}

.bg-img-property{
    background-image: url(../../../assets/img/gradient.png), url(../../../assets/img/tower.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    Width: 416px;
    Height: 309px
}
.bg-img-result{
    background-image: url(../../../assets/img/ap.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 419px;
}

