<section class="container-fluid justify-content-center px-5p d-flex bg-header-about" style="margin-top: 97px;">
    <div class="max-w-1918 w-100">
        <div class="row form-search h-100 m-0-auto w-100">
            <div class="col-12 px-0">
                <div class="w-100 h-600">
                    <div class="row mx-0 h-100 align-items-end">
                        <div class="col-12 padding-x" style="padding: 0% 0% 5%;">
                            <p class="fw-700 font-size-18 line-24 text-light">home > Sobre nós</p>
                            <p class="fw-700 font-size-40 line-56 text-light">Nós somos a imoveistock</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="row px-5p mx-0 justify-content-center">
    <div class="col-12 bg-white max-w-1918 d-flex justify-content-center px-0">
        <div class="py-5 w-100 d-flex justify-content-center row">
            <div class="col-12 px-0 padding-x">
                <p class="w-100 fw-700 font-size-32 pb-5 mb-5 text-mobile line-40 color-black text-center">
                    Estamos aqui para abrir portas
                </p>
                <div class="row mt-4 mx-0">
                    <div class="col-8 col-about">
                        <p class="fw-700 pb-5 text-mobile font-size-32 line-40 color-black">
                            Sabemos que a busca pelo espaço ideal pode <br /> ser desafiadora e por isso estamos aqui.
                        </p>
                        <p class="fw-400 pb-5 font-size-18 line-24 color-black">
                            Mais do que conectar pessoas a lugares, nós abrimos portas. <br /> <br />
                            Portas para as possibilidades da próxima fase da sua vida: a liberdade de ter o próprio
                            negócio,
                            o espaço que você precisa para aumentar a família, e quem sabe o ambiente certo para começar
                            ou
                            recomeçar. <br /> <br />
                            Para nós não importa o que você está buscando, sabemos que na imoveistock irá encontrar.
                            Sorte?
                            Não, tecnologia e muito conhecimento do mercado imobiliário. Unindo essas duas forças
                            construídos a solução ideal para que você possa encontrar aquilo que procura, mesmo sem ter
                            certeza do que é.
                        </p>
                        <div class="row pb-5 mt-4">
                            <div class="col mt-4 d-flex align-items-center">
                                <img src="../../assets/icon/usergreen.png" class="h-fit" />
                                <p class="d-grid mb-0 px-3">
                                    <span class="fw-700 font-size-32 line-43 color-purple">20</span>
                                    <span class="fw-400 font-size-20 line-26 color-purple">Proprietários felizes</span>
                                </p>
                            </div>
                            <div class="col mt-4 d-flex align-items-center">
                                <img src="../../assets/icon/house.png" class="h-fit" />
                                <p class="d-grid mb-0 px-3">
                                    <span class="fw-700 font-size-32 line-43 color-purple">R$81.6Milhões</span>
                                    <span class="fw-400 font-size-20 line-26 color-purple">De imóveis estocados</span>
                                </p>
                            </div>
                            <div class="col mt-4 d-flex align-items-center">
                                <img src="../../assets/icon/remoney.png" class="h-fit" />
                                <p class="d-grid mb-0 px-3">
                                    <span class="fw-700 font-size-32 line-43 color-purple">R$11.4Milhões</span>
                                    <span class="fw-400 font-size-20 line-26 color-purple">Milhões em vendas</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 d-flex align-items-center col-about">
                        <vg-player class="w-100 m-0-auto" style="height: 100%">
                            <vg-overlay-play></vg-overlay-play>
                            <vg-buffering></vg-buffering>
                            <vg-scrub-bar>
                                <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                                <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                            </vg-scrub-bar>
                            <vg-controls>
                                <vg-play-pause></vg-play-pause>
                                <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
                                <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>
                                <vg-mute></vg-mute>
                                <vg-volume></vg-volume>
                                <vg-fullscreen></vg-fullscreen>
                            </vg-controls>
                            <video [vgMedia]="$any(media)" poster="../../../assets/img/black-men.png" #media
                                id="singleVideo" preload="auto" crossorigin>
                                <source src="../../../assets/vid/test.mp4" type="video/mp4">
                                <img src="../../../assets/icon/play.png" />
                            </video>
                        </vg-player>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="row mx-0 px-5p bg-gray justify-content-center">
    <div class="col-12 max-w-1918 px-0 h-100 position-relative w-100">
        <div class="w-100 m-0-auto">
            <div class="row h-100 pb-5  m-0-auto mt-5">
                <div class="col-12 text-center mt-5 mb-3">
                    <h4 class="fw-700 font-size-32 color-black text-mobile line-43">Abrindo portas</h4>
                    <span class="fw-400 font-size-16 line-20 color-black">A imoveistock é diferente de tudo.</span>
                </div>
    
                <div class="col-4 col-cards mt-3 padding-x mx-0 px-0">
                    <div class="w-100 border-radius-10 p-3 mt-2 bg-white h-100 text-align-center">
                        <img src="../../../assets/icon/likeheart.svg" class="icon-cards-1" />
                        <p class="d-grid text-center">
                            <span class="fw-700 font-size-18 line-24 color-black">Você encontra primero aqui</span>
                            <br />
                            <span class="fw-400 font-size-14 line-240color-black">Os imóveis chegam primeiro a imoveistock,
                                o segredo para isso?
                                Bem, isso não podemos contar :)
                            </span>
                        </p>
                    </div>
                </div>
    
                <div class="col-4 col-cards padding-x mt-3">
                    <div class="w-100 border-radius-10 p-3 mt-2 bg-white h-100 text-align-center">
                        <img src="../../../assets/icon/chatwindow.svg" class="icon-cards" />
                        <p class="d-grid text-center">
                            <span class="fw-700 font-size-18 line-24 color-black">
                                Muitas opções de qualidade
                            </span>
                            <br />
                            <span class="fw-400 font-size-14 line-240color-black">Quantidade é qualidade, sim. Pelo menos
                                aqui! São muitas propriedades e todas muito bem selecionadas.
                            </span>
                        </p>
                    </div>
                </div>
    
                <div class="col-4 col-cards padding-x mt-3 px-0">
                    <div class="w-100 border-radius-10 p-3 mt-2 bg-white h-100 text-align-center">
                        <img src="../../../assets/icon/chats.svg" class="icon-cards" />
                        <p class="d-grid text-center">
                            <span class="fw-700 font-size-18 line-24 color-black">
                                Feito por quem conhece de imóveis
                            </span>
                            <br />
                            <span class="fw-400 font-size-14 line-240color-black">A gente sabe vender por que conhece o
                                mercado e pode dizer o que realmente vale a pena para você.
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="row mx-0 px-5p mb-5 bg-white justify-content-center">
    <div class="col-12 max-w-1918 my-5 ">
        <swiper class="mySwip my-4 h-100 w-100" [slidesPerView]="1" [pagination]="{ clickable: true }"
            [scrollbar]="true">

            <ng-template swiperSlide>
                <div class="w-100 text-align-center ">
                    <p class="d-grid text-center">
                        <span class="fw-700 font-size-24 line-40 color-black">Quem vendeu, quem comprou</span>
                        <br />
                        <span class="fw-400 font-size-18 line-20 color-black">Aqui, centenas de proprietários felizes
                            tem muito a dizer</span>
                    </p>
                    <div class="w-100 d-grid mt-5 text-center justify-content-center">
                        <div class="d-flex my-4 justify-content-center">
                            <label  for="img-guy">
                                <img src="../../assets/icon/comma.png" style="position: absolute; top: 36%;left: 52%;"
                                    id="img-guy" />
                            </label>
                            <img src="../../assets/img/guy.png" id="img-guy"
                                class="border-radius-100 h-145 p-2 border-green" />
                        </div>
                        <span class="fw-700 font-size-18 line-24 color-black">Tiago Ricardo</span>
                        <span class="fw-400 font-size-14 line-20 color-black">Achou um apartamento em
                            abril/2021</span>
                    </div>
                    <p class="fw-400 text-center mt-5 font-size-16 line-20">
                        "Procurei em todos os sites, mas só na imoveistock encontrei o espaço <br /> do jeto que eu
                        queria. Foi a sorte grande!"
                    </p>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="w-100 text-align-center ">
                    <p class="d-grid text-center">
                        <span class="fw-700 font-size-24 line-40 color-black">Quem vendeu, quem comprou</span>
                        <br />
                        <span class="fw-400 font-size-18 line-20 color-black">Aqui, centenas de proprietários felizes
                            tem muito a dizer</span>
                    </p>
                    <div class="w-100 d-grid mt-5 text-center justify-content-center">
                        <div class="d-flex my-4 justify-content-center">
                            <label  for="img-guy">
                                <img src="../../assets/icon/comma.png" style="position: absolute; top: 36%;left: 52%;"
                                    id="img-guy" />
                            </label>
                            <img src="../../assets/img/guy.png" id="img-guy"
                                class="border-radius-100 h-145 p-2 border-green" />
                        </div>
                        <span class="fw-700 font-size-18 line-24 color-black">Tiago Ricardo</span>
                        <span class="fw-400 font-size-14 line-20 color-black">Achou um apartamento em
                            abril/2021</span>
                    </div>
                    <p class="fw-400 text-center mt-5 font-size-16 line-20">
                        "Procurei em todos os sites, mas só na imoveistock encontrei o espaço <br /> do jeito que eu
                        queria. Foi a sorte grande!"
                    </p>
                </div>
            </ng-template>

        </swiper>
    </div>
</section>

<section class="row mx-0  px-5p  bg-whitelight mt-5 justify-content-center">
    <div class="col-12 d-flex max-w-1918 px-0 padding-x justify-content-center">
        <div class="w-100 py-5 col-final-card d-flex align-items-center">
            <div class="d-grid w-100">
                <p class="fw-900 dmsans font-size-28 line-34 color-black">Tem um imóvel para indicar?</p>
                <span class="fw-400 dmsans font-size-16 line-20 color-black">Acesse nossa plataforma de indicação e
                    comece a ganhar dinheiro.</span>
            </div>
            <button type="button" (click)="openLogin()"
                class="btn dmsans mt-md-0 mt-3 bg-purple h-74 w-25 btn-indicate  fw-400 font-size-16 line-20 text-light border-radius-10">
                Indique agora
            </button>
        </div>
    </div>

</section>