<main class="bg-graylight position-relative w-100 p-5">
    <form [formGroup]="form" class="row form-search pt-10 h-100 m-0-auto mx-5 px-5
       max-w-1918">
        <div class="col-12 d-none-desk mt-5 pt-3" *ngIf="filtroResultDisplay.typeAd">
            <p class="d-flex fw-700 font-size-16 line-19 color-black
             align-items-center">Página Inicial /
                <span class="fw-400 font-size-16 line-20 color-muted"> &nbsp;
                    Resultado de busca
                </span>
            </p>
            <p class="fw-700 font-size-32 line-40 color-black">
                Resultado da sua busca por <b>
                    <span *ngIf="filtroResultDisplay.typeAd">{{filtroResultDisplay.typeAd}}</span>
                    <span *ngIf="filtroResultDisplay.whatAreYouLookingFor">
                        {{filtroResultDisplay.whatAreYouLookingFor}},</span>
                    <span *ngIf="filtroResultDisplay.propertyType"> {{filtroResultDisplay.propertyType}},</span>
                    <span *ngIf="filtroResultDisplay.goal"> {{filtroResultDisplay.goal}},</span>
                    <span *ngIf="filtroResultDisplay.where"> em {{filtroResultDisplay.where}}</span>
                </b>
            </p>
        </div>
        <div class="col-4 col-body-products mt-5">
            <div class="w-100 d-none-desk border-radius-10 bg-white p-5">
                <div class="input-group border border-radius-10 bg-light h-74 d-flex align-items-center">
                    <input type="search"
                        class="form-control border-0 border-radius-10 bg-light pl-4 fw-400 font-size-16 line-20"
                        formControlName="localproperty" placeholder="Local" placeholder="Local"
                        aria-describedby="button-addon2">
                    <div class="input-group-append mx-2">
                        <i class="bi bi-search font-size-24"></i>
                    </div>
                </div>
                <div class="input-group border border-radius-10 bg-light h-74 d-flex align-items-center mt-4">
                    <input type="search"
                        class="form-control border-0 border-radius-10 bg-light pl-4 fw-400 font-size-16 line-20"
                        formControlName="localproperty" placeholder="Local" placeholder="Local"
                        aria-describedby="button-addon2">
                    <div class="input-group-append mx-2">
                        <i class="bi bi-geo-alt font-size-24"></i>
                    </div>
                </div>
                <input formControlName="typeproperty" type="text" placeholder="Tipo de imóvel" class="btn border border-radius-10 bg-light fw-400 mt-4
                text-left font-size-16 line-20 pl-4 color-black w-100
                h-74" />
                <input formControlName="typeprice" type="text" placeholder="Preço" class="btn border border-radius-10 bg-light fw-400 mt-4
                text-left font-size-16 line-20 pl-4 color-black w-100
                h-74" />
                <input formControlName="typebathroom" type="text" placeholder="Banheiros" class="btn border border-radius-10 bg-light fw-400 mt-4
                text-left font-size-16 line-20 pl-4 color-black w-100
                h-74" />
                <input formControlName="typerooms" type="text" placeholder="Quartos" class="btn border border-radius-10 bg-light fw-400 mt-4
                text-left font-size-16 line-20 pl-4 color-black w-100
                h-74" />
                <input formControlName="typevacancies" type="text" placeholder="Vagas" class="btn border border-radius-10 bg-light fw-400 mt-4
                text-left font-size-16 line-20 pl-4 color-black w-100
                h-74" />
                <input formControlName="typeconstruction" type="text" placeholder="Ano de construção" class="btn border border-radius-10 bg-light fw-400 mt-4
                text-left font-size-16 line-20 pl-4 color-black w-100
                h-74" />
                <div class="w-100 d-flex align-items-center">
                    <input formControlName="typefootagemin" type="text" placeholder="Metragem Mínima" class="btn border border-radius-10 bg-light fw-400 mt-4
                   mr-1 text-left font-size-16 line-20 pl-4 color-black
                   w-100 h-74" />
                    <input formControlName="typefootagemax" type="text" placeholder="Metragem Máxima" class="btn border border-radius-10 bg-light fw-400 mt-4
                   ml-1 text-left font-size-16 line-20 pl-4 color-black
                   w-100 h-74" />
                </div>
                <button class="bg-purple btn mt-4 text-light fw-700 font-size-18
                line-24 border-radius-10 h-74 w-100" type="submit">
                    Encontrar
                </button>
            </div>
            <div class="w-100 mt-4 border-radius-10 bg-white p-4">
                <p class="fw-700 font-size-18 line-24 color-blue">Imóveis
                    exclusivos
                </p>
                <swiper class="h-350 max-w-1227" [slidesPerView]="1" [pagination]="{ clickable: true }"
                    [scrollbar]="true">
                    <ng-template *ngFor="let item of propertyproducts | slice: 0:5" swiperSlide>
                        <div style="background-image:
                   url(../../../assets/img/gradient.png),
                   url(../../../assets/img/img-announcement-default.jpg);" class="bg-img-property w-100 py-2 px-3
                   border-radius-10" (click)="announcementSelected(item._id)">
                            <div class="w-100 details-card-swiper h-50 pt-2 d-flex">
                                <h4 class="bg-purple h-fit px-4 py-2 mb-0
                         border-radius-5 fw-400 font-size-18 line-24
                         text-light" *ngIf="item.typeOfAd === 'rent'">Alugar</h4>
                                <h4 class="bg-purple h-fit px-4 py-2 mb-0
                         border-radius-5 fw-400 font-size-18 line-24
                         text-light" *ngIf="item.typeOfAd === 'sale'">Vender</h4>
                                <h4 *ngIf="item.exclusivity === true" class="ml-2 bg-greenlight h-fit px-4 py-2 mb-0
                         border-radius-5 fw-400 font-size-18 line-24
                         text-dark">Exclusivo</h4>
                            </div>
                            <div class="w-100 details-card-swiper d-grid h-50 pt-5
                      align-items-end">
                                <p *ngIf="item.typeOfAd === 'rent'" class="fw-700 mt-5 mb-0 font-size-22 h-fit
                         line-32 text-light">{{item.leaseValue | currency: 'R$'}}
                                    <span class="fw-400 font-size-14 line-20
                            text-light">/ mês</span>
                                </p>
                                <p *ngIf="item.typeOfAd === 'sale'" class="fw-700 mt-5 mb-0 font-size-22 h-fit
                         line-32 text-light">{{item.saleValue | currency: 'R$'}}
                                </p>
                                <span class="fw-700 font-size-14 line-20
                         text-light">{{item.description | slice: 0:28 }}</span>
                            </div>
                        </div>
                    </ng-template>
                </swiper>
            </div>
            <div *ngIf="recentlySeenList.length > 0" class="w-100 border-radius-10 my-4 bg-white p-4">
                <p class="fw-700 pb-4 font-size-20 line-24 color-black">Visualizados recentemente
                </p>
                <div *ngFor="let item of recentlySeenList | slice:0:3" class="row mb-4"
                    (click)="announcementSelected(item._id)">
                    <div class="col-3 col-img-types-property p-0">
                        <img src="../../../assets/img/ap.png" class="border-radius-10 h-111 w-100" />
                    </div>
                    <div class="col-9 col-img-types-property">
                        <p class="d-grid title-property-product mb-0 h-75">
                            <span class="fw-700 font-size-18 line-24
                      color-black">{{item.description}}</span>
                            <span *ngIf="item.typeOfAd === 'sale'" class="fw-700 font-size-18 line-24
                      color-black">{{item.saleValue | currency: 'R$'}}</span>
                            <span *ngIf="item.typeOfAd === 'rent'" class="fw-700 font-size-18 line-24
                      color-black">{{item.leaseValue | currency: 'R$'}}</span>
                        </p>
                        <p class="d-flex h-25 info-property-product mb-0 justify-content-between">
                            <span class="fw-400 font-size-14 line-20
                      color-black">Quartos: {{item.bedrooms}}</span>
                            <span class="fw-400 font-size-14 line-20
                      color-black">Banheiros: {{item.bathrooms}}</span>
                            <span class="fw-400 font-size-14 line-20
                      color-black">Metragem: {{item.usefulArea}} m²</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8 col-body-products px-0 mt-5">
            <div class="col-12 d-block-desk d-none mt-5 pt-3" *ngIf="filtroResultDisplay.typeAd">
                <p class="d-flex fw-700 font-size-16 line-19 color-black
                 align-items-center">Página Inicial /
                    <span class="fw-400 font-size-16 line-20 color-muted"> &nbsp;
                        Resultado de busca
                    </span>
                </p>
                <p class="fw-700 font-size-32 line-40 color-black">
                    Resultado da sua busca por <b>
                        <span *ngIf="filtroResultDisplay.typeAd">{{filtroResultDisplay.typeAd}}</span>
                        <span *ngIf="filtroResultDisplay.whatAreYouLookingFor">
                            {{filtroResultDisplay.whatAreYouLookingFor}},</span>
                        <span *ngIf="filtroResultDisplay.propertyType"> {{filtroResultDisplay.propertyType}},</span>
                        <span *ngIf="filtroResultDisplay.goal"> {{filtroResultDisplay.goal}},</span>
                        <span *ngIf="filtroResultDisplay.where"> em {{filtroResultDisplay.where}}</span>
                    </b>
                </p>
            </div>
            <div class="col-12 space-see-maps-area-search">
                <a [routerLink]="['/search-map']" class="btn-ver-no-mapa py-4">
                    <img src="../../../assets/icon/map.png" height="23" class="mx-3" />
                    <span class="fw-700 font-size-18 line-24 text-light text-nowrap mr-3">Ver mapa</span>
                </a>
                <div class="btn-ver-no-filter py-4 px-2 d-block-tablet" [class]="filterbtn ? 'd-none':'d-block'"
                    data-toggle="modal" data-target="#filtersearch">
                    <img src="../../../assets/icon/filter.png" height="23" class="mx-3" />
                    <span class="fw-700 font-size-18 line-24 text-light text-nowrap mr-3">Filtrar</span>
                </div>
                <div
                    class="w-100 d-flex d-none-desk align-items-center results-bar justify-content-between py-4 px-5 border-radius-10 bg-white">
                    <p class="d-flex mb-0 fw-400 font-size-14 line-20 color-black">
                        <span>{{filterResult?.length}}</span>
                        <span class="px-1">Resultados</span>
                    </p>
                    <div class="d-flex align-items-center">
                        <p class="fw-700 mb-0 font-size-14 line-20 color-black">Ordenar por:</p>
                        <div class="dropdown">
                            <button class="btn dropdown-orderby-custom dropdown-toggle" type="button"
                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                {{orderBy}}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" (click)="changeOderBy('Relevante')">Relevante</a>
                                <a class="dropdown-item" (click)="changeOderBy('Maiorpreço')">Maior
                                    preço</a>
                                <a class="dropdown-item" (click)="changeOderBy('Menor preço')">Menor preço</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mx-0">
                <div class="col-lg-6 px-0 col-cards-products" *ngFor="let item of filterResult | paginate: {
                itemsPerPage: 10, currentPage: paginationProduct }; let
                i= index">
                    <div class="w-100 card-product-result d-inline-block mt-5 p-3 border-radius-10 bg-white">
                        <div class="border-radius-10 position-relative">
                            <img src="../../../assets/img/img-announcement-default.jpg"
                                class="img-search-announcement-main">
                            <div class="space-sale-or-rent-search-announcement">
                                <h4 class="bg-purple h-fit px-4 py-2 mb-0
                            border-radius-5 fw-400 font-size-14 line-15
                            text-light">Venda</h4>
                                <h4 *ngIf="item.exclusivity === true" class="bg-greenlight h-fit ml-2 px-3 py-2
                            mb-0 border-radius-5 fw-400 font-size-14
                            line-15 color-black">Exclusivo</h4>
                            </div>
                            <div class="space-value-announcement">
                                <p *ngIf="item.typeOfAd === 'sale'" class="fw-700 mb-0 font-size-22 h-fit line-32
                            text-light">{{item.saleValue | currency: 'R$'}}</p>
                                <p *ngIf="item.typeOfAd === 'rent'" class="fw-700 mb-0 font-size-22 h-fit line-32
                            text-light">{{item.leaseValue | currency: 'R$'}}</p>
                                <div (click)="likeHeart(item._id)" class="h-fit heart-like
                            bg-transparent-white cursor-pointer border-radius-10
                            pt-2 pb-1">
                                    <i [class]="item.liked ?
                               'bi-heart-fill':'bi-heart' " class="bi
                               font-size-16 text-light"></i>
                                </div>
                            </div>
                        </div>
                        <div (click)="announcementSelected(item._id)" class="col-12 px-0">
                            <div class="w-100 mx-2 text-align-left pt-3">
                                <span class="fw-400 font-size-14 line-20
                            color-black text-capitalize">{{item.propertyCharacteristics}}</span>
                                <p class="fw-700 my-2 font-size-16 line-20 mb-0
                            color-black text-truncate" style="max-width: 90%;">{{item.description || '-' }}</p>
                                <p class="d-flex align-items-center  text-left">
                                    <i class="bi font-size-20 mr-2 color-black
                               bi-geo-alt"></i>
                                    <span class="fw-400 font-size-14 line-20
                               color-black">{{item.publicPlaceAddress}},
                                        {{item.cityAddress}} - {{item.ufAddress}}</span>
                                </p>
                            </div>
                            <div class="row px-4 my-3 pb-3
                         d-flex">
                                <div class="col justify-content-left px-0 d-flex
                            align-items-center justify-content-left">
                                    <img src="../../../assets/icon/bed.png" class="pr-2 mobile-w" />
                                    <p class="fw-400 mb-0 font-size-14 little-text-mobile line-20
                               color-black">{{item.bedrooms}} Quartos</p>
                                </div>
                                <div class="col justify-content-center px-0 d-flex
                            align-items-center justify-content-left">
                                    <img src="../../../assets/icon/car.png" class="pr-2 mobile-w" />
                                    <p class="fw-400 mb-0 font-size-14 little-text-mobile line-20
                               color-black">{{item.vacancyNumber}} Vagas</p>
                                </div>
                                <div class="col justify-content-end px-0 d-flex
                            align-items-center justify-content-left">
                                    <img src="../../../assets/icon/rule.png" class="pr-2 mobile-w" />
                                    <p class="fw-400 mb-0 font-size-14 little-text-mobile line-20
                               color-black text-truncate">{{item.usefulArea | currency: ' '}} m²</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 my-5 py-5 justify-content-center">
                    <div *ngIf="products.length> 3" class="d-flex flex-fill
                   justify-content-center">
                        <pagination-controls (pageChange)="paginationProduct=
                      $event;">
                        </pagination-controls>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="filtersearch" tabindex="-1" role="dialog" aria-labelledby="filtersearchTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-lg-preview
                modal-dialog-centered" role="document">
                <div class="modal-content pb-4
                   modal-content-preview">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span class="text-light font-size-55" aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form [formGroup]="form" class="anima-body">
                        <div class="w-100 d-none-desk border-radius-10 bg-white p-5">
                            <div class="input-group border border-radius-10 bg-light h-74 d-flex align-items-center">
                                <input type="search"
                                    class="form-control border-0 border-radius-10 bg-light pl-4 fw-400 font-size-16 line-20"
                                    formControlName="localproperty" placeholder="Local" placeholder="Local"
                                    aria-describedby="button-addon2">
                                <div class="input-group-append mx-2">
                                    <i class="bi bi-search font-size-24"></i>
                                </div>
                            </div>
                            <div class="input-group border border-radius-10 bg-light h-74 d-flex align-items-center mt-4">
                                <input type="search"
                                    class="form-control border-0 border-radius-10 bg-light pl-4 fw-400 font-size-16 line-20"
                                    formControlName="localproperty" placeholder="Local" placeholder="Local"
                                    aria-describedby="button-addon2">
                                <div class="input-group-append mx-2">
                                    <i class="bi bi-geo-alt font-size-24"></i>
                                </div>
                            </div>
                            <input formControlName="typeproperty" type="text" placeholder="Tipo de imóvel" class="btn border border-radius-10 bg-light fw-400 mt-4
                            text-left font-size-16 line-20 pl-4 color-black w-100
                            h-74" />
                            <input formControlName="typeprice" type="text" placeholder="Preço" class="btn border border-radius-10 bg-light fw-400 mt-4
                            text-left font-size-16 line-20 pl-4 color-black w-100
                            h-74" />
                            <input formControlName="typebathroom" type="text" placeholder="Banheiros" class="btn border border-radius-10 bg-light fw-400 mt-4
                            text-left font-size-16 line-20 pl-4 color-black w-100
                            h-74" />
                            <input formControlName="typerooms" type="text" placeholder="Quartos" class="btn border border-radius-10 bg-light fw-400 mt-4
                            text-left font-size-16 line-20 pl-4 color-black w-100
                            h-74" />
                            <input formControlName="typevacancies" type="text" placeholder="Vagas" class="btn border border-radius-10 bg-light fw-400 mt-4
                            text-left font-size-16 line-20 pl-4 color-black w-100
                            h-74" />
                            <input formControlName="typeconstruction" type="text" placeholder="Ano de construção" class="btn border border-radius-10 bg-light fw-400 mt-4
                            text-left font-size-16 line-20 pl-4 color-black w-100
                            h-74" />
                            <div class="w-100 d-flex align-items-center">
                                <input formControlName="typefootagemin" type="text" placeholder="Metragem Mínima" class="btn border border-radius-10 bg-light fw-400 mt-4
                               mr-1 text-left font-size-16 line-20 pl-4 color-black
                               w-100 h-74" />
                                <input formControlName="typefootagemax" type="text" placeholder="Metragem Máxima" class="btn border border-radius-10 bg-light fw-400 mt-4
                               ml-1 text-left font-size-16 line-20 pl-4 color-black
                               w-100 h-74" />
                            </div>
                            <button class="bg-purple btn mt-4 text-light fw-700 font-size-18
                            line-24 border-radius-10 h-74 w-100" type="submit">
                                Encontrar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </form>
</main>