<main  class="bg-graylight position-relative h-100 pb-5 w-100">
  <div class="row form-search h-100 m-0-auto">
    <div class="col-12 px-0 h-100">
      <div class="row h-100 mx-0">
        <!-- VERSION DESK -->
        <div class="col-6 d-none-tablet px-0 col-preview-img">
          <div *ngFor="let item of onlyimg" style="background-image: url({{item.preview}})"
            class="bg-property-view w-100 h-600"></div>
        </div>
        <div class="col-6 d-none-tablet px-0 col-preview-img">
          <div *ngFor="let item of previewimg" style="background-image: url({{item.previews}})"
            class="bg-property-view d-inline-block w-50 h-300"></div>
        </div>
        <!-- VERSION MOBILE -->
        <swiper class="d-block-tablet col-12 slide" style="display: none;" [navigation]="true" [slidesPerView]="1"
          [pagination]="{ clickable: true }" [scrollbar]="true">
          <ng-template *ngFor="let item of previewimg" class="w-100" swiperSlide>
            <div style="background-image: url({{item.previews}})" class="bg-property-view w-100 h-600"></div>
          </ng-template>
        </swiper>
        <div class="col-12 px-5p col-btns-preview-img  position-absolute justify-content-center d-flex align-items-center">
          <!-- OPTIONS HEADER BTNS -->
          <div class="w-100 max-w-1918 p-y-0 py-5 d-flex justify-content-between">
            <div class="row mx-0">
              <div class="col-12 px-0 col-btns-announcements">
                <div class="d-flex overflow-y-scroll w-auto spc-btns-property align-items-center">
                  <button type="button" data-toggle="modal" data-target="#previewimage"
                    class="fw-700 btn-view-img h-51 w-fit px-5 btn align-items-center d-flex mr-2 mt-2 border-radius-10 bg-purple">
                    <i class="bi font-size-18 text-light small-text bi-camera-fill"></i>
                    <p class="px-2 font-size-18 small-text line-19 text-light mb-0">Ver fotos</p>
                  </button>
                  <button type="button" pageScroll href="#previewvideo"
                    class="fw-700 btn-view-img h-51 w-fit px-5 btn align-items-center d-flex mr-2 mt-2 border-radius-10 bg-purple">
                    <img src="../../../assets/icon/play-circle.png" class="" alt="not icon" />
                    <p class="px-2 font-size-18 line-19 small-text text-light mb-0">Ver vídeo</p>
                  </button>
                  <button type="button" pageScroll href="#previewplant" (click)="openarrow(3)"
                    class="fw-700 btn-view-img h-51 w-fit px-5 btn align-items-center d-flex mr-2 mt-2 border-radius-10 bg-purple">
                    <img src="../../../assets/icon/datas-block.png" class="" alt="not icon" />
                    <p class="px-2 font-size-18 line-19 small-text text-light mb-0">Ver planta</p>
                  </button>
                  <button type="button" pageScroll href="#previewvideo" (click)="segmentvideo('tour')"
                    class="fw-700 btn-view-img h-51 w-fit px-5 btn align-items-center d-flex mr-2 mt-2 border-radius-10 bg-purple">
                    <img src="../../../assets/icon/street-view.png" class="" alt="not icon" />
                    <p class="px-2 font-size-18 line-19 small-text text-light mb-0">Visita 360°</p>
                  </button>
                </div>
              </div>
            </div>
            <!-- HEART, SHARE ETC...BTNS -->
            <div class="options-img d-flex align-items-center">
              <div (click)="likeHeartMain(response._id, response.liked)"
                class="h-51 mx-1 mt-2 heart-like bg-transparent-white cursor-pointer border-radius-10">
                <i [class]="response.liked ? 'bi-heart-fill':'bi-heart' " class="bi font-size-24 text-light"></i>
              </div>
              <div (click)="btninteractionimg('share')"
                class="h-51 mx-1 mt-2 heart-like bg-transparent-white cursor-pointer border-radius-10">
                <i [class]="iconshare ?'bi-share-fill':'bi-share' " class="bi font-size-24 text-light"></i>
              </div>
              <div (click)="btninteractionimg('print')"
                class="h-51 mx-1 mt-2 bg-transparent-white cursor-pointer heart-like border-radius-10 pt-2 pb-1 px-3">
                <i [class]="iconprint?'bi-printer-fill':'bi-printer' " class="bi font-size-24 text-light"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 bg-graylight mt-mobile px-5p d-flex justify-content-center">
      <div class="row max-w-1918 px-0 w-100 row-body-details-property">
        <!-- PAYMENT METHOD MOBILE -->
        <div *ngIf="infopay" class="col-12 d-none d-block-desk col-body-details-property">
          <div class="w-100 mt-4 border-radius-10">
            <div class="w-100 mt-4 card-info-buy bg-white p-4 border-radius-10">

              <p class="d-grid w-100">
                <span class="fw-700 font-size-18 line-24
                       color-black">Alta procura</span>
                <span class="fw-400 font-size-14 line-19
                       color-black">226 pessoas viram esse
                  imóvel recentemente</span>
              </p>
              <hr class="hr" />
              <div class="row">
                <div class="col-12 d-flex py-2 align-items-center justify-content-between">
                  <span class="fw-700 font-size-18 line-24 color-black">Aluguel
                    <i class="bi font-size-14 color-muted bi-info-circle"></i>
                  </span>
                  <span class="fw-700 font-size-18 line-24 color-black">{{response.saleValue | currency: 'R$ ' ||
                    '-'}}</span>
                </div>
                <div class="col-12 d-flex py-2 align-items-center justify-content-between">
                  <span class="fw-700 font-size-18 line-24 color-black">Condomínio
                    <i class="bi font-size-14 color-muted bi-info-circle"></i>
                  </span>
                  <span class="fw-700 font-size-18 line-24 color-black">{{response.condominiumValue | currency: 'R$ ' ||
                    '-'}}</span>
                </div>
                <div class="col-12 d-flex py-2 align-items-center justify-content-between">
                  <span class="fw-700 font-size-18 line-24 color-black">IPTU
                    <i class="bi font-size-14 color-muted bi-info-circle"></i>
                  </span>
                  <span class="fw-700 font-size-18 line-24 color-black">{{response.valueOfIptu | currency: 'R$ ' ||
                    '-'}}</span>
                </div>
                <div class="col-12">
                  <h6 class="my-4 w-100 bg-whitelight" style="height:1px;"></h6>
                </div>
                <div class="col-12 d-flex py-4 align-items-center justify-content-between">
                  <span class="fw-700 font-size-18 line-24 color-black">Aluguel
                    <i class="bi font-size-14 color-muted bi-info-circle"></i>
                  </span>
                  <span class="fw-700 font-size-18 line-24 color-black">{{finalValue | currency: 'R$ ' || '-'}}</span>
                </div>
              </div>
              <button (click)="scheduling(response)" class="bg-purple btn border-radius-10 h-74
                    fw-700 font-size-18 line-24 mt-3 text-light
                    w-100" type="button">Agendar visita</button>
              <button (click)="goExpress()" class="bg-white btn border-radius-10 border-purple h-74
                    fw-700 font-size-18 line-24 mt-3 color-purple
                    w-100" type="button">Fazer Proposta</button>
            </div>
          </div>
        </div>
        <div class="col-8 col-body-details-property">
          <!-- FIRST INFO CARD -->
          <div class="w-100 border-radius-10 bg-white">
            <div class="w-100 align-items-center mt-4 pt-5 px-5">
              <h1 class="fw-400 font-size-18 d-inline-block
                       line-19 color-black bg-graylight small-text info-announcement
                       border-radius-10 bg-purple-light mr-3 py-4
                       px-4">Apartamento</h1>
              <h1 class="fw-400 font-size-18 d-inline-block  small-text info-announcement
                       line-19 color-black bg-graylight text-nowrap
                       border-radius-10 bg-purple-light py-4 mr-3
                       px-4">Quarto:&nbsp;{{response.bedrooms || '-'}}</h1>
              <h1 class="fw-400 font-size-18 small-text info-announcement
                       line-19 color-black bg-graylight d-inline-block text-nowrap
                       border-radius-10 bg-purple-light py-4 mr-3
                       px-4">Banheiros:&nbsp;{{response.bathrooms || '-'}}</h1>
              <h1 class="fw-400 font-size-18 d-inline-block small-text info-announcement
                       line-19 color-black bg-graylight text-nowrap
                       border-radius-10 bg-purple-light py-4 px-4 mr-3
                       ">Metragem:&nbsp;{{response.usefulArea | currency: ' '}}m²</h1>
            </div>
            <div class="w-100 my-4 px-5 pt-3 pb-4
                    border-bottom-gray">
              <span class="fw-700 font-size-18 line-24
                       color-black">Detalhes do Imóvel</span>
              <br />
              <br />
              <p class="fw-400 font-size-18 line-24 py-3
                       color-black" style="white-space:pre-line">
                {{response.description || '-'}}
              </p>
            </div>
            
            <div class="w-100 py-4 border-bottom-gray px-5">
              <div class="w-100 d-flex align-items-center justify-content-between">
                <p class="w-100 color-black fw-700 font-size-18 line-24 pb-3">Detalhes do Imóvel</p>
                <img *ngIf="!arrowpff" src="../../../assets/icon/arrow-down-blue.png" width="20" style="cursor: pointer;"
                  class="animate__animated animate__rotateIn" (click)="openarrow(24)">
                <img *ngIf="arrowpff" src="../../../assets/icon/arrow-top-blue.png"
                  class="animate__animated animate__rotateIn" width="18" style="cursor: pointer;" (click)="openarrow(24)">
              </div>
              <table *ngIf="arrowpff" class="w-100 animate__animated animate__fadeInUp">
                <tbody>
                  <tr class="h-51">
                    <td>
                      <span class="fw-400
                                   font-size-16 line-20
                                   color-black">Identificador:</span>
                      <span class="fw-700
                                   font-size-16 line-20
                                   color-black">&nbsp;&nbsp;HZ227</span>
                    </td>
                    <td>
                      <span class="fw-400
                                   font-size-16 line-20
                                   color-black">Ano da
                        contrução:</span>
                      <span class="fw-700
                                   font-size-16 line-20
                                   color-black">&nbsp;&nbsp;{{response.yearOfConstruction || '-'}}</span>
                    </td>
                    <td>
                      <span class="fw-400
                                   font-size-16 line-20
                                   color-black">Tipo do
                        imóvel:</span>
                      <span class="fw-700
                                   font-size-16 line-20
                                   color-black">&nbsp;&nbsp;{{response.propertyType || '-'}}</span>
                    </td>
                  </tr>
                  <tr class="h-51">
                    <td>
                      <span class="fw-400
                                   font-size-16 line-20
                                   color-black">Preço:</span>
                      <span class="fw-700
                                   font-size-16 line-20
                                   color-black">&nbsp;&nbsp;{{response.saleValue | currency: 'R$ ' || '-'}}</span>
                    </td>
                    <td>
                      <span class="fw-400
                                   font-size-16 line-20
                                   color-black">Quartos:</span>
                      <span class="fw-700
                                   font-size-16 line-20
                                   color-black">&nbsp;&nbsp;{{response.bedrooms || '-'}}</span>
                    </td>
                    <td>
                      <span class="fw-400
                                   font-size-16 line-20
                                   color-black">Disponibilidade:</span>
                      <span *ngIf="response.typeOfAd === 'sale'"
                        class="fw-700 font-size-16 line-20 color-black">&nbsp;&nbsp;Venda</span>
                      <span *ngIf="response.typeOfAd === 'rent'"
                        class="fw-700 font-size-16 line-20 color-black">&nbsp;&nbsp;Aluguel</span>
                    </td>
                  </tr>
                  <tr class="h-51">
                    <td>
                      <span class="fw-400
                                   font-size-16 line-20
                                   color-black">Valor do
                        Condomínio:</span>
                      <span class="fw-700
                                   font-size-16 line-20
                                   color-black">&nbsp;&nbsp;{{response.condominiumValue | currency: 'R$ ' ||
                        '-'}}</span>
                    </td>
                    <td>
                      <span class="fw-400
                                   font-size-16 line-20
                                   color-black">Banheiro:</span>
                      <span class="fw-700
                                   font-size-16 line-20
                                   color-black">&nbsp;&nbsp;{{response.bathrooms || '-'}}</span>
                    </td>
                  </tr>
                  <tr class="h-51">
                    <td>
                      <span class="fw-400
                                   font-size-16 line-20
                                   color-black">Metragem:</span>
                      <span class="fw-700
                                   font-size-16 line-20
                                   color-black">&nbsp;&nbsp;{{response.usefulArea |currency: ' '}}m²</span>
                    </td>
                    <td>
                      <span class="fw-400
                                   font-size-16 line-20
                                   color-black">Vagas:</span>
                      <span class="fw-700 
                                   font-size-16 line-20
                                   color-black">&nbsp;&nbsp;{{response.vacancyNumber || '-'}}</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="w-100 py-4 border-bottom-gray px-5">
              <div class="w-100 d-flex align-items-center justify-content-between">
                <p class="w-100 color-black fw-700 font-size-18 line-24 pb-3">Informações Adicionais</p>
                <img *ngIf="!arrowinfo" src="../../../assets/icon/arrow-down-blue.png" width="20" style="cursor: pointer;"
                  class="animate__animated animate__rotateIn" (click)="openarrow(42)">
                <img *ngIf="arrowinfo" src="../../../assets/icon/arrow-top-blue.png"
                  class="animate__animated animate__rotateIn" width="18" style="cursor: pointer;" (click)="openarrow(42)">
              </div>
              <table *ngIf="arrowinfo" class="w-100 animate__animated animate__fadeInUp">
                <tbody>
                  <tr class="h-51">
                    <td>
                      <span class="fw-400
                                   font-size-16 line-20
                                   color-black">Face do
                        imóvel:</span>
                      <span class="fw-700
                                   font-size-16 line-20
                                   color-black">&nbsp;&nbsp;Sul</span>
                    </td>
                    <td>
                      <span class="fw-400
                                   font-size-16 line-20
                                   color-black">Item:</span>
                      <span class="fw-700
                                   font-size-16 line-20
                                   color-black">&nbsp;&nbsp;4</span>
                    </td>
                  </tr>
                  <tr class="h-51">
                    <td>
                      <span class="fw-400
                                   font-size-16 line-20
                                   color-black">Construtora:</span>
                      <span class="fw-700
                                   font-size-16 line-20
                                   color-black">&nbsp;&nbsp;Thá</span>
                    </td>
                  </tr>
                  <tr class="h-51">
                    <td>
                      <span class="fw-400
                                   font-size-16 line-20
                                   color-black">Item:</span>
                      <span class="fw-700
                                   font-size-16 line-20
                                   color-black">&nbsp;&nbsp;4</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- INFO CARDS -->

          <div class="w-100 border-radius-10 mt-4 info-cards-property px-5 pt-4 pb-3  bg-white">
            <div class="w-100 mb-3 align-items-center d-flex justify-content-between">
              <p class="w-100 color-black fw-700 font-size-18 line-24 mb-0">O que mais esse imóvel oferece</p>
              <img *ngIf="!arrow1" src="../../../assets/icon/arrow-down-blue.png" width="20" style="cursor: pointer;"
                class="animate__animated animate__rotateIn" (click)="openarrow(1)">
              <img *ngIf="arrow1" src="../../../assets/icon/arrow-top-blue.png"
                class="animate__animated animate__rotateIn" width="18" style="cursor: pointer;" (click)="openarrow(1)">
            </div>
            <table *ngIf="arrow1" class="w-100 animate__animated animate__fadeInUp">
              <tbody>
                <tr class="h-51">
                  <td class="align-items-center">
                    <i class="bi color-pink
                                font-size-20 bi-check2"></i>
                    <span class="fw-400 mb-0
                                font-size-16 line-20
                                color-black">&nbsp;&nbsp;Ar
                      Condicionado</span>
                  </td>
                  <td class="align-items-center">
                    <i class="bi color-pink
                                font-size-20 bi-check2"></i>
                    <span class="fw-400 mb-0
                                font-size-16 line-20
                                color-black">&nbsp;&nbsp;Sauna</span>
                  </td>
                  <td class="align-items-center">
                    <i class="bi color-pink
                                font-size-20 bi-check2"></i>
                    <span class="fw-400 mb-0
                                font-size-16 line-20
                                color-black">&nbsp;&nbsp;Tv
                      a cabo</span>
                  </td>
                </tr>
                <tr class="h-51">
                  <td class="align-items-center">
                    <i class="bi color-pink
                                font-size-20 bi-check2"></i>
                    <span class="fw-400 mb-0
                                font-size-16 line-20
                                color-black">&nbsp;&nbsp;Churrasqueira</span>
                  </td>
                  <td class="align-items-center">
                    <i class="bi color-pink
                                font-size-20 bi-check2"></i>
                    <span class="fw-400 mb-0
                                font-size-16 line-20
                                color-black">&nbsp;&nbsp;Área
                      Comum</span>
                  </td>
                  <td class="align-items-center">
                    <i class="bi color-pink
                                font-size-20 bi-check2"></i>
                    <span class="fw-400 mb-0
                                font-size-16 line-20
                                color-black">&nbsp;&nbsp;Mobiliada</span>
                  </td>
                </tr>
                <tr class="h-51">
                  <td class="align-items-center">
                    <i class="bi color-pink
                                font-size-20 bi-check2"></i>
                    <span class="fw-400 mb-0
                                font-size-16 line-20
                                color-black">&nbsp;&nbsp;Academia</span>
                  </td>
                  <td class="align-items-center">
                    <i class="bi color-pink
                                font-size-20 bi-check2"></i>
                    <span class="fw-400 mb-0
                                font-size-16 line-20
                                color-black">&nbsp;&nbsp;Piscina</span>
                  </td>
                </tr>
                <tr class="h-51">
                  <td class="align-items-center">
                    <i class="bi color-pink
                                font-size-20 bi-check2"></i>
                    <span class="fw-400 mb-0
                                font-size-16 line-20
                                color-black">&nbsp;&nbsp;Lavanderia</span>
                  </td>
                  <td class="align-items-center">
                    <i class="bi color-pink
                                font-size-20 bi-check2"></i>
                    <span class="fw-400 mb-0
                                font-size-16 line-20
                                color-black">&nbsp;&nbsp;Elevador</span>
                  </td>
                </tr>
                <tr class="h-51">
                  <td class="align-items-center">
                    <i class="bi color-pink
                                font-size-20 bi-check2"></i>
                    <span class="fw-400 mb-0
                                font-size-16 line-20
                                color-black">&nbsp;&nbsp;Banheiro
                      Externo</span>
                  </td>
                  <td class="align-items-center">
                    <i class="bi color-pink
                                font-size-20 bi-check2"></i>
                    <span class="fw-400 mb-0
                                font-size-16 line-20
                                color-black">&nbsp;&nbsp;Wi-fi</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="w-100 border-radius-10 mt-4 info-cards-property px-5 pt-4 pb-3  bg-white">
            <div class="w-100 d-flex pb-3 justify-content-between align-items-center">
              <p class="w-100 d-grid pr-1 align-items-center mb-0">
                <span class="color-black fw-700 font-size-16 line-20">
                  {{response.publicPlaceAddress || '-'}} ({{response.cityAddress || '-'}})
                </span>
                <span class="fw-400 font-size-14 px-1 line-20">CEP: {{response.cepAddress || '-'}}</span>
              </p>
              <img *ngIf="!arrow2" src="../../../assets/icon/arrow-down-blue.png" width="20"
                class="cursor-pointer animate__animated animate__rotateIn" (click)="openarrow(2)">
              <img *ngIf="arrow2" src="../../../assets/icon/arrow-top-blue.png"
                class="cursor-pointer animate__animated animate__rotateIn" width="18" (click)="openarrow(2)">
            </div>
            <iframe *ngIf="arrow2"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7205.665528434405!2d-49.26210139554594!3d-25.443854055282333!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94dce35351cdb3dd%3A0x6d2f6ba5bacbe809!2sCuritiba%2C%20PR!5e0!3m2!1spt-BR!2sbr!4v1669903101993!5m2!1spt-BR!2sbr"
              class="w-100 h-600 animate__animated animate__fadeInUp" style="border:0;" allowfullscreen=""
              loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <div id="previewplant" class="w-100 border-radius-10 info-cards-property mt-4 px-5 pt-4 pb-3  bg-white">
            <div class="w-100 mb-3 align-items-center d-flex justify-content-between">
              <p class="w-100 color-black fw-700 font-size-18 line-24 mb-0">Planta baixa</p>
              <img *ngIf="!arrow3" src="../../../assets/icon/arrow-down-blue.png" width="20" style="cursor: pointer;"
                class="animate__animated animate__rotateIn" (click)="openarrow(3)">
              <img *ngIf="arrow3" src="../../../assets/icon/arrow-top-blue.png"
                class="animate__animated animate__rotateIn" width="18" style="cursor: pointer;" (click)="openarrow(3)">
            </div>
            <div *ngIf="arrow3" class="w-100 animate__animated animate__fadeInUp">
              <div class="w-100 my-4 d-flex block-important
                    border border-radius-10
                    justify-content-between p-4">
                <div class="w-auto d-inline-block">
                  <h3 class="fw-400 px-4 my-2 font-size-18
                          line-24 color-black ">Primeiro piso</h3>
                </div>
                <div class="w-auto d-inline-block">
                  <h3 class="fw-400 px-4 my-2 font-size-18
                          line-24 color-black d-inline-block">Tamanho:
                    267 m²
                  </h3>
                  <h3 class="fw-400 px-4 my-2 font-size-18
                          line-24 color-black d-inline-block">Quartos:
                    87 m²
                  </h3>
                  <h3 class="fw-400 px-4 my-2 font-size-18
                          line-24 color-black d-inline-block">Banheiros:
                    34 m²
                  </h3>
                  <h3 class="fw-400 px-4 my-2 font-size-18
                          line-24 color-black d-inline-block">Preço: {{response.saleValue | currency: 'R$ ' || '-'}}
                  </h3>
                </div>
              </div>
              <img src="../../../assets/img/plant.png" class="w-100 p-4" />
              <p class="fw-400 font-size-14 line-20
                    color-black w-100 text-center py-5">
                Plan description. Lorem ipsum dolor sit
                amet, consectetuer adipiscing elit, sed diam
                nonummy nibh
                euismod tincidunt ut laoreet dolore magna
                aliquam erat volutpat. Ut wisi enim ad minim
                veniam, quis
                nostrud exerci tation ullamcorper suscipit
                lobortis nisl ut aliquip ex ea commodo
                consequat.
              </p>
            </div>
          </div>
          <div class="w-100 mt-4 border-radius-10 info-cards-property bg-white">
            <div class="w-100 px-5 space-segment pt-5 mb-4
                    d-flex align-items-center
                    border-bottom-gray">
              <button [class]="segment ? 'color-muted':'border-bottom-green color-black' "
                (click)="segmentvideo('video')" id="previewvideo"
                class="btn bg-transparent py-2 px-5 btn-segment fw-700 font-size-18 line-24" type="button">Vídeo do
                Imóvel</button>
              <button [class]="segment ? 'border-bottom-green color-black':'color-muted' "
                (click)="segmentvideo('tour')" class="btn bg-transparent py-2 px-5
                    btn-segment fw-700 font-size-18 line-24" type="button">Tour virtual
                exclusivo</button>
            </div>
            <div *ngIf="propertyvideo" class="w-100 position-relative pt-4 pb-5">
              <vg-player class="w-90 m-0-auto h-100 ">
                <vg-overlay-play></vg-overlay-play>
                <vg-buffering></vg-buffering>
                <vg-scrub-bar>
                  <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                  <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                </vg-scrub-bar>
                <vg-controls>
                  <vg-play-pause></vg-play-pause>
                  <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
                  <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>
                  <vg-mute></vg-mute>
                  <vg-volume></vg-volume>
                  <vg-fullscreen></vg-fullscreen>
                </vg-controls>
                <video [vgMedia]="$any(media)" poster="../../../assets/img/preview1.png" #media id="singleVideo"
                  preload="auto" crossorigin>
                  <source src="../../../assets/vid/test.mp4" type="video/mp4">
                  <img src="../../../assets/icon/play.png" />
                </video>
              </vg-player>
            </div>
            <div *ngIf="tourvirtual" class="w-100 d-flex justify-content-center position-relative pt-4 pb-5">
              <div class="w-100 align-items-center text-align-center">
                <img src="../../../assets/img/360video.png" class="w-50" alt="not video" />
                <p class="fw-500 py-3 font-size-18 line-15 text-dark">Este anúncio ainda não possui Visita em 360°</p>
              </div>
            </div>
          </div>

        </div>
        <!-- PAYMENT METHOD DESK-->
        <div  class="col-4  d-none-desk col-body-details-property">
          <div class="w-100 mt-4 border-radius-10">
            <div id="infopaydesk" class="w-100 mt-4 card-info-buy bg-white p-4 border-radius-10">

              <p class="d-grid w-100">
                <span class="fw-700 font-size-18 line-24
                       color-black">Altass procura</span>
                <span class="fw-400 font-size-14 line-19
                       color-black">226 pessoas viram esse
                  imóvel recentemente</span>
              </p>
              <hr class="hr" />
              <div class="row">
                <div class="col-12 d-flex py-2 align-items-center justify-content-between">
                  <span class="fw-700 font-size-18 line-24 color-black">Aluguel
                    <i class="bi font-size-14 color-muted bi-info-circle"></i>
                  </span>
                  <span class="fw-700 font-size-18 line-24 color-black">{{response.saleValue | currency: 'R$ ' ||
                    '-'}}</span>
                </div>
                <div class="col-12 d-flex py-2 align-items-center justify-content-between">
                  <span class="fw-700 font-size-18 line-24 color-black">Condomínio
                    <i class="bi font-size-14 color-muted bi-info-circle"></i>
                  </span>
                  <span class="fw-700 font-size-18 line-24 color-black">{{response.condominiumValue | currency: 'R$ ' ||
                    '-'}}</span>
                </div>
                <div class="col-12 d-flex py-2 align-items-center justify-content-between">
                  <span class="fw-700 font-size-18 line-24 color-black">IPTU
                    <i class="bi font-size-14 color-muted bi-info-circle"></i>
                  </span>
                  <span class="fw-700 font-size-18 line-24 color-black">{{response.valueOfIptu | currency: 'R$ ' ||
                    '-'}}</span>
                </div>
                <div class="col-12">
                  <h6 class="my-4 w-100 bg-graylight" style="height: 1px;"></h6>
                </div>
                <div class="col-12 d-flex py-4 align-items-center justify-content-between">
                  <span class="fw-700 font-size-18 line-24 color-black">Aluguel
                    <i class="bi font-size-14 color-muted bi-info-circle"></i>
                  </span>
                  <span class="fw-700 font-size-18 line-24 color-black">{{finalValue | currency: 'R$ ' || '-'}}</span>
                </div>
              </div>
              <button (click)="scheduling(response)" class="bg-purple btn border-radius-10 h-74
                    fw-700 font-size-18 line-24 mt-3 text-light
                    w-100" type="button">Agendar visita</button>
              <button (click)="goExpress()" class="bg-white btn border-radius-10 border-purple h-74
                    fw-700 font-size-18 line-24 mt-3 color-purple
                    w-100" type="button">Fazer Proposta</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- FLOAT BTN SCHEDULE -->
  <div *ngIf="infopaymobile" class="schedule-visit d-none bg-white border-top-gray py-3 d-flex-desk justify-content-center cursor-pointer position-fixed z-1000 w-100">
    <div class="w-100 max-w-800 padding-x schedule-visit-modal">
      <div class="w-100">
        <h3 class="">{{finalValue | currency: 'R$ ' || '-'}}</h3>
      </div>
      <div class="row">
        <div class="col-6">
          <button (click)="goExpress()" class="bg-white btn border-radius-10 border-purple fw-700 font-size-14 line-24 color-purple w-100">
            Enviar proposta
          </button>
        </div>
        <div class="col-6">

          <button (click)="scheduling(response)"  class="bg-purple btn border-radius-10 fw-700 font-size-14 line-24 text-light w-100">
             Agendar visita
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal VIEW IMAGES -->
  <div class="modal px-0 fade" id="previewimage" tabindex="-1" role="dialog" aria-labelledby="previewimageTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg-preview modal-dialog-centered h-100" role="document">
      <div class="modal-content h-100 modal-content-preview">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="text-light font-size-55" aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="anima-body h-100 d-flex justify-content-center align-items-center">
          <swiper class="h-100 max-w-1918 w-100" [slidesPerView]="1" [navigation]="true" [scrollbar]="true">
            <ng-template class="w-100" *ngFor="let item of previewimg" swiperSlide>
              <div class="bg-img-preview d-flex justify-content-center align-items-center w-100 h-100 py-2 border-radius-10 px-5">
                <img src="{{item.previews}}" class="w-100 h-auto preview-img-property" />
              </div>
            </ng-template>
          </swiper>
        </div>
      </div>
    </div>
  </div>
</main>