.btn-change-page-disabled {
    color: #B0B1B4 !important;
    font-weight: 400 !important;
}

.btn-change-page-selected {
    border-bottom: 2px solid #01FF5F !important;
    font-weight: 700 !important;
    color: black !important;
}