<section class="container p-5  my-4" style="margin-top: 100px !important;">
  <div class="text-center">
    <p><b>Política de cookies</b></p>
    <p class="text-justify">Cookies são pequenos arquivos de texto ou fragmentos de dados, criados com as suas informações de navegação no nosso site. Eles retêm as informações
      sobre sua navegação na nossa página para que o site possa “lembrar” destes dados e proporcionar uma melhor a experiência para Você, de acordo com as suas
      preferências. Ressaltamos que os cookies não dão acesso ao seu computador ou celular e não são coletadas informações pessoais específicas, como
      dados sensíveis ou bancários.</p>
    <p>Nós fazemos uso dos seguintes cookies:</p>
    <p class="text-justify"> &#160;&#160;&#160;•	Cookies Estritamente Necessários: são eles que permitem que você utilize o nosso site e as funções básicas como navegação de página, bloquear o uso mal-intencionado de credenciais de
      login e impedir acesso não autorizado a dados de usuários. </p>
    <p class="text-justify">&#160;&#160;&#160;•	Cookies Analíticos: coletam informações sobre como você utiliza o nosso site, quais páginas você visitou e quais links clicou. Nenhuma dessas informações poderá ser usada para identificar seus dados pessoais.
      O único objetivo é melhorar as funções do site baseado nas estatísticas coletadas. </p>
    <p class="text-justify">&#160;&#160;&#160;•	Cookies de Publicidade – São cookies que geralmente pertencem a terceiros, podendo ser definidos, por meio de nosso site, por nossos parceiros publicitários. Essas empresas realizam uma ação de coleta em diversos sites e portais, para criar um perfil de interesses do usuário, e assim direcionar anúncios publicitários eletrônicos de acordo com a sua possível necessidade. Esses recursos não armazenam informações pessoais diretamente, porém são baseados na identificação exclusiva de seu navegador e dispositivo da internet, por isso, ajudam a direcionar conteúdos e itens relacionados ao seu perfil, possibilitando uma publicidade mais assertiva, se essa for a sua opção.</p>
    <p class="text-justify">A imoveistock  minimiza ao máximo a coleta de dados pessoais de qualquer Titular, limitando-se ao mínimo necessário para o alcance das finalidades acima declaradas. Da mesma forma, declaramos que estes dados não são compartilhados com nenhuma empresa ou terceiro. </p>
  </div>
</section>
