<section class="bg-home-products position-relative w-100 h-auto">
    <div class="row bg-whitelight h-auto m-0-auto max-w-1918" style="padding-bottom: 8rem;">
        <div class="col-12 pt-3 pb-5">
            <div class="w-100 my-5 text-align-center">
                <p class="fw-700 font-size-32 line-43">
                    Imóveis exclusivos? Temos!
                </p>
                <h4 class="fw-400 font-size-16 line-20 color-blue">
                    Imóveis exclusivos? Temos!
                </h4>
            </div>
            <swiper class="mySwip h-100 max-w-1227" 
            [slidesPerView]="1" 
            [pagination]="{ clickable: true }"
                [scrollbar]="true">
                <ng-template swiperSlide>
                    <div class="row px-4">
                        <div *ngFor="let item of response" class="col-md-4 col-swiper">
                            <div class="w-fit h-100 product-announcement p-2 border-radius-10 bg-white">
                                <div class="bg-img-product py-2 px-3 border-radius-10">
                                    <div class="w-100 h-50 d-flex">
                                        <h4 class="bg-purple h-fit px-4 py-2 mb-0 border-radius-5 fw-400 font-size-14 line-15 text-light">
                                            Venda</h4>
                                        <h4 class="bg-greenlight h-fit ml-2 px-3 py-2 mb-0 border-radius-5 fw-400 font-size-14 line-15 color-black">
                                            Exclusivo</h4>
                                    </div>
                                    <div class="w-100 d-flex h-50 align-items-end justify-content-between">
                                        <p class="fw-700 mb-0 font-size-22 h-fit line-32 text-light">RS{{item.saleValue}}</p>
                                        <div (click)="likeHeart()"
                                            class="h-fit bg-transparent-white border-radius-10 pt-2 pb-1 px-3">
                                            <i [class]="iconlikeheart ? 'bi-heart-fill':'bi-heart' "
                                                class="bi font-size-16 text-light"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="w-100 mx-1 pt-3">
                                    <span class="fw-400 font-size-14 line-20 color-black">{{item.complementAddress}}</span>
                                    <p class="fw-700 font-size-16 line-20 mb-0 color-black  text-truncate"
                                        style="max-width: 90%;">{{item.propertyCharacteristics}}</p>
                                    <p class="d-flex align-items-center">
                                        <i class="bi font-size-20 mr-2 color-black bi-geo-alt"></i>
                                        <span class="fw-400 font-size-14 line-20 color-black">{{item.usefulArea}},
                                            {{user?.name}}</span>
                                    </p>
                                </div>
                                <div class="row mx-1 border-bottom-gray pb-3 d-flex">
                                    <div
                                        class="col justify-content-left px-0 d-flex align-items-center justify-content-left">
                                        <img src="../../../assets/icon/bed.png" class="pr-2" />
                                        <p class="fw-400 mb-0 font-size-14 line-20 color-black">{{item.rooms}} Quartos</p>
                                    </div>
                                    <div
                                        class="col justify-content-center px-0 d-flex align-items-center justify-content-left">
                                        <img src="../../../assets/icon/car.png" class="pr-2" />
                                        <p class="fw-400 mb-0 font-size-14 line-20 color-black">{{item.vacancyNumber}} Vagas</p>
                                    </div>
                                    <div
                                        class="col justify-content-end px-0 d-flex align-items-center justify-content-left">
                                        <img src="../../../assets/icon/rule.png" class="pr-2" />
                                        <p class="fw-400 mb-0 font-size-14 line-20 color-black">{{item.ownerName}} m2</p>
                                    </div>
                                </div>
                                <div class="w-100 d-flex align-items-center py-2 px-1">
                                    <img [src]="urlsimg" class="border-radius-100 " style="width: 42px;" />
                                    <h3 class="fw-400 mb-0 pl-2 font-size-14 line-20 color-black">{{item.description}}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </swiper>
        </div>
    </div>
</section>