<section class="bg-whitelight position-relative w-100 h-auto">
    <div class="row h-auto m-0-auto w-100">
        <div class="col-12 col-of-products pt-3 pb-5 px-0">
            <div class="w-100 my-5 text-center">
                <p class="fw-700 text-mobile mb-0 font-size-32 line-43">
                    Imóveis exclusivos? Temos!
                </p>
                <h4 class="fw-400 font-size-16 line-20 color-blue">
                    opções que você só encontra aqui
                </h4>
            </div>
            <div class="row mx-0 px-5p justify-content-center">
                <!-- VERSION DESK -->
                <swiper class="col-12 swiper-desk h-500 max-w-1918" [spaceBetween]="2" [slidesPerView]="4"
                    [pagination]="{ clickable: true }" [scrollbar]="true">
                    <ng-template class="max-w-1477" *ngFor="let item of response | slice: 0:15" swiperSlide>
                        <div class="col-md-12 px-0 mt-mobile cursor-pointer">
                            <div class="h-100 product-announcement p-2 mx-3 border-radius-10 bg-white">
                                <div class="py-2 px-3 product-announcement-card position-relative">
                                    <img *ngIf="!item.mainPhoto" src="../../../../assets/img/ap.png"
                                        class="photo-announcement-card" (click)="announcementSelected(item._id)">
                                    <img *ngIf="item.mainPhoto" [src]="item.mainPhoto" class="photo-announcement-card"
                                        (click)="announcementSelected(item._id)">
                                    <div class="space-sale-exclusive">
                                        <h4 *ngIf="item.typeOfAd === 'sale'"
                                            class="bg-purple h-fit px-4 py-2 mb-0 border-radius-5 fw-400 font-size-14 line-15 text-light">
                                            Venda</h4>
                                        <h4 *ngIf="item.typeOfAd === 'rent'"
                                            class="bg-purple h-fit px-4 py-2 mb-0 border-radius-5 fw-400 font-size-14 line-15 text-light">
                                            Locação</h4>
                                        <div class="d-flex" *ngIf="item.typeOfAd === 'both'">
                                            <h4
                                                class="bg-purple h-fit px-4 py-2 mb-0 border-radius-5 fw-400 font-size-14 line-15 text-light mr-2">
                                                Venda</h4>
                                            <h4
                                                class="bg-purple h-fit px-4 py-2 mb-0 border-radius-5 fw-400 font-size-14 line-15 text-light">
                                                Locação</h4>
                                        </div>
                                        <h4 *ngIf="item.exclusivity"
                                            class="bg-greenlight h-fit ml-2 px-3 py-2 mb-0 border-radius-5 fw-400 font-size-14 line-15 color-black">
                                            Exclusivo</h4>
                                    </div>
                                    <div class="space-value-announcement">
                                        <p class="fw-700 mb-0 font-size-22 h-fit line-32 text-light"
                                            *ngIf="item.typeOfAd === 'sale'">{{item.saleValue | currency: 'R$'}}</p>
                                        <p class="fw-700 mb-0 font-size-22 h-fit line-32 text-light"
                                            *ngIf="item.typeOfAd === 'both'">{{item.saleValue | currency: 'R$'}}</p>
                                        <p class="fw-700 mb-0 font-size-22 h-fit line-32 text-light"
                                            *ngIf="item.typeOfAd === 'rent'">{{item.leaseValue | currency: 'R$'}}
                                        </p>
                                        <div (click)="likeHeart(item._id, item.liked)"
                                            class="h-fit bg-transparent-white border-radius-10 pt-2 pb-1 px-3">
                                            <i [class]="item.liked ? 'bi-heart-fill':'bi-heart' "
                                                class="bi bi-heart-fill font-size-16 text-light"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 px-0" (click)="announcementSelected(item._id)">
                                    <div class="w-100 mx-1 pt-3">
                                        <span
                                            class="fw-400 font-size-14 line-20 color-black text-capitalize">{{item.propertyCharacteristics}}</span>
                                        <p class="fw-700 font-size-16 line-20 mb-0 color-black  text-truncate"
                                            style="max-width: 90%;">{{item.description}}</p>
                                        <p class="d-flex align-items-center">
                                            <i class="bi font-size-20 mr-2 color-black bi-geo-alt"></i>
                                            <span
                                                class="fw-400 font-size-14 line-20 color-black">{{item.publicPlaceAddress}},
                                                {{item.cityAddress}} - {{item.ufAddress}}</span>
                                        </p>
                                    </div>
                                    <div class="row mx-1 pb-2 d-flex">
                                        <div
                                            class="col mt-2 justify-content-left left-important px-0 d-flex align-items-center justify-content-left">
                                            <img src="../../../assets/icon/bed.png" class="pr-2 mobile-w" />
                                            <p
                                                class="fw-400 mb-0 font-size-14 little-text-mobile line-20 color-black d-inline-block text-nowrap">
                                                {{item.bedrooms}}
                                                Quartos
                                            </p>
                                        </div>
                                        <div
                                            class="col mt-2 justify-content-center left-important  px-0 d-flex align-items-center justify-content-left">
                                            <img src="../../../assets/icon/car.png" class="pr-2 mobile-w" />
                                            <p class="fw-400 mb-0 font-size-14 little-text-mobile line-20 color-black">
                                                {{item.vacancyNumber}} Vagas
                                            </p>
                                        </div>
                                        <div
                                            class="col mt-2 justify-content-end left-important  px-0 d-flex align-items-center justify-content-left">
                                            <img src="../../../assets/icon/rule.png" class="pr-2 mobile-w" />
                                            <p
                                                class="fw-400 mb-0 font-size-14 little-text-mobile line-20 color-black d-inline-block text-nowrap">
                                                {{item.usefulArea |
                                                currency: ' '}} m2</p>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-left align-items-center ml-1 mt-2">
                                        <img src="../../../assets/icon/suites.svg" width="30px" class="pr-2 mobile-w" />
                                        <p class="fw-400 mb-0 font-size-14 little-text-mobile line-20
                                                         color-black">{{item.suites || 0}} Suítes</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </ng-template>
                </swiper>
                <!-- VERSION DESK.2 -->
                <swiper class="col-12 d-block-desk-2 d-none d-none-tablet h-500 max-w-1918" [spaceBetween]="2"
                    [slidesPerView]="3" [pagination]="{ clickable: true }" [scrollbar]="true">
                    <ng-template class="max-w-1477" *ngFor="let item of response | slice: 0:15" swiperSlide>
                        <div class="col-md-12 px-0 mt-mobile cursor-pointer">
                            <div class="h-100 product-announcement p-2 mx-3 border-radius-10 bg-white">
                                <div class="py-2 px-3 position-relative" style="height: 219px;">
                                    <img *ngIf="!item.mainPhoto" src="../../../../assets/img/ap.png"
                                        class="photo-announcement-card" (click)="announcementSelected(item._id)">
                                    <img *ngIf="item.mainPhoto" [src]="item.mainPhoto" class="photo-announcement-card"
                                        (click)="announcementSelected(item._id)">
                                    <div class="space-sale-exclusive">
                                        <h4 *ngIf="item.typeOfAd === 'sale'"
                                            class="bg-purple h-fit px-4 py-2 mb-0 border-radius-5 fw-400 font-size-14 line-15 text-light">
                                            Venda</h4>
                                        <h4 *ngIf="item.typeOfAd === 'rent'"
                                            class="bg-purple h-fit px-4 py-2 mb-0 border-radius-5 fw-400 font-size-14 line-15 text-light">
                                            Locação</h4>
                                        <h4 *ngIf="item.exclusivity"
                                            class="bg-greenlight h-fit ml-2 px-3 py-2 mb-0 border-radius-5 fw-400 font-size-14 line-15 color-black">
                                            Exclusivo</h4>
                                    </div>
                                    <div class="space-value-announcement">
                                        <p class="fw-700 mb-0 font-size-22 h-fit line-32 text-light"
                                            *ngIf="item.typeOfAd === 'sale'">{{item.saleValue | currency: 'R$'}}</p>
                                        <p class="fw-700 mb-0 font-size-22 h-fit line-32 text-light"
                                            *ngIf="item.typeOfAd === 'rent'">{{item.leaseValue | currency: 'R$'}}
                                        </p>
                                        <div (click)="likeHeart(item._id, item.liked)"
                                            class="h-fit bg-transparent-white border-radius-10 pt-2 pb-1 px-3">
                                            <i [class]="item.liked ? 'bi-heart-fill':'bi-heart' "
                                                class="bi bi-heart-fill font-size-16 text-light"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 px-0" (click)="announcementSelected(item._id)">
                                    <div class="w-100 mx-1 pt-3">
                                        <span
                                            class="fw-400 font-size-14 line-20 color-black text-capitalize">{{item.propertyCharacteristics}}</span>
                                        <p class="fw-700 font-size-16 line-20 mb-0 color-black  text-truncate"
                                            style="max-width: 90%;">{{item.description}}</p>
                                        <p class="d-flex align-items-center">
                                            <i class="bi font-size-20 mr-2 color-black bi-geo-alt"></i>
                                            <span
                                                class="fw-400 font-size-14 line-20 color-black">{{item.publicPlaceAddress}},
                                                {{item.cityAddress}} - {{item.ufAddress}}</span>
                                        </p>
                                    </div>
                                    <div class="row mx-1 pb-2 d-flex">
                                        <div
                                            class="col mt-2 justify-content-left left-important px-0 d-flex align-items-center justify-content-left">
                                            <img src="../../../assets/icon/bed.png" class="pr-2 mobile-w" />
                                            <p
                                                class="fw-400 mb-0 font-size-14 little-text-mobile line-20 color-black d-inline-block text-nowrap">
                                                {{item.bedrooms}}
                                                Quartos
                                            </p>
                                        </div>
                                        <div
                                            class="col mt-2 justify-content-center left-important  px-0 d-flex align-items-center justify-content-left">
                                            <img src="../../../assets/icon/car.png" class="pr-2 mobile-w" />
                                            <p class="fw-400 mb-0 font-size-14 little-text-mobile line-20 color-black">
                                                {{item.vacancyNumber}} Vagas
                                            </p>
                                        </div>
                                        <div
                                            class="col mt-2 justify-content-end left-important  px-0 d-flex align-items-center justify-content-left">
                                            <img src="../../../assets/icon/rule.png" class="pr-2 mobile-w" />
                                            <p
                                                class="fw-400 mb-0 font-size-14 little-text-mobile line-20 color-black d-inline-block text-nowrap">
                                                {{item.usefulArea |
                                                currency: ' '}} m2</p>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-left align-items-center ml-1 mt-2">
                                        <img src="../../../assets/icon/suites.svg" width="30px" class="pr-2 mobile-w" />
                                        <p class="fw-400 mb-0 font-size-14 little-text-mobile line-20
                                                         color-black">{{item.suites || 0}} Suítes</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </ng-template>
                </swiper>
                <!-- VERSION MOBILE -->
                <swiper class="col-12 d-block-tablet d-none h-500 max-w-1477" [spaceBetween]="50" [slidesPerView]="1"
                    [pagination]="{ clickable: true }" [scrollbar]="true">
                    <ng-template *ngFor="let item of response | slice: 0:10" swiperSlide>
                        <div class="col-md-12 mt-mobile padding-x px-0 cursor-pointer">
                            <div class="h-100 w-100 product-announcement p-2 border-radius-10 bg-white">
                                <div class="py-2 px-3 position-relative" style="height: 219px;">
                                    <img *ngIf="!item.mainPhoto" src="../../../../assets/img/ap.png"
                                        class="photo-announcement-card" (click)="announcementSelected(item._id)">
                                    <img *ngIf="item.mainPhoto" [src]="item.mainPhoto" class="photo-announcement-card"
                                        (click)="announcementSelected(item._id)">
                                    <div class="space-sale-exclusive">
                                        <h4 *ngIf="item.typeOfAd === 'sale'"
                                            class="bg-purple h-fit px-4 py-2 mb-0 border-radius-5 fw-400 font-size-14 line-15 text-light">
                                            Venda</h4>
                                        <h4 *ngIf="item.typeOfAd === 'rent'"
                                            class="bg-purple h-fit px-4 py-2 mb-0 border-radius-5 fw-400 font-size-14 line-15 text-light">
                                            Locação</h4>
                                        <h4 *ngIf="item.exclusivity"
                                            class="bg-greenlight h-fit ml-2 px-3 py-2 mb-0 border-radius-5 fw-400 font-size-14 line-15 color-black">
                                            Exclusivo</h4>
                                    </div>
                                    <div class="space-value-announcement">
                                        <p class="fw-700 mb-0 font-size-22 h-fit line-32 text-light"
                                            *ngIf="item.typeOfAd === 'sale'">{{item.saleValue | currency: 'R$'}}</p>
                                        <p class="fw-700 mb-0 font-size-22 h-fit line-32 text-light"
                                            *ngIf="item.typeOfAd === 'rent'">{{item.leaseValue | currency: 'R$'}}
                                        </p>
                                        <div (click)="likeHeart(item._id, item.liked)"
                                            class="h-fit bg-transparent-white border-radius-10 pt-2 pb-1 px-3">
                                            <i [class]="item.liked ? 'bi-heart-fill':'bi-heart' "
                                                class="bi bi-heart-fill font-size-16 text-light"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 px-0" (click)="announcementSelected(item._id)">
                                    <div class="w-100 mx-1 pt-3">
                                        <span
                                            class="fw-400 font-size-14 line-20 color-black text-capitalize">{{item.propertyCharacteristics}}</span>
                                        <p class="fw-700 font-size-16 line-20 mb-0 color-black  text-truncate"
                                            style="max-width: 90%;">{{item.description}}</p>
                                        <p class="d-flex align-items-center  text-left">
                                            <i class="bi font-size-20 mr-2 color-black bi-geo-alt"></i>
                                            <span
                                                class="fw-400 font-size-14 line-20 color-black">{{item.publicPlaceAddress}},
                                                {{item.cityAddress}} - {{item.ufAddress}}</span>
                                        </p>
                                    </div>
                                    <div class="row mx-1 pb-2 d-flex">
                                        <div
                                            class="col mt-2 justify-content-left left-important px-0 d-flex align-items-center justify-content-left">
                                            <img src="../../../assets/icon/bed.png" class="pr-2 mobile-w" />
                                            <p class="fw-400 mb-0 font-size-14 little-text-mobile line-20 color-black">
                                                {{item.bedrooms}}
                                                Quartos
                                            </p>
                                        </div>
                                        <div
                                            class="col mt-2 justify-content-center left-important  px-0 d-flex align-items-center justify-content-left">
                                            <img src="../../../assets/icon/car.png" class="pr-2 mobile-w" />
                                            <p class="fw-400 mb-0 font-size-14 little-text-mobile line-20 color-black">
                                                {{item.vacancyNumber}} Vagas
                                            </p>
                                        </div>
                                        <div
                                            class="col mt-2 justify-content-end left-important  px-0 d-flex align-items-center justify-content-left">
                                            <img src="../../../assets/icon/rule.png" class="pr-2 mobile-w" />
                                            <p
                                                class="fw-400 mb-0 font-size-14 little-text-mobile line-20 color-black d-inline-block text-nowrap">
                                                {{item.usefulArea |
                                                currency: ' '}} m2</p>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-left align-items-center ml-1 mt-2">
                                        <img src="../../../assets/icon/suites.svg" width="30px" class="pr-2 mobile-w" />
                                        <p class="fw-400 mb-0 font-size-14 little-text-mobile line-20
                                                         color-black">{{item.suites || 0}} Suítes</p>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </ng-template>
                </swiper>
            </div>
        </div>
    </div>
</section>