<section class="container-fluid p-4">
    <div class="d-flex justify-content-end">
        <img src="../../../../../assets/icon/x.png" alt="" (click)="exit()" style="cursor: pointer;">
    </div>
    <div class="d-flex flex-column align-items-center justify-content-center">
        <img src="../../../../../assets/logo/simbolo-logo-preto.svg" alt="">
        <h3 class="fw-700 py-3 font-size-24 line-32 color-black w-100 text-center">Aqui você tem o melhor <br>
            atendimento</h3>
        <p class="fw-600 font-size-14 text-center">Aqui garantimos que você seja atendido com profissionalismo e
            qualidade.
            Digite o celular do seu corretor.</p>
    </div>
    <form [formGroup]="form">
        <div class="w-100 d-flex">
            <input type="tel" maxlength="2" formControlName="ddd" id="ddd" (keyup)="nextCode('ddd', $event)"
                class="btn w-20 bg-whitelight border-radius-10 border p-3 fw-400 font-size-16 line-20 color-black"
                placeholder="DDD" />
            <input type="tel" mask="99999-9999" formControlName="phone" id="tel" (keyup)="nextCode('tel', $event)"
                class="btn w-100 h-74 bg-whitelight text-left ml-3 border-radius-10 border p-4 fw-400 font-size-16 line-20 color-black"
                placeholder="Celular" />
        </div>
        <div class="d-flex flex-column">
            <button [disabled]="this.form.invalid" type="button"
                class="btn bg-purple fw-700 font-size-18 line-24 text-light border-radius-10 h-74 w-100 mt-5"
                (click)="confirm()">Continuar</button>
            <button type="button"
                class="btn bg-white border-radius-10 border-purple color-purple h-74 fw-700 font-size-18 w-100 mt-3"
                (click)="exit()">Cancelar</button>
        </div>
    </form>
</section>