<form [formGroup]="form" class="p-4 anima-body">
   <div class="py-3 max-w-800">
      <div class="d-flex justify-content-end">
         <img src="../../../assets/icon/x.png" height="20" (click)="exit()" class="cursor-pointer">
      </div>
      <p class="fw-700 pt-3 font-size-24 line-32 color-black w-100 text-center">
         Digite o código de acesso
      </p>
      <p class="fw-400 font-size-14 line-18 color-black w-100 text-center">
         Insira o código de 4 digitos que enviamos para o número: <br />
         <span class="fw-700 pt-3 font-size-14 line-18 color-black">+{{numberTel}}</span>
      </p>

     <div class="w-100 d-inline-block justify-content-center d-flex">
       <input type="text" #txt1 class="btn w56h56 bg-whitelight border-radius-10 border p-3 m-1 fw-400 font-size-24 line-20 color-black"  formControlName="code1"
              placeholder="*"  maxlength="1" (keyup)="move($event, '',txt1,txt2)">

       <input type="text" #txt2 class="btn w56h56 bg-whitelight border-radius-10 border p-3 m-1 fw-400 font-size-24 line-20 color-black" formControlName="code2"
              (keyup)="move($event, txt1,txt2,txt3)" placeholder="*"   maxlength="1">

       <input type="text" #txt3 class="btn w56h56 bg-whitelight border-radius-10 border p-3 m-1 fw-400 font-size-24 line-20 color-black" formControlName="code3"
              (keyup)="move($event, txt2,txt3,txt4)" placeholder="*"  maxlength="1">

       <input type="text" #txt4 class="btn w56h56 bg-whitelight border-radius-10 border p-3 m-1 fw-400 font-size-24 line-20 color-black"  formControlName="code4"
              maxlength="1" placeholder="*"  (keyup)="move($event, txt3,txt4,'')">
     </div>

<!--      <div class="w-100 d-inline-block justify-content-center d-flex">-->
<!--         <input type="tel" (keyup)="onDigitInput($event, 'code1')" maxlength="1" formControlName="code1" placeholder="*"-->
<!--            class="btn w56h56 bg-whitelight border-radius-10 border p-3 fw-400 font-size-24 line-20 color-black"-->
<!--            id="code1" />-->
<!--         <input type="tel" (keyup)="onDigitInput($event, 'code2')" maxlength="1" formControlName="code2" placeholder="*"-->
<!--            class="btn w56h56 bg-whitelight ml-3 border-radius-10 border p-3 fw-400 font-size-24 line-20 color-black"-->
<!--            id="code2" />-->
<!--         <input type="tel" (keyup)="onDigitInput($event, 'code3')" maxlength="1" formControlName="code3" placeholder="*"-->
<!--            class="btn w56h56 bg-whitelight ml-3 border-radius-10 border p-3 fw-400 font-size-24 line-20 color-black"-->
<!--            id="code3" />-->
<!--         <input type="tel" (keyup)="onDigitInput($event, 'code4')" maxlength="1" formControlName="code4" placeholder="*"-->
<!--            class="btn w56h56 bg-whitelight ml-3 border-radius-10 border p-3 fw-400 font-size-24 line-20 color-black"-->
<!--            id="code4" />-->
<!--      </div>-->
      <p (click)="timer(1, 'sms')" *ngIf="resendcode" class="fw-500 pt-4 font-size-16 line-20 text-primary w-100 text-center" style="cursor: pointer;">
         {{codereceivedSms}}
      </p>

      <p (click)="timer(1, 'email')" *ngIf="resendcode" class="fw-500 font-size-16 line-20 text-primary w-100 text-center" style="cursor: pointer;">
         {{codereceivedEmail}}
      </p>
      <div *ngIf="msgkeepcalm" class="w-100 text-center pt-5">
         <p class="fw-500 font-size-16 line-20 color-black w-100 text-center">
            {{resendcodetext}}<br/>
            Aguarde 2min para enviar o código novamente!
         </p>
         <span class="fw-700 font-size-24 line-32 color-black">
            {{counterdown}}
         </span>
      </div>
      <button type="sumbit" *ngIf="continued" [disabled]="form.invalid" (click)="confirm()" id="btn-send-code" class="btn pb-2 mt-3 bg-purple fw-700 font-size-18 line-24 text-light border-radius-10 h-74 w-100"> Confirmar</button>
      <div class="d-flex justify-content-center">
         <div *ngIf="spinnerload" class="lds-ring">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
         </div>
      </div>
   </div>
</form>
