<section class="container-fluid p-4">
    <div class="d-flex justify-content-end">
        <img src="../../../../../assets/icon/x.png" alt="" (click)="exit()" style="cursor: pointer;">
    </div>

    <div class="anima-body">
        <p class="fw-700 py-3 font-size-24 line-32 color-black w-100 text-center">
            Revise e confirme o seu agendamento
        </p>
        <div class="w-100">
            <p class="fw-500 font-size-18 line-24 color-black">Descrição:
                {{response.announcement?.description}}
            </p>
            <p>
                <i class="bi font-size-18 color-black mr-1 bi-geo-alt"></i>
                <span class="fw-400 font-size-16 line-20 color-black">
                    {{response.announcement?.publicPlaceAddress}}, {{response.announcement?.districtAddress}},
                    {{response.announcement?.cityAddress}} - {{response.announcement?.ufAddress}}
                </span>
            </p>
            <div class="row block-important px-3  d-flex">
                <div
                    class="col pt-2 pb-3 left-important justify-content-left px-0 d-flex align-items-center justify-content-left">
                    <img src="../../../assets/icon/bed.png" class="pr-2" />
                    <p class="fw-400 mb-0 font-size-14 line-20 color-black">
                        {{response.announcement?.bedrooms || '-'}} Quartos
                    </p>
                </div>
                <div
                    class="col pt-2 pb-3 left-important justify-content-center px-0 d-flex align-items-center justify-content-left">
                    <img src="../../../assets/icon/car.png" class="pr-2" />
                    <p class="fw-400 mb-0 font-size-14 line-20 color-black">
                        {{response.announcement?.parkingSpaces || '0'}} Vagas
                    </p>
                </div>
                <div
                    class="col pt-2 pb-3 left-important justify-content-end px-0 d-flex align-items-center justify-content-left">
                    <img src="../../../assets/icon/rule.png" class="pr-2" />
                    <p class="fw-400 mb-0 font-size-14 line-20 color-black">
                        {{response.announcement?.usefulArea || '-'}} m2
                    </p>
                </div>
            </div>
            <p *ngIf="response.announcement?.typeOfAd === 'sale'" class="w-100 fw-700 pt-2 pb-4 font-size-22 line-32 color-black">
                {{response.announcement?.saleValue | currency: 'R$'}}
            </p>
            <p *ngIf="response.announcement?.typeOfAd === 'rent'" class="w-100 fw-700 pt-2 pb-4 font-size-22 line-32 color-black">
                {{response.announcement?.leaseValue | currency: 'R$'}}
            </p>
            <p *ngIf="response.announcement?.typeOfAd === 'both'" class="w-100 fw-700 pt-2 pb-4 font-size-22 line-32 color-black">
                Comprar {{response.announcement?.saleValue | currency: 'R$'}}
                <br>
                Alugar {{response.announcement?.leaseValue | currency: 'R$'}}
            </p>
            <p class="w-100 fw-400 font-size-16  line-20 color-black">
                <i class="bi font-size-20  mr-2 bi-calendar"></i>
                {{dateSelected | date: 'EEEE'}}, {{dateSelected | date: 'dd'}} de {{dateSelected |date:
                'MMMM'}}
                <span> às {{dateSelected | date: 'HH:mm'}}</span>
            </p>
        </div>
        <div class="w-100 my-4 align-items-center d-flex border border-radius-10 p-3">
            <i class="bi font-size-24 color-black bi-info-circle"></i>
            <p class="fw-400 ml-3 mb-0 font-size-16 line-20 color-black">
                Ao agendar essa visita, sua presença é automaticamente confirmada e um dos nossos corretores parceiros é
                selecionado para te acompanhar.
            </p>
        </div>
        <button type="submit" (click)="confirm()"
            class="btn pb-2 bg-purple fw-700 font-size-18 line-24 text-light border-radius-10 h-74 w-100">Agendar
            visita</button>
    </div>
</section>