@media (min-width: 576px) {
    .modal-dialog {
        max-width: 676px !important;
        margin: 1.75rem auto;
    }
}

// MEDIA
@media (max-width: 1240px) {
tr{
    display: grid !important;
    height: auto !important;
}
}
.modal-body {
    transition: .4s;
    animation-name: modal-anime;
    animation-duration: .4s;
}

@keyframes modal-anime {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.selector-item_label {
    padding: 3px 9px;
}

.selector-item_radio {
    appearance: none;
    display: none;
}

.selector-item_radio:checked+.selector-item_label {
    background-color: var(--purple);
    color: white !important;
    width: 100%;
    border: 1px solid var(--purple) !important;
}