<section  class="container-fluid p-5 ">
    <div class="row">
       <div class="col-12 d-flex align-items-end  justify-content-end">
        <i (click)="exit()"  class="bi bi-x-lg"></i>
      </div>
      <div class="col-12 d-flex justify-content-center">
        <img src="./../../../assets/logo/logo-preta.svg" >
      </div>
     
    </div>
    <div *ngIf="changeValue === 'termos'" class=" mt-3">
      <p class="color-purpura text-center"><b>TERMOS E CONDIÇÕES GERAIS DE USO
        PLATAFORMA IMOVEISTOCK
      </b></p>
      <p class="text-justify">Estes Termos e Condições Gerais de Uso da Plataforma imoveistock (“<b class="color-purpura">Termos de Uso</b>” ou “<b class="color-purpura">Termos</b>”) regulamentam
        a utilização da referida Plataforma disponibilizada pela IMOVEISTOCK TECNOLOGIA E NEGÓCIOS LTDA., pessoa jurídica de direito privado
        inscrita no CNPJ sob nº 22.041.482/0001-60, com sede na Al. Presidente Taunay, nº 835, loja: 06; Térreo, CEP 80.430-000, bairro Bigorrilho,
        a seguir denominada simplesmente de imoveistock (“<b class="color-purpura">imoveistock</b>” ou “<b class="color-purpura">Nós</b>”). </p>
      <p class=" text-justify"><b>Ao aderir e acessar a Plataforma imoveistock, você reconhece e concorda, de forma livre, espontânea,
        plena e sem reservas, com o presente Termos de Uso, bem como com as demais Políticas disponíveis na Plataforma.</b> </p>
      <p>Estes Termos sempre estarão disponíveis para leitura e visualização na página pública www.[-].com.br </p>
      <p class="color-purple"><b>1.	DEFINIÇÕES </b></p>
      <p class="text-justify">Sem prejuízo às demais definições previstas nestes Termos, e para fins de sua interpretação, as seguintes palavras são definidas da seguinte forma: </p>
      <table border="1">
        <tr>
          <td class="text-center color-purpura">Plataforma</td>
          <td class="text-center">Ambiente virtual do imoveistock, onde os Usuários poderão se cadastrar e utilizar, conforme disponibilizado pelo imoveistock e definido nestes Termos.</td>
  
        </tr>
        <tr>
          <td class="text-center color-purpura">Você ou Usuário </td>
          <td class="text-center">Pessoa física que se cadastra na Plataforma, a quem estes Termos se aplicam.</td>
        </tr>
        <tr>
          <td class="text-center color-purpura">Imóvel(is)</td>
          <td class="text-center">Imóveis no geral, incluindo, mas não se limitando a apartamentos, casas e sobrados.</td>
        </tr>
        <tr>
          <td class="text-center color-purpura">Bonificação</td>
          <td class="text-center">Porcentagem devido ao Usuário sobre o valor de venda ou de locação do Imóvel indicado pelo Usuário, portanto, um valor variável.</td>
        </tr>
        <tr>
          <td class="text-center color-purpura">Política(s)</td>
          <td class="text-center">Política de Privacidade, Política de Cookies e demais políticas do imoveistock disponíveis e que se tornarão disponíveis em suas páginas públicas</td>
        </tr>
        <tr>
          <td class="text-center color-purpura">Informação Confidencial</td>
          <td class="text-center">Documentos, equipamentos, software, dados, inclusive e especialmente banco de dados, materiais, desenhos, dentre outros,
            seja de natureza técnica, operacional, logística, econômica, de engenharia ou de qualquer outra natureza, entregues, revelados ou fornecidos,
            bem como todos e quaisquer assuntos, temas e informações tratados, informações sobre pesquisa, desenvolvimento técnico, modelos, aspectos comerciais
            passados, presentes e futuros, experiências e resultados de atividades, simulações lógicas, correspondências e elementos técnicos, independentemente da
            necessidade de identificação por Você ou pelo imoveistock de sua natureza confidencial. </td>
        </tr>
      </table>
      <p class="color-purple"><b>2.	COMO FUNCIONA? </b></p>
      <p><b class="color-purple text-justify">2.1.	</b>Por meio da Plataforma, o Usuário poderá indicar Imóveis disponíveis para compra e venda ou locação. Caso o Imóvel indicado pelo Usuário seja
      <p><b class="color-purple text-justify">2.2.	</b>Indicações. Para indicar um Imóvel por meio da Plataforma, o Usuário deverá seguir os
        passos indicados em cada tela, preenchendo as informações indicadas, tanto sobre o Imóvel, quanto sobre seu o proprietário.</p>
      <p><b class="color-purple text-justify">2.3.	</b><u>Responsabilidade sobre informações fornecidas.</u> Você deverá inserir na Plataforma informações verdadeiras, legais e
        corretas sobre si, sobre o proprietário e sobre o Imóvel, que deve ser previamente comunicado sobre a inserção dos seus dados na Plataforma. </p>
      <p class="text-justify">&#160;&#160;&#160;<b class="color-purple">2.3.1.	</b>Você será o único responsável civil e criminalmente por
        qualquer informação inserida na Plataforma. </p>
      <p class="text-justify">&#160;&#160;&#160;<b class="color-purple">2.3.2.	</b>Caso insira informações incorretas ou inverídicas,
        ou se recuse a corrigi-las se solicitado, o imoveistock, a seu exclusivo critério, se reserva o direito de: (i) não concluir o
        seu cadastro; ou (ii) bloquear a sua utilização e acesso à Plataforma até que se regularize a situação.</p>
      <p class="text-justify"><b class="color-purple">2.4.</b>	<u>Status das indicações.</u> Após o Usuário indicar um Imóvel por meio da Plataforma, a indicação será avaliada pelo imoveistock, e o
        Usuário poderá acompanhar o status de cada indicação por meio de página específica na Plataforma.</p>
      <p>&#160;&#160;&#160;<b class="color-purple">2.4.1.</b>	O Usuário deverá acompanhar o status de suas indicações por meio da Plataforma, sendo certo
        que determinadas indicações necessitarão de ações por parte do Usuário para seu andamento.</p>
      <p>&#160;&#160;&#160;<b class="color-purple">2.4.2.</b>	O Usuário declara estar ciente e concorda que o imoveistock
        não garante a aprovação de todas as indicações de Imóveis realizadas por este por meio da Plataforma.</p>
      <p>&#160;&#160;&#160;<b class="color-purple">2.4.3.</b>	O imoveistock se resguarda no direito de reprovação de determinada indicação decorrente da omissão do Usuário de realizar uma ação específica que era necessária para o andamento do procedimento de aprovação da referida indicação.</p>
      <p class="color-purple"><b>3.	CADASTRO E INFOMAÇÕES</b></p>
      <p class="text-justify"><b class="color-purple">3.1.	</b><u>Manutenção dos dados cadastrais atualizados.</u>
        Os seus dados presentes na Plataforma são o meio utilizado para que o imoveistock possa entrar em contato
        com Você, caso necessário. Eventual prejuízo por parte do Usuário em razão de erros presentes em seu cadastro, não são responsabilidade
        do imoveistock, sendo de sua responsabilidade a manutenção atualizada dos seus dados cadastrais, especialmente seu endereço eletrônico,
        telefone e dados bancários. </p>
      <p class="text-justify">3.2.	<u>Seu login e senha.</u> A Plataforma é acessada por meio de login e senha exclusivos, pessoais
        e intransferíveis, realizados após seu cadastro na Plataforma. Você deverá manter seguros seu login e senha de acesso à Plataforma e,
        caso desconfie que alguém não autorizado tenha utilizado seu login e senha, recomendamos que Você realize a alteração de sua senha, que deve
        ser realizada dentro da Plataforma.  </p>
      <p class="text-justify">&#160;&#160;&#160;<b class="color-purple"></b></p>
      <p class="text-justify"><b class="color-purple">3.2.1.</b>	O imoveistock não se responsabiliza pelo acesso indevido de terceiros nas contas registadas na Plataforma, seja pelo compartilhamento de senha ou pelo acesso indevido
        a elas, sendo de única e exclusiva responsabilidade dos Usuários a manutenção e a segurança de sua conta.</p>
      <p class="text-justify"><b class="color-purple">3.3.</b>	Você declara que é capaz de exercer todos os atos da vida civil e tem mais de 18 (dezoito) anos de idade completos se cadastrar e utilizar a Plataforma. </p>
      <p class="text-justify"><b class="color-purple">4.	BONIFICAÇÕES E PAGAMENTOS</b></p>
      <p class="text-justify"><b class="color-purple">4.1.</b>	Caso o Imóvel indicado pelo Usuário seja vendido ou alugado, o
        Usuário fará jus a uma Bonificação, dentro dos limites do disposto na Plataforma na aba “Bonificações”.</p>
      <p class="text-justify"><b class="color-purple">4.2.	</b>A Bonificação será paga por meio de um parceiro do imoveistock, diretamente na conta bancária do Usuário. </p>
      <p class="text-justify"><b class="color-purple">5.	OBRIGAÇÕES DO USUÁRIO</b></p>
      <p class="text-justify"><b class="color-purple">5.1.</b>	Ao se comunicar com o imoveistock por qualquer meio, Você deverá se comunicar de forma profissional e respeitosa, de acordo com estes Termos e demais Políticas do imoveistock. </p>
      <p class="text-justify"><b class="color-purple">5.2.	</b>Será de responsabilidade do Usuário indenizar/reembolsar o imoveistock, inclusive em relação a honorários
        advocatícios e custas processuais, em caso de reclamação ou demanda promovida por terceiros, que decorram, exclusivamente, das atividades do Usuário na Plataforma,
        do seu descumprimento dos Termos de Uso e demais Políticas ou de qualquer violação à lei ou ao direito de terceiros. </p>
      <p class="text-justify"><b class="color-purple">5.3.	</b>Você declara e concorda, desde já, que responderá judicialmente por todo e qualquer dano, real ou potencial, causado pela prática de atos ilícitos por meio da Plataforma. </p>
      <p class="text-justify"><b class="color-purple">5.4.</b>	É expressamente proibido ao Usuário: </p>
      <p class="text-justify"><b class="color-purpura">A.</b>	Copiar, usar, divulgar ou distribuir qualquer informação obtida pela Plataforma sem nosso consentimento;</p>
      <p class="text-justify"><b class="color-purpura">B.	</b>Violar direitos autorais, de marca registrada ou de propriedade do imoveistock, bem como reproduzir, modificar, distribuir, transferir, comercializar, exibir, doar, veicular, transmitir ou, de qualquer outro modo,
        explorar a Plataforma, exceto da forma expressamente permitida pelos presentes Termos de Uso;</p>
      <p class="text-justify"><b class="color-purpura">C.</b>	Violar a propriedade intelectual do imoveistock ou direitos autorais, usando o nome “imoveistock”,
        ou nossas logos em qualquer nome empresarial, e-mail ou Uniform Resource Locator - URL; </p>
      <p class="text-justify"><b class="color-purpura">D.</b>	Copiar, alterar, distribuir, expor, licenciar, modificar ou reproduzir, praticar engenharia reversa de qualquer modalidade ou utilizar nossa propriedade intelectual, a não ser que haja acordo expresso, prévio e por escrito conosco;</p>
      <p class="text-justify"><b class="color-purpura">E.</b>	Utilizar a Plataforma de forma adversa ao previsto nestes Termos de Uso ou ao disponibilizado pelo imoveistock ou utilizar a Plataforma para fins ilícitos ou de forma contrária à legislação vigente; </p>
      <p class="text-justify"><b class="color-purpura">F.</b>	Violar ou tentar violar qualquer medida de segurança da Plataforma; </p>
      <p class="text-justify"><b class="color-purple">G.</b>	Executar malwares, spywares, ou tomar quaisquer ações prejudiciais e/ou maliciosas, que interfiram na nossa rede e/ou de terceiros ou, ainda, que tenham a
        finalidade de acessar informações não autorizadas tanto nossas quanto de terceiros ou outros usuários; </p>
      <p class="text-justify"><b class="color-purpura">H.</b>	Utilizar software ou qualquer meio que possa prejudicar a Plataforma tais como, mas não se limitando a <i>pinging</i>,
        war dialing, mail-bombs e outros ataques virtuais ou lançar programas, spams, vírus de computador, worms, cavalos de Troia, scripts ou usar robô,
        spider, scraper ou qualquer outro meio automatizado, invasivo ou malicioso para a obtenção de dados, incluindo, mas não somente, a prática de phishing,
        ou de sobrecarregar ou prejudicar indevidamente o funcionamento da Plataforma; </p>
      <p class="text-justify"><b class="color-purpura">I.</b>	Tentar acessar, modificar, descompilar, reverter ou alterar o código-fonte da Plataforma ou
        qualquer outra tecnologia relacionada aos serviços do imoveistock que não seja open source; </p>
      <p class="text-justify"><b class="color-purpura">J.</b>	Utilizar ferramenta ou proxy anônimo com a finalidade de tornar seu endereço de IP anônimo; </p>
      <p class="text-justify"><b class="color-purpura">K.</b>	Criar aplicativo que possa ser usado para violar os presentes Termos de Uso, ou ainda qualquer outra Política, legislação, normas ou regulamentos aplicáveis;  </p>
      <p class="text-justify"><b class="color-purpura">L.</b>	Utilizar o script de forma que constitua uso excessivo ou abusivo, ou o descumprimento destes Termos de Uso; e </p>
      <p class="text-justify"><b class="color-purpura">M.</b>	Praticar qualquer ato contrário à boa-fé, fraudulento ou com o intuito de prejudicar direta ou indiretamente o imoveistock, outros Usuários ou terceiros. </p>
      <p><b class="color-purple"></b>6.	LIMITAÇÃO DE RESPONSABILIDADE</p>
      <p><b class="color-purple">6.1.</b>	O imoveistock se compromete a: </p>
      <p class="text-justify"><b class="color-purpura">A.</b>	Proteger os dados pessoais inseridos por Você sob caráter de sigilo, conforme melhores práticas e tecnologia de
        segurança, utilizando-os apenas para os fins descritos nestes Termos de Uso, conforme suas Política; e</p>
      <p class="text-justify"><b class="color-purpura">B.</b>		Tomar as devidas providências em caso de mau funcionamento da Plataforma, assim como prestar o suporte a
        Você por meio dos canais de atendimento disponibilizados, tudo conforme descrito nestes Termos, Políticas e demais páginas públicas do imoveistock. </p>
      <p class="text-justify"><b class="color-purple">6.2.</b>	O Usuário declara sua inequívoca ciência de que a Plataforma não é livre de erros, bugs, vírus, vícios, embora o imoveistock tome todas as medidas para
        que isso não ocorra, bem como empreende esforços para corrigir tais situações em prazo razoável, à medida em que identificados por ela e pelos Usuários.</p>
      <p class="text-justify"><b class="color-purple">6.3.	</b>O imoveistock adota todas as medidas possíveis para manter a
        confidencialidade e a segurança dos dados e informações de seus Usuários, os quais reconhecem que nenhum software, servidor ou sistema está absolutamente
        imune a ataques e/ou invasões de hackers e outros agentes maliciosos, não sendo o imoveistock responsável por qualquer exclusão, obtenção,
        utilização ou divulgação não autorizada de informações resultantes de ataques que não poderia razoavelmente evitar por meio dos seus padrões de segurança.</p>
      <p class="text-justify"><b class="color-purple">6.4.</b>	O Usuário declara, expressamente, ter ciência de que o imoveistock não está obrigada a fornecer
        qualquer nova funcionalidade, recurso ou customização, a ser incorporada à Plataforma posteriormente à data de celebração destes Termos. </p>
      <p class="text-justify"><b class="color-purple">6.5.</b>6.5.	A Plataforma atenderá às finalidades para as quais foi desenvolvida. Sendo assim, o Porteiros
        no Comando não garante que a Plataforma atenderá requisitos ou necessidades específicas de sua vontade</p>
      <p class="text-justify"><b class="color-purple">6.6.</b>	O imoveistock ficará isenta de qualquer responsabilidade causada por eventos decorrentes
        de caso fortuito ou força maior, incluindo os danos eventualmente causados em razão de fenômenos meteorológicos, falhas em sistemas de telecomunicação,
        energia elétrica, indisponibilidade de servidores, estruturas e plataformas físicas e/ou virtuais de terceiros nos quais a Plataforma é executada e
        disponibilizado, orientação e navegação, defeito nos equipamentos do Usuário e terceiros a ele vinculados utilizados para acessar a Plataforma, além
        de outras hipóteses de mau uso da Plataforma pelo Usuário. Você fica desde logo ciente de que os programas poderão sofrer interrupções periódicas para
        atualizações e reparos, bem como em razão de falhas corrigíveis. </p>
      <p class="text-justify"><b class="color-purple">6.7.</b>	O imoveistock não será responsável por divergências, erros humanos, informações desatualizadas ou equivocadas transmitidas e/ou
        compartilhadas pelo Usuário durante a utilização da Plataforma, estando isenta de qualquer responsabilidade ou corresponsabilidade nesse sentido.</p>
      <p class="text-justify"><b class="color-purple">6.8.	</b><u>Informações das páginas públicas.</u> As informações que constam na Plataforma e
        demais páginas públicas do imoveistock poderão mudar eventualmente a seu exclusivo critério.Tentaremos manter as informações sempre atualizadas, mas não garantimos que estarão corretas a todo momento.  </p>
      <p class="text-justify"><b class="color-purple">7.	CONFIDENCIALIDADE</b></p>
      <p class="text-justify"><b class="color-purple">7.1.</b>	O imoveistock e Você obrigam-se reciprocamente, inclusive em nome de
        seus empregados, cooperados, prepostos e terceiros que participem de qualquer forma da execução do objeto dos presentes Termos, a manter o
        mais completo e absoluto sigilo sobre toda e qualquer Informação Confidencial, observada a atividade da Plataforma.</p>
      <p class="text-justify"><b class="color-purple">7.2.</b>	É vedado às partes, sob qualquer pretexto, direta ou indiretamente, divulgar e/ou revelar, armazenar, copiar, reproduzir ou utilizar para fins distintos do objeto destes Termos, as
        Informações Confidenciais, sem a autorização prévia e expressa da parte que revelou a Informação Confidencial. </p>
      <p class="text-justify"><b class="color-purple"></b>7.3.	Não serão consideradas Informações Confidenciais aquelas que: </p>
      <p><b class="color-purpura">A.</b>	Já eram ou se tornaram de domínio público à época da revelação; e </p>
      <p><b class="color-purpura">B.</b>	Tenham sido licitamente obtidas pelas partes por meio de terceiros, sem violação direta ou indireta destes Termos. </p>
      <p class="text-justify"><b class="color-purple">7.4.</b>	Caso as Informações Confidenciais devam ser divulgadas em virtude de lei ou ordem judicial, a parte que receber a ordem deverá comunicar
        à parte titular da Informação Confidencial, antes da divulgação, para que esta adote as medidas que entender necessárias para evitar a revelação. Se
        a divulgação da Informação Confidencial não puder ser evitada, a parte que tiver a obrigação legal de revelá-la deverá fazê-lo nos exatos limites
        determinados na norma legal ou na respectiva ordem judicial. </p>
      <p class="text-justify"><b class="color-purple">7.5.</b>	Em caso de descumprimento de qualquer cláusula desta seção, a parte infratora será responsável, civil e criminalmente
        em virtude da quebra da confidencialidade e sigilo a que está obrigada, pelos danos causados à outra parte e/ou a terceiros prejudicados, desde que
        devidamente comprovados, devendo responder por seus próprios atos e de seus administradores, empregados, prepostos, colaboradores, subcontratados e
        demais pessoas a ela ligadas a qualquer título. A parte que violar as condições previstas nesta cláusula, dará justo motivo para a resolução contratual,
        incorrendo nas penalidades já previstas nestes Termos, sem prejuízo da reparação de eventuais perdas e danos suportados pela parte prejudicada </p>
      <p class="text-justifycolor-purple"><b ></b>8.	CONTATO E COMUNICAÇÃO</p>
      <p class="text-justify"><b class="color-purple">8.1.</b>	Caso você deseje entrar em contato com o imoveistock poderá fazê-lo por meio do WhatsApp do imoveistock, disponível na Plataforma.</p>
      <p class="text-justify color-purple"><b ></b>9.	VIGÊNCIA E CANCELAMENTO</p>
      <p class="text-justify"><b class="color-purple">9.1</b>.	Estes Termos vigerão por prazo indeterminado a partir da data de seu aceite na Plataforma por Você.</p>
      <p class="text-justify color-purple"><b >10.</b>	PROTEÇÃO DE DADOS PESSOAIS</p>
      <p class="text-justify"><b class="color-purple">10.1.</b>	O tratamento dos dados pessoais coletados para fins de utilização da
        Plataforma imoveistock, bem como a sua correta atividade, segue a normativa das leis e normas de proteção e
        privacidade de dados, especialmente a Lei nº 13.709/2018, Lei Geral de Proteção de Dados Pessoais – LGPD, e é disciplinada pela
        nossa Política de Privacidade, disposta no nosso site através do link [-].</p>
      <p class="text-justify"><b class="color-purple">10.2.</b>	O imoveistock utiliza medidas de segurança técnicas e organizacionais para garantir o tratamento correto dos dados pessoais de seus Usuários. Qualquer dúvida ou para exercício de direitos do titular de dados, entre em contato através dos nossos canais oficiais.</p>
      <p class="text-justify"><b class="color-purple">10.3.</b>	Você concorda que em caso de quaisquer conflitos advindos da sua relação de Usuário com o imoveistock aplicar-se-á a legislação brasileira vigente, ainda que Você seja um Usuário que resida em outro país que não seja o Brasil. </p>
      <p class="text-justify"><b class="color-purple">10.4.</b>	Estes Termos não estabelecem qualquer forma de associação, franquia, parceria, consórcio, joint-venture, vínculo empregatício, societário ou solidariedade entre o imoveistock e o Usuário, tampouco confere às partes permissão para praticar quaisquer atos, contratar ou assumir obrigações em nome da outra parte. </p>
      <p class="text-justify"><b class="color-purple">10.5.</b>	No caso de alguma cláusula pertencente a estes Termos ou qualquer outra Política do imoveistock seja declarada nula, inaplicável ou sem efeito, apenas esta será afetada, e continuam a viger o restante das cláusulas dos presentes Termos. </p>
      <p class="text-justify"><b class="color-purple">10.6.</b>	A eventual tolerância quanto a qualquer violação dos Termos de Uso ou Políticas do imoveistock será considerada mera liberalidade e não será interpretada como novação, precedente invocável, renúncia a direitos, alteração tácita dos termos contratuais, direito adquirido ou alteração contratual. </p>
      <p class="text-justify"><b class="color-purple">10.7.</b>	Fica eleito o Foro Central da Comarca da Região Metropolitana da cidade de Curitiba, Estado do Paraná, para dirimir quaisquer dúvidas ou conflitos advindos dos presentes Termos de Uso ou demais Políticas do imoveistock. </p>
  
  
    </div>
    <div class="mt-3" *ngIf="changeValue === 'politica'">
      <p class="text-center color-purple">POLÍTICA DE PRIVACIDADE – imoveistock</p>
      <p class="text-center">Versão 001 – 06/2022</p>
      <p class="color-purple"><b>Introdução</b></p>
      <p class="text-justify">A atividade do imoveistock envolve, necessariamente, o tratamento de dados pessoais
        para que se atinja o correto e eficiente funcionamento da plataforma e seus serviços. Desta forma, é nosso compromisso
        atendermos integralmente com as disposições legais e melhores práticas envolvendo proteção e privacidade de dados, sendo esta
        Política de Privacidade a forma transparente de informar os titulares de dados de como é feito o tratamento das informações pelo imoveistock. </p>
      <p class="text-justify">O imoveistock é um produto derivado dos serviços prestados pela ImoveiStock,
        possuindo integração de funcionalidades e negócio indispensáveis para as funcionalidades da plataforma.</p>
  
      <p class="color-purple">Esta Política deve ser interpretada em conjunto com os Termos de Uso do imoveistock, disponível no link: [-]</p>
      <p>Esta Política servirá como guia para que todos os interessados possam compreender: </p>
      <p>•	porque precisamos coletar estas informações;</p>
      <p>•	quais as categorias de dados pessoais tratamos;</p>
      <p>•	se ocorre o compartilhamento destas informações;</p>
      <p>•	quais são seus direitos como titular de dados pessoais;</p>
      <p>•	entre outras informações.</p>
      <p class="color-purple">Termos e definições</p>
      <p class="text-justify">Para uma melhor compreensão desta Política, conforme estabelecido pela LGPD, considera-se:</p>
      <p class="text-justify" >&#160;&#160;&#160;<b class="color-purple">(i) Dado Pessoal:</b> informação relacionada a pessoa natural identificada ou identificável;</p>
      <p class="text-justify">&#160;&#160;&#160;<b class="color-purple">(ii) Dado Pessoal Sensível:</b> dado pessoal sobre origem racial ou étnica, convicção religiosa, opinião política, filiação a sindicato
        ou a organização de caráter religioso, filosófico ou político, dado referente à saúde ou à vida sexual, dado genético ou biométrico, quando vinculado a uma pessoa natural;</p>
      <p class="text-justify">&#160;&#160;&#160;<b class="color-purple">(iii) Titular dos Dados: </b>pessoa natural a quem se referem os dados pessoais que são objeto de tratamento;</p>
      <p class="text-justify">&#160;&#160;&#160;<b class="color-purple">(iv) Controlador:</b> É a pessoa natural ou jurídica, de direito público ou privado, a quem competem as
        decisões referentes ao tratamento de dados pessoais, e definição dos meios e finalidades do tratamento. (Ex.: o imoveistock é a Controladora dos dados pessoais de seus colaboradores
        em relação às atividades de tratamento de dados necessárias para a execução dos seus respectivos contratos de trabalho);</p>
      <p class="text-justify">&#160;&#160;&#160;<b class="color-purple">(v) Operador:</b> pessoa natural ou jurídica, de direito público ou privado, que realiza o tratamento de dados pessoais em nome do Controlador;</p>
      <p class="text-justify">&#160;&#160;&#160;<b class="color-purple">(vi) Tratamento:</b> toda operação realizada com dados pessoais, como as que se referem a coleta, produção, recepção, classificação,
        utilização, acesso, reprodução, transmissão, distribuição, processamento, arquivamento, armazenamento, eliminação, avaliação ou controle da informação, modificação, comunicação, transferência, difusão ou extração.</p>
      <p class="text-justify"><b class="color-purple">De quem são os dados pessoais que tratamos?</b></p>
      <p class="text-justify"><b class="color-purple"></b>Todo tratamento de dados pessoal realizado pela empresa possui uma base legal que a fundamente, conforme dispõe a Lei Geral de Proteção de Dados Pessoais.
        Por esse motivo, nos comprometemos a utilizar estas informações somente para as finalidades estabelecidas previamente pelo imoveistock. Prezando pela transparência destes tratamentos, classificamos as informações que
        tratamos diariamente durante nossa atividade comercial, sendo elas dados de:</p>
      <p>&#160;&#160;&#160;•	Colaboradores;</p>
      <p>&#160;&#160;&#160;•	Fornecedores;</p>
      <p>&#160;&#160;&#160;•	Proprietários ou representantes legais/comerciais de imóveis;</p>
      <p>&#160;&#160;&#160;•	Porteiros Usuário;</p>
      <p>&#160;&#160;&#160;•	Leads;</p>
      <p>&#160;&#160;&#160;•	Terceiros necessários a operação do imoveistock.</p>
      <p class="text-justify"><b class="color-purple"></b>A coleta das informações pessoais é realizada de maneira individual para cada processo envolvendo a atividade do imoveistock,
        sempre prezando pelas melhores práticas e por meio de medidas técnico administrativas que garantam segurança no armazenamento e utilização dos dados.</p>
      <p class="text-justify "><b class="color-purple">Quais dados pessoais coletamos e quais tratamentos realizamos?</b></p>
      <p class="text-justify"><b class="color-purple"></b>Durante nossa operação comercial naturalmente temos coletamos dados pessoais, que são tratados somente pelos colaboradores ou terceiros relacionados diretamente com a operação do imoveistock,
        havendo o controle dos acessos e o compromisso com a confidencialidade das informações, não só pessoais, como estratégicas. </p>
      <p class="text-justify"><b class="color-purple"></b>Sempre que possível, todos as informações que armazenamos sobre você estarão criptografadas,
        garantindo a integridade e segurança da informação e, além disso, os nossos colaboradores e terceiros relacionados são capacitados para manusear as
        informações pessoais, pois somos claros com nossos padrões de conduta e diretrizes sobre a importância deste importante ativo. Para facilitar a compreensão
        dos tratamentos realizados pela empresa, elaboramos esta tabela que exemplifica os dados coletados e a sua finalidade, vejamos:</p>
      <table border="1">
        <tr>
          <td class="text-center color-purple"><b>DADOS COLETADOS</b></td>
          <td class="text-center color-purple"><b>FINALIDADE</b></td>
  
        </tr>
        <tr>
          <td class="text-center ">Dados dos proprietários ou representantes legais/comerciais dos imóveis </td>
          <td class="text-center">Disponibilizar os serviços da ImoveiStock</td>
        </tr>
        <tr>
          <td class="text-center ">Dados dos Porteiros</td>
          <td class="text-center">Cadastro, registro das indicações e correta disponibilização das bonificações.</td>
        </tr>
        <tr>
          <td class="text-center ">Dados dos Porteiros Indicados</td>
          <td class="text-center">Contato para disponibilização e comunicação sobre a atividade do imoveistock.</td>
        </tr>
      </table>
  
      <p class="text-justify">Além disso, em nossa plataforma, coletamos as seguintes informações:</p>
      <p class="text-justify"><b class="color-purple">Histórico de contato - </b>O imoveistock armazena informações a respeito dos contatos dos usuários, como conteúdos
        acessados na nossa plataforma e interações via e-mail e chat. Da mesma forma, armazenamos o histórico de busca de cada usuário e suas atividades.</p>
      <p class="text-justify">Além disso, para que possamos prestar nossos serviços, eventualmente poderemos cruzar informações do mesmo titular,
        estruturando um perfil do usuário para classificar seus interesses e efetivar as campanhas de marketing direcionadas. </p>
      <p class="color-purple"><b>Direitos dos titulares de dados pessoais</b></p>
      <p>Respeitar os direitos dos titulares de dados pessoais é muito importante para nós. Diante disso, estes poderão contatar o Encarregado de dados (DPO) através do
        e-mail <b>dpo@imoveistock.com.br</b> para exercer seus direitos ou tirar dúvidas e obter esclarecimentos a respeito dos seus dados pessoais utilizados pela empresa</p>
      <p class="text-justify"> A qualquer momento os titulares de dados pessoais que possuam suas informações utilizadas pela empresa poderão:</p>
      <p class="text-justify">&#160;&#160;&#160;<b class="color-purple">I.	Confirmação de Tratamento: </b>Confirmar com o imoveistock a existência de tratamento de dados pessoais e obter, a qualquer tempo, acesso aos seus dados;</p>
      <p class="text-justify">&#160;&#160;&#160;<b class="color-purple">II.	Correção dos Dados:</b> Requerer o imoveistock a correção de dados que estejam incompletos, inexatos ou desatualizados;</p>
      <p class="text-justify">&#160;&#160;&#160;<b class="color-purple">III.	Anonimização, bloqueio ou eliminação:</b> Requerer a anonimização, bloqueio ou eliminação de dados desnecessários, excessivos ou tratados em desconformidade com a Lei Geral de Proteção de Dados;</p>
      <p class="text-justify">&#160;&#160;&#160;<b class="color-purple">IV.	Informações sobre o compartilhamento:</b> Requerer informações das entidades públicas e privadas com as quais o imoveistock realizou uso compartilhado de dados;</p>
      <p class="text-justify">&#160;&#160;&#160;<b class="color-purple">V.	Exclusão dos dados:</b> Solicitar a exclusão dos seus dados coletados e armazenados pelo imoveistock, desde que decorrido o prazo legal mínimo relacionado à guarda dos respectivos dados;</p>
      <p class="text-justify">&#160;&#160;&#160;<b class="color-purple">VI.	Portabilidade de dados:</b> Realizar a portabilidade dos dados a outro prestador de serviços, mediante sua requisição;</p>
      <p class="text-justify">&#160;&#160;&#160;<b class="color-purple">VII.	Revogação e informações sobre o consentimento:</b> Nos casos em que o imoveistock requerer o seu consentimento para coleta de algum dado, você poderá requerer informação sobre a possibilidade de não oferecer consentimento e suas consequências. Caso concedido, poderá posteriormente revogar o consentimento, bem como requerer a eliminação desses dados.</p>
      <p class="text-justify">As solicitações serão respondidas dentro do prazo geral de 15 (quinze) dias a contar da data da requisição, variável conforme a complexidade da demanda do titular.></p>
      <p class="color-purple"><b>Cultura da Privacidade</b></p>
      <p class="text-justify">A cultura da privacidade e proteção de dados é um dever coletivo. Ciente disso, o imoveistock se compromete a oportunizar aos seus colaboradores e usuários, comunicações específicas que tem o objetivo de promover a cultura da proteção de dados
        e reafirmar o comprometimento do imoveistock com o respeito aos direitos dos titulares de dados pessoais.</p>
      <p class="color-purple"><b>Fundamentos legais para o tratamento de dados pessoais</b></p>
      <p class="text-justify">Como já informamos anteriormente, todo tratamento de dado pessoal realizado pela empresa possui uma justificativa legal. Entretanto, essas justificativas poderão variar conforme as finalidades pré-estabelecidas pela empresa. </p>
      <p class="text-justify">A LGPD permite que os tratamentos ocorram, com base nas respectivas bases legais estabelecidas pelo artigo 7º da lei. O imoveistock utiliza, majoritariamente em seus processos internos, os seguintes fundamentos legais: </p>
      <table border="1">
        <tr>
          <td class="text-center"><b>Cumprimento de obrigação legal (inciso II);</b></td>
        </tr>
        <tr>
          <td class="text-center ">Execução de contrato / Diligências pré-contratuais (inciso V);</td>
        </tr>
        <tr>
          <td class="text-center ">Exercício regular de direito (inciso VI);</td>
        </tr>
        <tr>
          <td class="text-center ">Interesses legítimos do controlador / Terceiro (inciso IX);</td>
        </tr>
        <tr>
          <td class="text-center ">Consentimento (inciso I).</td>
        </tr>
      </table>
      <p class="color-purple"><b>Por que precisamos realizar estes tratamentos de dados?</b></p>
      <p class="text-justify"> Os tratamentos de dados pessoais são fundamentais para que o imoveistock possa atingir suas finalidades,
        principalmente o desenvolvimento e promoção de negócios envolvendo imóveis. Desta forma, todos os tratamentos realizados estão limitados a
        finalidades pré-estabelecidas pelo imoveistock, sendo algumas delas, as seguintes:</p>
      <p>•	Registro e identificação da atividade dos Usuários, inclusive das indicações;</p>
      <p>•	Comunicação com os Usuários e Proprietários ou representantes legais/comerciais dos imóveis;</p>
      <p>•	Disponibilização das bonificações aos Porteiros Usuários;</p>
      <p>•	Análise de uso da plataforma e dos serviços disponibilizados.</p>
      <p class="color-purple"><b>Do armazenamento dos seus dados pessoais</b></p>
      <p class="text-justify">Todo armazenamento dos dados pessoais utilizado na operação comercial do imoveistock é feito somente enquanto houver uma
        finalidade legítima, por meio de sistemas e ferramentas que assegurem sua inviolabilidade, dentro das medidas técnicas organizacionais razoáveis atreladas à segurança
        da informação, inclusive por meio de controle de acesso somente aos colaboradores e prestadores de serviços indispensáveis para a atividade do imoveistock</p>
      <p>Mais informações a respeito do armazenamento dos dados pessoais, poderão ser solicitadas mediante contato com o nosso DPO, no e-mail: <b>dpo@imoveistock.com.br</b></p>
      <p class="color-purple"><b>Compartilhamento</b></p>
      <p class="text-justify">O imoveistock poderá compartilhar seus dados com terceiros necessários para sua atividade econômica, especialmente em relação ao
        atendimento do seu vínculo com o Porteiro Usuário. Os agentes que recebem dados provenientes do imoveistock possuem padrões de segurança e confidencialidade
        adequados e aptos para proteger seus dados. Entre esses terceiros estão:</p>
      <p class="text-justify"><b class="color-purple">Parceiros de bonificação -</b> Podemos compartilhar os seus dados com nossos parceiros para que viabilizem o pagamento das
        bonificações decorrentes do sucesso no negócio envolvendo o imóvel indicado.</p>
      <p class="text-justify"><b class="color-purple">Prestadores de serviços de marketing</b> – podemos utilizar serviços de marketing para oferecer anúncios de interesse e promover a atividade do imoveistock.</p>
      <p class="text-justify"><b class="color-purple">Prestadores de serviços de tecnologia –</b> podemos compartilhar dados para fins de aprimoramento da plataforma, armazenar dados em nuvem, e até para obter suporte técnico e operacional aos nossos serviços.</p>
      <p class="text-justify"><b class="color-purple">Parceiros comerciais –</b> com o intuito de oferecer benefícios e oportunidades aos usuários, podemos compartilhar suas informações de contato para parceiros que ofertem cursos, capacitações, vagas de emprego, e demais serviços de interesse.</p>
      <p class="text-justify"><b class="color-purple">Autoridades Públicas –</b> Seus dados poderão ser compartilhados para o cumprimento de exigências legais ou regulatórias, para execução de contratos, para o exercício de direito em processos judiciais, administrativos ou arbitrais e para garantir a prevenção à fraude.</p>
      <p class="text-justify">Alguns dados pessoais poderão ser objeto de transferência internacional, por exemplo, para o armazenamento em servidores de computação em nuvem localizados fora do
        Brasil. Mesmo nesses casos, o imoveistock observa todas as diretrizes estabelecidas pela Lei Geral de Proteção de Dados Pessoais. </p>
      <p class="color-purple"><b>Segurança</b></p>
      <p class="text-justify"> Nós adotamos medidas técnicas e organizacionais para proteger seus dados. Temos o compromisso com o sigilo e do monitoramento das atividades internas e
        de nossos prestadores de serviço, e asseguramos a proteção dos dados através da implementação de procedimentos adequados para mantê-los seguros.</p>
      <p class="color-purple"><b>Nossa responsabilidade</b></p>
      <p class="text-justify">Como agentes de tratamento de dados pessoais, entendemos a importância e a responsabilidade em manter
        essas informações seguras, para isso, o imoveistock estabelece procedimentos internos e ferramentas que seguem os mais altos padrões de segurança das informações pessoais. </p>
      <p class="color-purple">Além disso, a empresa se compromete a cumprir com os termos desta Política de Privacidade, estando disponível para esclarecer eventuais dúvidas referentes ao tratamento de dados pessoais  </p>
      <p class="color-purple"><b>Agente de Tratamento:</b></p>
      <p class=" text-justify"><b>IMOVEISTOCK TECNOLOGIA E NEGOCIOS LTDA</b>., com sede na Al. Presidente Taunay, nº 835, loja 06, bairro Bigorrilho, CEP nº 80430-000, inscrita no CNPJ sob o nº 22.041.482/0001-60.</p>
      <p class="color-purple"><b>Canais de comunicação:</b></p>
      <p class="text-justify">Para quaisquer informações, inclusive para o exercício dos seus direitos como titular dos
        dados pessoais a nós confiados, você poderá entrar em contato com o Encarregado (DPO) do imoveistock através do e-mail: <b>dpo@imoveistock.com.br</b></p>
      <p class="color-purple"><b>Atualizações da política:</b></p>
      <p  class="tetx-justify">O imoveistock, com o objetivo de atualizar as boas práticas e diretrizes para a conformidade no tratamento de dado pessoal, poderá, eventualmente, editar
        a presente política. Estas atualizações têm o objetivo de melhor refletir o compromisso assumido pela empresa com a proteção e privacidade de dados pessoais.</p>
      <p class="text-justify">Caso este documento sofra alterações, o imoveistock utilizará os meios de comunicação oficiais para comunicar eventuais edições e sempre disponibilizará
        a versão atualizada do documento no site: [-].</p>
    </div>
  </section>
  