<section class="bg-home-gallery position-relative w-100"> 
    <div class="row bg-whitelight h-100 m-0-auto max-w-1918">
        <div class="col-12">
            <div class="w-100 my-5 text-align-center">
                <p class="fw-700 font-size-32 line-43 color-black">
                    Explore por cidades
                </p>
                <h4 class="fw-400 font-size-16 line-20 color-black">
                    cada um lugar, uma nova oportunidade
                </h4>
            </div>
        </div>
        <div class="col-12">
            <div class="row m-0-auto max-w-1227">
                <div class="col-4 w3-red">
                    <div class="bg-city-01">
                        <p class="d-grid text-center">
                            <span class="fw-700 font-size-18 line-24 text-light">Cidade</span>
                            <span class="fw-400 font-size-14 line-20 text-light">18 Propriedades</span>
                        </p>
                    </div>
                </div>
                <div class="col-8 w3-blue">
            m
                </div>
            </div>
        </div>
    </div>
</section>