.bg-city-01{
    background-image: url(../../../assets/img/gradient.png), url(../../../assets/img/family.png);
    background-position: center top;
    background-repeat: no-repeat no-repeat;
    background-size: cover contain;
    height: 6rem;
    max-height: 1969px;
}