<div class="p-4 d-flex flex-column">
   <div class="d-flex justify-content-end">
      <img src="../../../assets/icon/x.png" height="20" (click)="exit()" style="cursor: pointer;">
   </div>
   <div class="d-flex flex-column justify-content-center w-100">
      <p class="text-center w-10">
         <img class="text-center" src="../../../assets/img/logo.png" />
      </p>
      <p class="fw-700 pt-3
                      font-size-24 line-32
                      color-black w-100
                      text-center">
         Acesse ou crie sua conta
      </p>
      <button type="button" (click)="login()" class="btn pb-2 mt-3
                      bg-purple fw-700
                      font-size-18 line-24
                      text-light
                      border-radius-10
                      h-74
                      w-100">Acessar conta
      </button>
      <button type="button" (click)="createAccount()" class="btn pb-2 mt-3
                      border-purple
                      bg-white
                      fw-700 font-size-18
                      line-24 color-purple
                      border-radius-10
                      h-74
                      w-100">Criar conta</button>

   </div>

</div>