<main class="bg-graylight position-relative w-100">
    <form [formGroup]="form" class="row form-search pt-10 h-100 m-0-auto mx-5 px-5 max-w-1918">
        <div class="col-12 mt-5 pt-5">
            <div class="col-12 d-none-desk mt-5 pt-3" *ngIf="filtroResultDisplay.typeAd">
                <p class="d-flex fw-700 font-size-16 line-19 color-black
                 align-items-center">Página Inicial /
                    <span class="fw-400 font-size-16 line-20 color-muted"> &nbsp;
                        Resultado de busca
                    </span>
                </p>
                <p class="fw-700 font-size-32 line-40 color-black">
                    Resultado da sua busca por <b>
                        <span *ngIf="filtroResultDisplay.typeAd">{{filtroResultDisplay.typeAd}}</span>
                        <span *ngIf="filtroResultDisplay.whatAreYouLookingFor">
                            {{filtroResultDisplay.whatAreYouLookingFor}},</span>
                        <span *ngIf="filtroResultDisplay.propertyType"> {{filtroResultDisplay.propertyType}},</span>
                        <span *ngIf="filtroResultDisplay.goal"> {{filtroResultDisplay.goal}},</span>
                        <span *ngIf="filtroResultDisplay.where"> em {{filtroResultDisplay.where}}</span>
                    </b>
                </p>
            </div>
        </div>
        <div class="row mb-5 mx-0 px-0 block-important w-100">
            <div class="col-6 col-full">
                <div class="row">
                    <div class="col-3 col-search-map">
                        <div style="width: 135px;" data-toggle="modal" data-target="#filtersearch"
                            class="px-4 cursor-pointer btn-map-mobile h-69 mt-3 d-flex justify-content-center w3-black py-4 align-items-center border-radius-10">
                            <i class="bi bi-funnel-fill thinks-small pr-2"></i>
                            <span class="fw-700 font-size-18 thinks-small line-24 text-light">Filtrar</span>
                        </div>
                    </div>
                    <div class="col-6 d-none-desk">
                        <div
                            class="w-100  h-69 w-full  mt-3 d-flex align-items-center results-bar justify-content-between p-3 border-radius-10 bg-white">
                            <p class="d-flex mb-0 fw-400 font-size-14 line-20 color-black">
                                <span>9</span>
                                <span class="px-1">Resultados</span>
                            </p>
                            <div class="d-flex align-items-center">
                                <p class="fw-700 mb-0 font-size-14 line-20 color-black">Ordenar por:</p>
                                <div class="select-box">
                                    <div class="select-box__current" tabindex="1">
                                        <div class="select-box__value">
                                            <input class="select-box__input" type="radio" id="relevant" value="relevant"
                                                formControlName="orderby" name="orderby" checked="checked" />
                                            <p class="select-box__input-text">Relevante</p>
                                        </div>
                                        <div class="select-box__value">
                                            <input class="select-box__input" type="radio" id="highestprice"
                                                value="highestprice" formControlName="orderby" name="orderby" />
                                            <p class="select-box__input-text">Maior
                                                preço</p>
                                        </div>
                                        <div class="select-box__value">
                                            <input class="select-box__input" type="radio" id="lowestprice"
                                                value="lowestprice" formControlName="orderby" name="orderby" />
                                            <p class="select-box__input-text">Menor
                                                preço</p>
                                        </div>
                                    </div>
                                    <ul class="select-box__list">
                                        <li>
                                            <label class="select-box__option mb-0" for="relevant"
                                                aria-hidden="aria-hidden">Relevante</label>
                                        </li>
                                        <li>
                                            <label class="select-box__option mb-0" for="highestprice"
                                                aria-hidden="aria-hidden">Maior preço</label>
                                        </li>
                                        <li>
                                            <label class="select-box__option mb-0" for="lowestprice"
                                                aria-hidden="aria-hidden">Menor preço</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 col-search-map justify-content-end d-flex">
                        <div [routerLink]="['/search']" style="width: 135px;"
                            class=" px-y  h-69 cursor-pointer btn-map-filter mt-3 d-flex justify-content-center bg-purple  align-items-center py-3 border-radius-10">
                            <i class="bi bi-list font-size-24 text-light thinks-small pr-2"></i>
                            <span class="fw-700 font-size-18 line-24 thinks-small text-light">Ver&nbsp;Lista</span>
                        </div>
                    </div>
                </div>
                <div style="height: 700px;"
                    class="col-6 overflow-x-scroll d-none-desk col-cards-products px-0 col-sm-12">
                    <div *ngFor="let item of responseAnnouncement | paginate: { itemsPerPage: 4, currentPage:paginationProduct }; let i= index"
                        class="card-product-result card-search-map d-inline-block mt-5 mr-3 p-3 border-radius-10 bg-white cursor-pointer">
                        <div class="h-100  p-2 border-radius-10 bg-white">
                            <div class="bg-img-product py-2 px-3 border-radius-10">
                                <div class="w-100 h-50 d-flex">
                                    <h4
                                        class="bg-purple h-fit px-4 py-2 mb-0 border-radius-5 fw-400 font-size-14 line-15 text-light">
                                        Venda</h4>
                                    <h4
                                        class="bg-greenlight h-fit ml-2 px-3 py-2 mb-0 border-radius-5 fw-400 font-size-14 line-15 color-black">
                                        Exclusivo</h4>
                                </div>
                                <div class="w-100 d-flex h-50 align-items-end justify-content-between">
                                    <p class="fw-700 mb-0 font-size-22 h-fit line-32 text-light"
                                        *ngIf="item.typeOfAd === 'sale'">
                                        {{item.saleValue | currency: 'R$'}}</p>
                                    <p class="fw-700 mb-0 font-size-22 h-fit line-32 text-light"
                                        *ngIf="item.typeOfAd === 'rent'">
                                        {{item.leaseValue | currency: 'R$'}}
                                    </p>
                                    <div (click)="likeHeart(item._id)"
                                        class="h-fit bg-transparent-white heart-like border-radius-10 pt-2 pb-1">
                                        <i [class]="item.liked ? 'bi-heart-fill':'bi-heart' "
                                            class="bi bi-heart-fill font-size-16 text-light"></i>
                                    </div>
                                </div>
                            </div>
                            <div (click)="announcementSelected(item._id)" class="col-12 px-0">
                                <div class="w-100 mx-1 pt-3">
                                    <p class="d-flex align-items-center">
                                        <span class="fw-700 font-size-16 line-20 color-black text-truncate"
                                            style="max-width: 90%;">{{item.description}}</span>
                                    </p>
                                    <p class="d-flex align-items-center">
                                        <span
                                            class="fw-400 font-size-14 line-20 color-black text-capitalize">{{item.propertyCharacteristics}}</span>
                                    </p>
                                    <p class="d-flex text-left align-items-center">
                                        <i class="bi font-size-20 mr-2 color-black bi-geo-alt"></i>
                                        <span
                                            class="fw-400 font-size-14 line-20 color-black ">{{item.publicPlaceAddress}},
                                            {{item.cityAddress}} - {{item.ufAddress}}</span>
                                    </p>
                                </div>
                                <div class="row mx-1 pb-3 d-flex">
                                    <div
                                        class="col mt-2 justify-content-left left-important px-0 d-flex align-items-center justify-content-left">
                                        <img src="../../../assets/icon/bed.png" class="pr-2 mobile-w" />
                                        <p
                                            class="fw-400 mb-0 font-size-14 little-text-mobile line-20 color-black d-inline-block text-nowrap">
                                            {{item.bedrooms}}
                                            Quartos
                                        </p>
                                    </div>
                                    <div
                                        class="col mt-2 justify-content-center left-important  px-0 d-flex align-items-center justify-content-left">
                                        <img src="../../../assets/icon/car.png" class="pr-2 mobile-w" />
                                        <p class="fw-400 mb-0 font-size-14 little-text-mobile line-20 color-black">
                                            {{item.vacancyNumber}} Vagas
                                        </p>
                                    </div>
                                    <div
                                        class="col mt-2 justify-content-end left-important  px-0 d-flex align-items-center justify-content-left">
                                        <img src="../../../assets/icon/rule.png" class="pr-2 mobile-w" />
                                        <p
                                            class="fw-400 mb-0 font-size-14 little-text-mobile line-20 color-black d-inline-block text-nowrap">
                                            {{item.usefulArea |
                                            currency: ' '}} m2</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 my-5 py-5 justify-content-center">
                        <div *ngIf="products.length >= 0" class="d-flex flex-fill
                       justify-content-center">
                            <pagination-controls (pageChange)="paginationProduct=
                          $event;">
                            </pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 px-0 mt-2 col-full">
                <div class="col-12 px-0 col-full">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d230483.17971440213!2d-49.42988400298687!3d-25.495050065287735!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94dce35351cdb3dd%3A0x6d2f6ba5bacbe809!2sCuritiba%2C%20PR!5e0!3m2!1spt-BR!2sbr!4v1674742868033!5m2!1spt-BR!2sbr"
                        class="w-100 min-h-700 h-100" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </form>
    <!-- MODAL FILTER-SEATRCH FOR MOBILE -->
    <div class="modal fade" id="filtersearch" tabindex="-1" role="dialog" aria-labelledby="filtersearchTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-lg-preview
        modal-dialog-centered" role="document">
            <div class="modal-content pb-4
           modal-content-preview">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="text-light font-size-55" aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form [formGroup]="formsearch" class="anima-body">
                    <div class="w-100 border-radius-10 bg-white p-5">
                        <div class="input-group border border-radius-10 bg-light h-74 d-flex align-items-center">
                            <input type="search"
                                class="form-control border-0 border-radius-10 bg-light pl-4 fw-400 font-size-16 line-20"
                                formControlName="localproperty" placeholder="Local" placeholder="Local"
                                aria-describedby="button-addon2">
                            <div class="input-group-append mx-2">
                                <i class="bi bi-search font-size-24"></i>
                            </div>
                        </div>
                        <div class="input-group border border-radius-10 bg-light h-74 d-flex align-items-center mt-4">
                            <input type="search"
                                class="form-control border-0 border-radius-10 bg-light pl-4 fw-400 font-size-16 line-20"
                                formControlName="localproperty" placeholder="Local" placeholder="Local"
                                aria-describedby="button-addon2">
                            <div class="input-group-append mx-2">
                                <i class="bi bi-geo-alt font-size-24"></i>
                            </div>
                        </div>
                        <input formControlName="typeproperty" type="text" placeholder="Tipo de imóvel" class="btn border border-radius-10 bg-light fw-400 mt-4
                    text-left font-size-16 line-20 pl-4 color-black w-100
                    h-74" />
                        <input formControlName="typeprice" type="text" placeholder="Preço" class="btn border border-radius-10 bg-light fw-400 mt-4
                    text-left font-size-16 line-20 pl-4 color-black w-100
                    h-74" />
                        <input formControlName="typebathroom" type="text" placeholder="Banheiros" class="btn border border-radius-10 bg-light fw-400 mt-4
                    text-left font-size-16 line-20 pl-4 color-black w-100
                    h-74" />
                        <input formControlName="typerooms" type="text" placeholder="Quartos" class="btn border border-radius-10 bg-light fw-400 mt-4
                    text-left font-size-16 line-20 pl-4 color-black w-100
                    h-74" />
                        <input formControlName="typevacancies" type="text" placeholder="Vagas" class="btn border border-radius-10 bg-light fw-400 mt-4
                    text-left font-size-16 line-20 pl-4 color-black w-100
                    h-74" />
                        <input formControlName="typeconstruction" type="text" placeholder="Ano de construção" class="btn border border-radius-10 bg-light fw-400 mt-4
                    text-left font-size-16 line-20 pl-4 color-black w-100
                    h-74" />
                        <div class="w-100 d-flex align-items-center">
                            <input formControlName="typefootagemin" type="text" placeholder="Metragem Mínima" class="btn border border-radius-10 bg-light fw-400 mt-4
                       mr-1 text-left font-size-16 line-20 pl-4 color-black
                       w-100 h-74" />
                            <input formControlName="typefootagemax" type="text" placeholder="Metragem Máxima" class="btn border border-radius-10 bg-light fw-400 mt-4
                       ml-1 text-left font-size-16 line-20 pl-4 color-black
                       w-100 h-74" />
                        </div>
                        <button class="bg-purple btn mt-4 text-light fw-700 font-size-18
                    line-24 border-radius-10 h-74 w-100" type="submit">
                            Encontrar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>