@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import "bootstrap-icons/font/bootstrap-icons.scss";

@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif !important;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: #01FF5F !important;
}

a {
    text-decoration: none !important;
}

select:focus {
    outline: none !important;
    box-shadow: none !important;
}

option:focus {
    outline: none !important;
    box-shadow: none !important;
}

textarea:focus {
    outline: none !important;
    box-shadow: none !important;
}

button:focus,
input:focus {
    box-shadow: 0 0 0 0 !important;
    outline: none !important;
}

// GLOBAL
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
    top: 80%;
    bottom: inherit !important;
    left: 0;
    width: 100%;
}

:root {
    --green: #1DAD1A;
    --greenlight: #01FF5F;
    --bluepool: #04A6A7;
    --purple: #542FDF;
    --blue: #1E2661;
    --purpura: #A561F3;
    --purplelight: #dbdbdb;
    --whiteblue: #E8EAFF;
    --whitegreen: #F2FFF5;
    --orangelight: #FFFADA;
    --white: #f8f9fa;
    --pink: #FF5A5F;
    --whitelight: #F5F5F5;
}

/* fonts */

.fw-900 {
    font-weight: 900 !important;
}

.fw-700 {
    font-weight: 700 !important;
}

.fw-600 {
    font-weight: 600 !important;
}

.fw-400 {
    font-weight: 400 !important;
}

.fw-500 {
    font-weight: 500 !important;
}

/* size-fonts */
.font-size-12 {
    font-size: 12px;
}

.font-size-14 {
    font-size: 14px;
}

.font-size-16 {
    font-size: 16px;
}

.font-size-18 {
    font-size: 18px;
}

.font-size-20 {
    font-size: 20px;
}

.font-size-22 {
    font-size: 22px;
}

.font-size-24 {
    font-size: 24px;
}

.font-size-28 {
    font-size: 28px;
}

.font-size-32 {
    font-size: 32px;
}

.font-size-36 {
    font-size: 36px;
}

.font-size-40 {
    font-size: 40px;
}

.font-size-48 {
    font-size: 48px;
}

.font-size-55 {
    font-size: 55px;
}

.font-size-90 {
    font-size: 90px;
}

.line-15 {
    line-height: 15px !important;
}

.line-18 {
    line-height: 18px !important;
}

.line-20 {
    line-height: 20px !important;
}

.line-24 {
    line-height: 24px !important;
}

.line-26 {
    line-height: 26px !important;
}

.line-32 {
    line-height: 32px !important;
}

.line-34 {
    line-height: 34px !important;
}

.line-43 {
    line-height: 43px !important;
}

.line-50 {
    line-height: 50px !important;
}

.line-56 {
    line-height: 56px !important;
}

.line-70 {
    line-height: 70px !important;
}

/* tools */
.z-10 {
    z-index: 10;
}

.h-80 {
    height: 80px;
}

.h-111 {
    height: 111px;
}

.h-130 {
    height: 130px;
}

.h-350 {
    height: 350px;
}

.min-h-80 {
    min-height: 80px;
}

.w18h18 {
    width: 18px;
    height: 18px;
}

.w-145 {
    width: 145px;
}

.w-111 {
    width: 111px;
}

.max-w-1918 {
    max-width: 1918px;
}

.max-w-1227 {
    max-width: 1227px;
}

.w-550 {
    width: 550px;
}

.max-w-32 {
    max-width: 32px;
}

.h-fit {
    height: fit-content !important;
}

.h-51 {
    height: 51px;
}

.h-49 {
    height: 49px;
}

.h-74 {
    height: 74px;
}

.h-90 {
    height: 90px;
}

.h-1000 {
    height: 1000px;
}

.w-51 {
    width: 51px;
}

.w-70 {
    width: 70px;
}

.w-fit {
    width: fit-content !important;
}

.m-0-auto {
    margin: 0 auto !important;
}

.op-0 {
    opacity: 0 !important;
}

.overflow-x-scroll {
    overflow-x: scroll !important;
}

.border-radius-5 {
    border-radius: 5px;
}

.border-radius-10 {
    border-radius: 10px;
}

.border-radius-100 {
    border-radius: 100px;
}

.box-shadow-none {
    box-shadow: none !important;
    --box-shadow: none !important;
}

.border-y-gray {
    border-bottom: 1px solid var(--purplelight) !important;
    border-top: 1px solid var(--purplelight) !important;
}

.border-x-gray {
    border-left: 1px solid var(--purplelight) !important;
    border-right: 1px solid var(--purplelight) !important;
}

.border-bottom-gray {
    border-bottom: 1px solid var(--purplelight) !important;
}

.border-point-bottom-gray {
    border-bottom: 2px dotted #B0B1B4 !important;

}

.border-top-gray {
    border-top: 1px solid var(--purplelight) !important;
}

.border-bluepool {
    border: 1px solid var(--bluepool);
}

.border-black {
    border: 1px solid #000000 !important;
}

.border-bottom-purple {
    border-bottom: 2px solid var(--purple);
}

.box-shadown-none {
    box-shadow: none !important;
}

.cursor-pointer {
    cursor: pointer;
}

.break-spaces {
    white-space: break-spaces;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-align-right {
    text-align: -webkit-right !important;
}

.text-align-left {
    text-align: -webkit-left !important;
}

.text-align-center {
    text-align: -webkit-center !important;
}

.left-0 {
    left: 0;
}

.top-20 {
    top: 20%;
}

.pl-5px {
    padding-left: 5px;
}

.d-grid {
    display: grid;
}

.flex-wrap {
    flex-wrap: wrap;
}


.bg-green-light {
    background-color: var(--greenpool);
}

.bg-whitelight {
    background-color: var(--whitelight);
}

.bg-purple-light {
    background-color: var(--purplelight);
}

.bg-green {
    background: var(--green) !important;
}

.bg-greenlight {
    background: var(--greenlight) !important;
}

.bg-white {
    --background: white !important;
}

.bg-purple {
    background-color: var(--purple);
}

.color-pink {
    color: var(--pink) !important;
}

.color-white {
    color: var(--white) !important;
}

.color-muted {
    color: #B0B1B4 !important
}

.color-blue {
    color: var(--blue) !important;
}

.color-purple {
    color: var(--purple) !important;
}

.color-green {
    color: var(--green);
}

.color-black {
    color: black;
}

.color-gray {
    color: gray;
}

.border-purple {
    border: 1px solid var(--purple);
}

.border-pink {
    border: 1px solid var(--pink);
}

// NAV-BAR
.dropdown-toggle::after {
    display: none !important;
}

@media (max-width: 480px) {
    .logo {
        padding: 9px !important;
        width: 50px !important;
    }

    .title-logo {
        width: 60%;
    }

    .title-header {
        padding-top: 41% !important;
    }

    .title-header h1,
    p {
        line-height: 15px !important;
        font-size: 28px;
    }

}


// HOME-HEADER
.bg-home-header {
    background-image: url(./assets/img/gradient.png), url(./assets/img/family.png);
    background-position: center top;
    background-repeat: no-repeat no-repeat;
    background-size: cover contain;
    height: 64rem;
    max-height: 1969px;
}

.title-header {
    padding-top: 21%;
}

.painel-browser {
    border: 10px solid rgba(255, 255, 255, 0.247);
}



.arrow-box-buy:after {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-color: transparent;
    rotate: 90deg;
    border-left-color: var(--purple);
    border-width: 14px 11px;
    left: 46.2%;
    top: 94%;
}

.arrow-box-rent:after {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-color: transparent;
    rotate: 90deg;
    border-left-color: var(--purple);
    border-width: 14px 11px;
    left: 52.8%;
    top: 94%;
}

.input-local {
    background-image: url(./assets/icon/local.png);
    background-repeat: no-repeat;
    background-position: 92% 50%;
}

// SCROLL DOWN ANIMATION
.scroll-down-txt span {
    line-height: 25px;
    letter-spacing: -0.055em;
}

.scroll-down {
    border: 2px solid var(--purplelight);
    border-radius: 20px;
    height: 50px;
    position: absolute;
    right: 51px;
    width: 30px;
}

.scroll-down::before {
    animation: scrollDownAnimation 2s infinite;
    background-color: var(--purplelight);
    border-radius: 100%;
    content: '';
    height: 6px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 10px;
    width: 6px;
}


@keyframes scrollDownAnimation {
    0% {
        opacity: 0;
        transform: translate(0, 0);
    }

    40% {
        opacity: 1;
    }

    80% {
        opacity: 0;
        transform: translate(0, 20px);
    }

    100% {
        opacity: 0;
    }
}

//  HEADER-PRODUCTS
.bg-home-products {
    height: 64rem;
    max-height: 1969px;
}

.like-heart {
    background-color: rgba(255, 255, 255, 0.273);
}

.bg-img-product {
    background-image: url(./assets/img/ap.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 340px;
    height: 219px;
}

// HEADER-GALLERY
.bg-city-01 {
    background-image: url(./assets/img/gradientgallery.png), url(./assets/img/city2.png);
    background-position: center top;
    background-repeat: no-repeat no-repeat;
    background-size: cover;
}

.bg-city-02 {
    background-image: url(./assets/img/gradientgallery.png), url(./assets/img/city3.png);
    background-position: center top;
    background-repeat: no-repeat no-repeat;
    background-size: cover;
}

.bg-city-03 {
    background-image: url(./assets/img/gradientgallery.png), url(./assets/img/city1.png);
    background-position: center top;
    background-repeat: no-repeat no-repeat;
    background-size: cover;
}

.bg-city-04 {
    background-image: url(./assets/img/gradientgallery.png), url(./assets/img/city4.png);
    background-position: center top;
    background-repeat: no-repeat no-repeat;
    background-size: cover;
}

//HEADER-CARDS
.icon-cards {
    padding: 20% 0;
}

@media (max-width: 1776px) {
    .arrow-box-buy:after {
        left: 45.8%;
    }
}

@media (max-width: 1600px) {
    .arrow-box-buy:after {
        left: 44.8%;
    }
}

@media (max-width: 1600px) {
    .arrow-box-buy:after {
        left: 45%;
    }
}

@media (max-width: 1300px) {
    .arrow-box-buy:after {
        left: 44.2%;
    }
}

@media (max-width: 1192px) {
    .arrow-box-buy:after {
        left: 43.7%;
    }
}

@media (max-width: 1192px) {
    .arrow-box-buy:after {
        left: 43.7%;
    }
}

@media (max-width: 600px) {
    .arrow-box-buy:after {
        left: 38%;
    }
}

// RENT
@media (max-width: 1776px) {
    .arrow-box-rent:after {
        left: 52.8%;
    }
}

@media (max-width: 1600px) {
    .arrow-box-rent:after {
        left: 53.5%;
    }
}

@media (max-width: 1300px) {
    .arrow-box-rent:after {
        left: 53.9%;
    }
}

@media (max-width: 1192px) {
    .arrow-box-rent:after {
        left: 55.2%;
    }
}

@media (max-width: 600px) {
    .arrow-box-rent:after {
        left: 59%;
    }
}

// MEDIA
@media (max-width: 1240px) {

    // HOME-HEADER
    .bg-home-header {
        background-image: url(./assets/img/gradient.png), url(./assets/img/family.png);
        background-position: center top;
        background-repeat: no-repeat no-repeat;
        background-size: cover contain;
        height: 64rem;
        max-height: 1969px;
    }

    .form-header {
        margin-top: 3rem;
    }

    .painel-browser {
        max-width: 300px !important;
    }

    .content-painel {
        display: block !important;
    }

    .input-property,
    .input-local {
        width: 100% !important;
    }

    .form-select,
    .input-type-property {
        margin: .8rem 0 !important;
    }

    .btn-browser,
    .input-type-property,
    .input-local {
        margin-left: 0 !important;
    }

    .nav-bar {
        justify-content: space-between;
    }

    .painel-options-header {
        top: 85% !important;
        right: -6% !important;
        width: 281px;
        border: 1px solid var(--purplelight);
    }

    .col-painel-option,
    .col-gallery,
    .col-cards {
        flex: 0 0 100% !important;
        max-width: 100% !important;
        padding: 5px 0;
    }

    // HEADER-PRODUCTS
    .col-swiper {
        flex: 0 0 100% !important;
        max-width: 100% !important;
        display: flex !important;
        justify-content: center !important;
        margin-top: 2rem;
    }

    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal {
        top: 90%;
        bottom: inherit !important;
        left: 0;
        width: 100%;
    }

    //HEADER-CARDS
    .icon-cards {
        padding: 6% 0;
    }
    .col-final-card{
        display: block !important;
    }

}