@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import "bootstrap-icons/font/bootstrap-icons.scss";

@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';


@import '../node_modules/@videogular/ngx-videogular/fonts/videogular.css';

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-style: normal;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif !important;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: #01FF5F !important;
}

a {
    text-decoration: none !important;
}

select:focus {
    outline: none !important;
    box-shadow: none !important;
}

option:focus {
    outline: none !important;
    box-shadow: none !important;
}

textarea:focus {
    outline: none !important;
    box-shadow: none !important;
}

button:focus,
input:focus {
    box-shadow: 0 0 0 0 !important;
    outline: none !important;
}

// GLOBAL
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
    top: 80%;
    bottom: inherit !important;
    left: 0;
    width: 100%;

    &:nth-child(2) {
        top: 82%;
        bottom: inherit !important;
        left: 0;
        width: 100%;
    }
}

.swiper-pagination-bullet-active {
    background-color: black !important;
}

.navbar {
    padding: 0 !important;
}

.navbar-brand {
    display: inline-block;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.ngx-pagination .current {
    border-radius: 10rem !important;
    background-color: var(--purple) !important;
    color: white !important;
    display: inline-flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 50px !important;
    height: 50px !important;
}

.ngx-pagination .small-screen,
.ngx-pagination .pagination-next a:after,
.ngx-pagination .pagination-previous.disabled:before,
.ngx-pagination .pagination-next a:after,
.ngx-pagination .pagination-previous a:before,
.ngx-pagination .pagination-next.disabled:after {
    display: none !important;
}

.ngx-pagination a,
.ngx-pagination span:hover,
.ngx-pagination span,
.ngx-pagination a:hover {
    font-size: 10px;
}

.ngx-pagination li {
    border-radius: 10rem !important;
    background-color: white !important;
    color: black !important;
    display: inline-flex !important;
    align-items: center !important;
    border: 1px solid rgb(227, 227, 227);
    justify-content: center !important;
    margin: 0 5px;
    width: 50px !important;
    height: 50px !important;
}

.modal.fade .modal-dialog {
    transform: translate(0, 0%) !important;
}

:root {
    --green: #1DAD1A;
    --greenlight: #01FF5F;
    --bluepool: #04A6A7;
    --purple: #542FDF;
    --blue: #1E2661;
    --purpura: #A561F3;
    --orange: #EFB51F;
    --purplelight: #dbdbdb;
    --transparentwhite: #feffff68;
    --whiteblue: #E8EAFF;
    --whitegreen: #F2FFF5;
    --orangelight: #FFFAEC;
    --graylight: #E9EBF6;
    --light: #E6E6E6;
    --white: white;
    --pink: #F9528E;
    --whitelight: #F5F5F5;
}

/* fonts */

.fw-900 {
    font-weight: 900 !important;
}

.fw-700 {
    font-weight: 700 !important;
}

.fw-600 {
    font-weight: 600 !important;
}

.fw-400 {
    font-weight: 400 !important;
}

.fw-500 {
    font-weight: 500 !important;
}

/* size-fonts */
.font-size-9 {
    font-size: 9px;
}

.font-size-12 {
    font-size: 12px;
}

.font-size-14 {
    font-size: 14px;
}

.font-size-16 {
    font-size: 16px;
}

.font-size-18 {
    font-size: 18px;
}

.font-size-20 {
    font-size: 20px;
}

.font-size-22 {
    font-size: 22px;
}

.font-size-24 {
    font-size: 24px;
}

.font-size-28 {
    font-size: 28px;
}

.font-size-32 {
    font-size: 32px;
}

.font-size-36 {
    font-size: 36px;
}

.font-size-40 {
    font-size: 40px;
}

.font-size-48 {
    font-size: 48px;
}

.font-size-55 {
    font-size: 55px;
}

.font-size-90 {
    font-size: 90px;
}

.line-15 {
    line-height: 15px !important;
}

.line-19 {
    line-height: 19px !important;
}

.line-20 {
    line-height: 20px !important;
}

.line-24 {
    line-height: 24px !important;
}

.line-26 {
    line-height: 26px !important;
}

.line-32 {
    line-height: 32px !important;
}

.line-34 {
    line-height: 34px !important;
}

.line-43 {
    line-height: 43px !important;
}

.line-50 {
    line-height: 50px !important;
}

.line-56 {
    line-height: 56px !important;
}

.line-70 {
    line-height: 70px !important;
}

/* tools */
.z-10 {
    z-index: 10;
}

.h-80 {
    height: 80px;
}

.h-111 {
    height: 111px;
}

.h-130 {
    height: 130px;
}

.h-350 {
    height: 350px;
}

.h-300 {
    height: 300px;
}

.h-600 {
    height: 600px;
}

.min-h-80 {
    min-height: 80px;
}

.w18h18 {
    width: 18px;
    height: 18px;
}

.w56h56 {
    width: 56px;
    height: 56px;
}

.w143h143 {
    width: 143px;
    height: 143px;
}

.w-145 {
    width: 145px;
}

.w-20 {
    width: 20%;
}

.w-111 {
    width: 111px;
}

.max-w-1918 {
    max-width: 1918px;
}

.max-w-1227 {
    max-width: 1227px;
}

.max-w-1000 {
    max-width: 1000px;
}

.max-w-800 {
    max-width: 800px;
}

.w-90 {
    width: 90%;
}

.w-550 {
    width: 550px;
}

.max-w-32 {
    max-width: 32px;
}

.h-fit {
    height: fit-content !important;
}

.h-40 {
    height: 40px;
}

.h-51 {
    height: 51px;
}

.h-49 {
    height: 49px;
}

.h-74 {
    height: 74px;
}

.h-90 {
    height: 90px;
}

.h-145 {
    height: 145px;
}

.h-500 {
    height: 500px;
}

.h-1000 {
    height: 1000px;
}

.w-51 {
    width: 51px;
}


.w-70 {
    width: 70px;
}

.w-46 {
    width: 46%;
}

.w-fit {
    width: fit-content !important;
}

.m-0-auto {
    margin: 0 auto !important;
}

.pt-10 {
    padding-top: 10rem;
}

.pb-10 {
    padding-bottom: 10rem;
}

.pb-6 {
    padding-bottom: 6rem;
}

.pb .ml-7 {
    margin-left: 7rem;
}

.op-0 {
    opacity: 0 !important;
}

.inline-size {
    inline-size: min-content;
}

.box-shadow {
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.12);
}

.overflow-x-scroll {
    overflow-x: scroll !important;
}

.border-radius-5 {
    border-radius: 5px;
}

.border-radius-10 {
    border-radius: 10px;
}

.border-radius-top-10 {
    border-radius: 10px 10px 0 0;
}

.border-radius-bottom-10 {
    border-radius: 0 0 10px 10px;
}

.border-radius-100 {
    border-radius: 100px;
}

.box-shadow-none {
    box-shadow: none !important;
    --box-shadow: none !important;
}

.border-y-gray {
    border-bottom: 1px solid var(--purplelight) !important;
    border-top: 1px solid var(--purplelight) !important;
}

.border-x-gray {
    border-left: 1px solid var(--purplelight) !important;
    border-right: 1px solid var(--purplelight) !important;
}

.border-bottom-gray {
    border-bottom: 1px solid var(--purplelight) !important;
}

.border-green {
    border: 2px solid var(--greenlight) !important;
}

.border-point-bottom-gray {
    border-bottom: 2px dotted #B0B1B4 !important;

}

.border-top-gray {
    border-top: 1px solid var(--purplelight) !important;
}

.border-bluepool {
    border: 1px solid var(--bluepool);
}

.border-black {
    border: 1px solid #000000 !important;
}

.border-dotted {
    border: dotted;
}

.border-bottom-purple {
    border-bottom: 2px solid var(--purple);
}

.border-bottom-green {
    border-bottom: 2px solid var(--greenlight);
}

.box-shadown-none {
    box-shadow: none !important;
}

.cursor-pointer {
    cursor: pointer;
}

.break-spaces {
    white-space: break-spaces;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-align-right {
    text-align: -webkit-right !important;
}

.text-align-left {
    text-align: -webkit-left !important;
}

.text-align-center {
    text-align: -webkit-center !important;
}

.left-0 {
    left: 0;
}

.mt-3rem {
    margin-top: 3.2rem;
}

.top-20 {
    top: 20%;
}

.pl-5px {
    padding-left: 5px;
}

.d-grid {
    display: grid;
}

.display-none {
    display: none;
}

.flex-wrap {
    flex-wrap: wrap;
}

.bg-whitelight {
    background-color: var(--whitelight) !important;
}

.bg-orangelight {
    background-color: var(--orangelight) !important;
}

.bg-purple-light {
    background-color: var(--purplelight);
}

.bg-green {
    background: var(--green) !important;
}

.bg-greenlight {
    background: var(--greenlight) !important;
}

.bg-clear {
    background: var(--light) !important;
}

.bg-white {
    --background: white !important;
}

.bg-graylight {
    background-color: var(--graylight);
}


.bg-transparent-white {
    background: var(--transparentwhite) !important;
}

.bg-purple {
    background-color: var(--purple);
}

.color-pink {
    color: var(--pink) !important;
}

.color-white {
    color: var(--white) !important;
}

.color-muted {
    color: #B0B1B4 !important
}

.color-blue {
    color: var(--blue) !important;
}

.color-purple {
    color: var(--purple) !important;
}

.color-green {
    color: var(--green);
}

.color-black {
    color: black;
}

.color-gray {
    color: gray;
}

.border-purple {
    border: 1px solid var(--purple);
}

.border-orange {
    border: 1px solid var(--orange);
}

.border-pink {
    border: 1px solid var(--pink);
}

.border-none {
    border: 0px;
}

// NAV-BAR
.dropdown-toggle::after {
    display: none !important;
}

@media (max-width: 480px) {
    .logo {
        padding: 9px !important;
        width: 50px !important;
    }

    .title-logo {
        width: 60%;
    }

    .title-header {
        padding-top: 41% !important;
    }

    .title-header h1 {
        line-height: 35px !important;
        font-size: 28px;
    }

    // DETAIL-PROPERTY
    .label-search-words-details-property,
    .label-search-local-detail-property {
        display: none !important;
    }

}


// HOME-HEADER
.bg-home-header {
    background-image: url(./assets/img/gradient.png), url(./assets/img/family.png);
    background-position: center top;
    background-repeat: no-repeat no-repeat;
    background-size: cover contain;
    height: 64rem;
    max-height: 1969px;
}

.title-header {
    padding-top: 21%;
}

.painel-browser {
    border: 10px solid transparent;
    background: #ffffff3f;
}



.arrow-box-buy:after {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-color: transparent;
    rotate: 90deg;
    border-left-color: var(--purple);
    border-width: 14px 11px;
    left: 46.2%;
    top: 94%;
}

.arrow-box-rent:after {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-color: transparent;
    rotate: 90deg;
    border-left-color: var(--purple);
    border-width: 14px 11px;
    left: 52.8%;
    top: 94%;
}

.input-local {
    background-image: url(./assets/icon/local.png);
    background-repeat: no-repeat;
    background-position: 92% 50%;
}

// SCROLL DOWN ANIMATION
.scroll-down-txt span {
    line-height: 25px;
    letter-spacing: -0.055em;
}

.scroll-down {
    border: 2px solid var(--purplelight);
    border-radius: 20px;
    height: 50px;
    position: absolute;
    right: 51px;
    width: 30px;
}

.scroll-down::before {
    animation: scrollDownAnimation 2s infinite;
    background-color: var(--purplelight);
    border-radius: 100%;
    content: '';
    height: 6px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 10px;
    width: 6px;
}


@keyframes scrollDownAnimation {
    0% {
        opacity: 0;
        transform: translate(0, 0);
    }

    40% {
        opacity: 1;
    }

    80% {
        opacity: 0;
        transform: translate(0, 20px);
    }

    100% {
        opacity: 0;
    }
}

//  HEADER-PRODUCTS
.bg-home-products {
    height: 64rem;
    max-height: 1969px;
}


.bg-img-product {
    background-image: url(./assets/img/ap.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 340px;
    height: 219px;
}

// HEADER-GALLERY
.bg-city-01 {
    background-image: url(./assets/img/gradientgallery.png), url(./assets/img/city2.png);
    background-position: center top;
    background-repeat: no-repeat no-repeat;
    background-size: cover;
}

.bg-city-02 {
    background-image: url(./assets/img/gradientgallery.png), url(./assets/img/city3.png);
    background-position: center top;
    background-repeat: no-repeat no-repeat;
    background-size: cover;
}

.bg-city-03 {
    background-image: url(./assets/img/gradientgallery.png), url(./assets/img/city1.png);
    background-position: center top;
    background-repeat: no-repeat no-repeat;
    background-size: cover;
}

.bg-city-04 {
    background-image: url(./assets/img/gradientgallery.png), url(./assets/img/city4.png);
    background-position: center top;
    background-repeat: no-repeat no-repeat;
    background-size: cover;
}

//HEADER-CARDS
.icon-cards {
    padding: 20% 0;
}

@media (max-width: 1776px) {
    .arrow-box-buy:after {
        left: 45.8%;
    }
}

@media (max-width: 1600px) {
    .arrow-box-buy:after {
        left: 44.8%;
    }
}

@media (max-width: 1600px) {
    .arrow-box-buy:after {
        left: 45%;
    }
}

@media (max-width: 1300px) {
    .arrow-box-buy:after {
        left: 44.2%;
    }
}

@media (max-width: 1192px) {
    .arrow-box-buy:after {
        left: 43.7%;
    }
}

@media (max-width: 1192px) {
    .arrow-box-buy:after {
        left: 43.7%;
    }
}

@media (max-width: 600px) {
    .arrow-box-buy:after {
        left: 38%;
    }
}

// RENT
@media (max-width: 1776px) {
    .arrow-box-rent:after {
        left: 52.8%;
    }
}

@media (max-width: 1600px) {
    .arrow-box-rent:after {
        left: 53.5%;
    }
}

@media (max-width: 1300px) {
    .arrow-box-rent:after {
        left: 53.9%;
    }
}

@media (max-width: 1192px) {
    .arrow-box-rent:after {
        left: 55.2%;
    }
}

@media (max-width: 600px) {
    .arrow-box-rent:after {
        left: 59%;
    }
}

// SEARCH-PAGE
.label-search-words {
    position: absolute;
    top: 66px;
    right: 14%;
}

.label-search-local {
    position: absolute;
    top: 163px;
    right: 14%;
}

.bg-img-property {

    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    Width: 416px;
    Height: 309px
}

.bg-img-result {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 303px;
    width: 100%;
}

.select-box {
    position: relative;
    display: block;
    width: 160px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    &__current {
        position: relative;
        cursor: pointer;
        outline: none;

        &:focus {
            &+.select-box__list {
                opacity: 1;
                animation-name: none;

                .select-box__option {
                    cursor: pointer;
                }
            }

            .select-box__icon {
                transform: translateY(-50%) rotate(180deg);
            }
        }
    }

    &__value {
        display: flex;
        position: absolute;
        height: 20px;
        width: 100%;
        top: -10px;
    }

    &__input {
        display: none;

        &:checked+.select-box__input-text {
            position: absolute;
            display: block !important;
            top: -14px;
        }
    }

    &__input-text {
        display: none;
        width: 100%;
        margin: 0;
        padding: 15px;
        background-color: #fff;
    }

    &__list {
        position: absolute;
        width: 100%;
        padding: 0;
        z-index: 10;
        top: 30px;
        list-style: none;
        opacity: 0;
        animation-name: HideList;
        animation-duration: 0.5s;
        animation-delay: 0.5s;
        animation-fill-mode: forwards;
        animation-timing-function: step-start;
    }

    &__option {
        display: block;
        padding: 15px;
        background-color: #fff;

        &:hover,
        &:focus {
            color: #546c84;
            background-color: #fbfbfb;
        }
    }
}

@keyframes HideList {
    from {
        transform: scaleY(1);
    }

    to {
        transform: scaleY(0);
    }
}

// PROPERTY-DETAILS
.col-btns-preview-img {
    top: -170px;
    background: linear-gradient(0deg, black, transparent);
}

.bg-property-view {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

vg-player {
    border-radius: 1rem;
}

vg-controls {
    background: linear-gradient(0deg, black, transparent);
}

vg-scrub-bar-current-time .background {
    background-color: var(--purple) !important;
}

vg-overlay-play .vg-overlay-play:hover .overlay-play-container.vg-icon-play_arrow:before {
    pointer-events: none;
    width: 129px;
    height: 148px;
    position: absolute;
    display: flex;
    color: transparent;
    align-items: center;
    justify-content: center;
    background-image: url(./assets/icon/play.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    backface-visibility: visible;
    font-size: 80px;
}

vg-overlay-play .vg-overlay-play {
    transition: all .5s;
    cursor: pointer;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: transparent;
    width: 100%;
    height: 100%;
    font-size: 80px;
    filter: alpha(opacity=60);
    opacity: .6;
}

.modal-content {
    border-radius: 1rem !important;
    max-height: 550px;
    overflow-y: scroll;
}

.label-search-local-detail-property {
    position: absolute;
    top: 835px;
    right: 17%;
}

.label-search-words-details-property {
    position: absolute;
    top: 743px;
    right: 17%;
}

.bg-img-preview {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.modal-content-preview {
    background-color: #0000003b !important;
}

.modal-open .modal {
    backdrop-filter: blur(15px);
}

.modal-header {
    border-bottom: 1px solid transparent;
}

.anima-body {
    transition: .4s;
    animation-name: anima-anime;
    animation-duration: .4s;
}

@keyframes anima-anime {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.selector-item_label {
    padding: 3px 9px;
}

.selector-item_radio {
    appearance: none;
    display: none;
}

.selector-item_radio:checked+.selector-item_label {
    background-color: var(--purple);
    color: white !important;
    width: 100%;
    border: 1px solid var(--purple) !important;
}

// MODAL-LOGIN
.modal-all {
    opacity: 1 !important;
    display: block !important;
    backdrop-filter: blur(15px) !important;
    background-color: #00000045 !important;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    overflow: hidden;
    outline: 0;
}

// CONTACT
.bg-header-contact {
    background-image: url(./assets/img/gradient.png), url(./assets/img/black-woman.png);
    background-position: center center;
    background-repeat: no-repeat no-repeat;
    background-size: cover cover;
}

// ABOUT
.bg-header-about {
    background-image: url(./assets/img/gradient.png), url(./assets/img/office.png);
    background-position: center center;
    background-repeat: no-repeat no-repeat;
    background-size: cover cover;
}

//  FOOTER
.footer-log {
    height: 20% !important;
    bottom: 0;
    min-height: 500px;
    max-height: 550px;
}

.footer {
    height: 20% !important;
    bottom: 0;
    min-height: 500px;
    max-height: 550px;
}

// AUTH-PAGES
.auth-form {
    height: 100%;
    width: 100%;
    display: flex;
    padding-top: 94px;
    justify-content: center;
    align-items: center;
}











// MEDIA
@media (max-width: 1240px) {

    // HOME-HEADER
    .bg-home-header {
        background-image: url(./assets/img/gradient.png), url(./assets/img/family.png);
        background-position: center top;
        background-repeat: no-repeat no-repeat;
        background-size: cover contain;
        height: 64rem;
        max-height: 1969px;
    }

    .form-header {
        margin-top: 3rem;
    }

    .painel-browser {
        max-width: 300px !important;
    }

    .content-painel {
        display: block !important;
    }

    .input-property,
    .input-local {
        width: 100% !important;
    }

    .form-select,
    .input-type-property {
        margin: .8rem 0 !important;
    }

    .btn-browser,
    .input-type-property,
    .input-local {
        margin-left: 0 !important;
    }

    .nav-bar {
        justify-content: space-between;
    }

    .painel-options-header {
        top: 85% !important;
        right: -6% !important;
        width: 281px;
        border: 1px solid var(--purplelight);
    }

    .col-painel-option,
    .col-gallery,
    .col-cards {
        flex: 0 0 100% !important;
        max-width: 100% !important;
        padding: 5px 0;
    }

    // HEADER-PRODUCTS
    .col-swiper {
        flex: 0 0 100% !important;
        max-width: 100% !important;
        display: flex !important;
        justify-content: center !important;
        margin-top: 2rem;
    }

    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal {
        top: 90%;
        bottom: inherit !important;
        left: 0;
        width: 100%;
    }

    //HEADER-CARDS
    .icon-cards {
        padding: 6% 0;
    }

    // SEARCH-PAGE
    .green-block {
        display: none;
    }

    .col-body-products {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }

    // DETAIL-PROPERTY
    .col-btns-preview-img {
        display: block !important;
        top: -214px;
        background: linear-gradient(0deg, black, transparent);
    }

    .btn-view-img {
        width: 100% !important;
    }

    .options-img {
        padding-top: 1rem !important;
        justify-content: center !important;
    }

    .col-preview-img,
    .col-body-details-property {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }

    .row-body-details-property {
        flex-direction: column-reverse !important;
    }

    .label-search-local-detail-property {
        position: absolute;
        top: 894px;
        right: 9%;
    }

    .label-search-words-details-property {
        position: absolute;
        top: 798px;
        right: 9%;
    }

    .space-segment {
        padding: 1rem 0 0 0 !important;
        display: grid !important;
    }

    .btn-segment {
        padding: 1rem 0 !important;
    }

    .block-important {
        display: block !important;
    }

    // VISITS-PAGE
    .col-visits {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }

    // CONTACT
    .col-contact {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }

    // PROPOSAL-EXPRESS
    .col-express {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }

    // ABOUT
    .col-about {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }


}

@media(max-width: 992px) {

    // NAV-BAR
    #navbarSupportedContent {
        backdrop-filter: blur(55px);
    }

}

// mobile-zone
@media (max-width: 600px) {

    // HOME
    .col-final-card {
        display: block !important;
    }

    .btn-indicate {
        width: 100% !important;
    }

    .bg-img-product {
        background-image: url(./assets/img/ap.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 292px;
        height: 219px;
    }

    .product-announcement {
        max-width: 310px !important;
    }

    // SEARCH-PAGE
    .results-bar {
        display: block !important;
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }

    .col-img-types-property {
        flex: 0 0 100% !important;
        max-width: 100% !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .info-property-product {
        display: grid !important;
    }

    .title-property-product {
        margin: 1rem 0;
    }

    .select-box {
        margin: initial !important;
    }

    .form-search {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .label-search-words,
    .label-search-local {
        display: none !important;
    }

    .details-card-swiper {
        padding: 1rem 0 !important;
        display: block !important;
    }

    // DETAIL-PROPERTY
    .label-search-words-details-property {
        position: absolute;
        top: 796px;
        right: 17%;
    }

    .label-search-local-detail-property {
        position: absolute;
        top: 892px;
        right: 17%;
    }

    // CONTACT
    .row-contact,
    .col-contact {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .contact-forms {
        padding: 1rem !important;
    }

    .form-search {
        padding-top: 180px !important;
    }


    .col-footer {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }

    .col-footer-2 {
        margin-left: .5rem !important;
        margin-right: .5rem !important;
    }

    .col-w-100 {
        width: 100% !important;
    }

}

@media (max-width: 1755px) {

    // SEARCH-PAGE
    .card-product-result {
        width: 90% !important;
        margin-left: 0 !important;
    }

    .col-cards-products {
        text-align: center;
    }
}