.bg-home-products {
    height: 64rem;
    max-height: 1969px;
}

.like-heart {
    background-color: rgba(255, 255, 255, 0.273);
}
.bg-img-product{
    background-image: url(../../../assets/img/ap.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:340px;
    height:219px;
}
