<footer [class]="handlerLoggedLinks(router.url)" class="w-100 h-100 px-5p bg-purple d-flex justify-content-center">
    <div class="max-w-1918 mt-5 mx-0 w-100 row h-auto">
        <div class="col-lg-4 col-md-6">
            <div class="w-100">
                <p class="fw-700 mb-3 font-size-18 line-24 text-light">
                    <img src="../../../assets/logo/white-logo.png" class="w-50" />
                </p>
                <div class="col-12 pt-4 px-0 h-auto col-footer">
                    <p class="fw-700 mb-3 font-size-18 line-24 text-light">
                        Siga nossas redes
                    </p>
                    <div class="d-flex block-important w-100 pb-3 pb-sm-5">
                        <a (click)="goToFacebook()" class="cursor-pointer">
                            <img class="h-29 mr-3" src="../../../assets/icon/facebook-light.svg" />
                        </a>
                        <a (click)="goToInstagram()" class="cursor-pointer">
                            <img class="h-29 mr-3" src="../../../assets/icon/instagram-light.svg" />
                        </a>
                        <a (click)="goToLinkedin()" class="cursor-pointer">
                            <img class="h-29 mr-3" src="../../../assets/icon/linkedin-light.svg" />
                        </a>
                        <a (click)="goToYoutube()" class="cursor-pointer">
                            <img class="h-29" src="../../../assets/icon/youtube-light.svg" />
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="w-100">
                <p class="fw-700 mb-3  font-size-18 line-24 text-light">
                    Fale com a gente
                </p>
                <p class="fw-700 d-grid pb-3 pb-sm-5 font-size-18 line-24 text-light">
                    <span class="fw-400 py-1 font-size-14 line-20 text-light">Hotmilk PUC/PR</span>
                    <span class="fw-400 py-1 font-size-14 line-20 text-light">Rua Imaculada Conceição 1430</span>
                    <span class="fw-400 py-1 font-size-14 line-20 text-light">Prado Velho - Curitiba - PR</span>
                    <span class="fw-400 py-1 font-size-14 line-20 text-light">80215-182</span>
                </p>

            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="w-100">
                <p class="fw-700 mb-3 text-white">
                    Trabalhe com a gente
                </p>
                <p class="fw-700 d-grid pb-3 pb-sm-5 font-size-18 line-24 text-light">
                    <a href="https://corretores.imoveistock.com.br/" class="fw-400 py-1 font-size-14 line-20 text-light">Corretagem</a>
                    <a href="https://fotografos.imoveistock.com.br/" class="fw-400 py-1 font-size-14 line-20 text-light">Fotografia</a>
                    <a href="https://vistoriadores.imoveistock.com.br/" class="fw-400 py-1 font-size-14 line-20 text-light">Vistorias</a>
                </p>
            </div>
        </div>

        <div class="col-lg-2 col-md-6">
            <p class="fw-700 mb-3 text-white">
                Telefone
            </p>

            <p class="fw-400 d-flex p-0 m-0 align-items-center line-20 text-light">
                <i class="bi pr-2 text-success bi-telephone"></i>
                4003-7764
            </p>
            <p (click)="goToWhatsAppWeb()" id="responsive-link-web" class="fw-400 d-flex p-0 m-0 align-items-center line-20 text-light cursor-pointer">
                <i class="bi pr-2 text-success bi-whatsapp"></i>
                <a>(11)4003-7764</a>
            </p>
            <p (click)="goToWhatsAppMobile()" id="responsive-link-mobile" class="fw-400 d-flex p-0 m-0 align-items-center line-20 text-light cursor-pointer">
                <i class="bi pr-2 text-success bi-whatsapp"></i>
                <a>(11)4003-7764</a>
            </p>
        </div>

        <div class="col-12 my-5 justify-content-between grid-important d-flex">
            <div class="w-100  grid-important d-flex">
                <a class="fw-700 font-size-14 pr-3 line-20 color-muted mb-3 mb-sm-0">CRECI PR J:5588</a>
                <a (click)="openTermsModal('politica')"
                    class="fw-400 cursor-pointer hover-white font-size-14 pr-3 line-20 color-muted mb-3 mb-sm-0">Política de
                    privacidade</a>
                <a (click)="openTermsModal('termos')"
                    class="fw-400 cursor-pointer hover-white font-size-14 pr-3 line-20 color-muted mb-3 mb-sm-0">Termos de uso</a>
                <a [routerLink]="['/cookie-policy']" [routerLinkActive]="['text-light']"
                    class="fw-400 cursor-pointer hover-white font-size-14 pr-3 line-20 color-muted">Política de
                    coockies</a>
            </div>
            <div class="w-auto  justify-content-center d-flex">
                <p class="mb-0 year fw-400 font-size-14 pr-3 line-20 color-muted mt-3 mt-sm-0">
                    {{year}} - imoveistock Tecnologia e Negócios LTDA.
                </p>
            </div>
        </div>
    </div>
</footer>
