<section class="container-fluid p-4">
    <div class="d-flex justify-content-end">
        <img src="../../../../../assets/icon/x.png" alt="" (click)="exit()" style="cursor: pointer;">
    </div>

    <div class="anima-body">
        <h3 class="fw-700 py-3 font-size-24 line-32 color-black w-100 text-center">Deseja atendimento com <br> o seu corretor?</h3>
    </div>
    <div class="d-flex flex-column">
        <button type="button" class="btn bg-purple fw-700 font-size-18 line-24 text-light border-radius-10 h-74 w-100 my-3" (click)="yesHaveBroker()">Sim, já tenho corretor</button>
        <button type="button" class="btn bg-white border-radius-10 border-purple color-purple h-74 fw-700 font-size-18 w-100" (click)="confirmRegister()">Não tenho corretor</button>
    </div>
</section>
