
<nav class="navbar navbar-expand-lg navbar-light container navbar-custom">
  <img [routerLink]="['/']" src="../../../assets/logo/logo-vitrine.svg" class="logo-navbar-desktop">
  <img [routerLink]="['/']" src="../../../assets/logo/logo-mobile.svg" class="logo-navbar-mobile">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav flex-fill justify-content-end">
      <li class="nav-item">
        <a (click)="changePage('home')" [class]="home ? 'item-navbar-selected' : 'item-navbar-disabled'"
          class="nav-link px-3 fw-400 font-size-14 line-20" [routerLink]="['/']">Home</a>
      </li>
      <li class="nav-item">
        <a (click)="changePage('about')" [class]="about ? 'item-navbar-selected' : 'item-navbar-disabled'"
          class="nav-link  px-3 fw-400 font-size-14 line-20">Sobre</a>
      </li>
      <li class="nav-item dropdown">
        <a (click)="changePage('indicateProperties')" class="nav-link  px-3 fw-400 font-size-14 line-20 item-navbar-disabled">Indicar imóveis</a>
      </li>
      <li class="dropdown cursor-pointer nav-item">
        <a class="nav-link px-3 fw-400 font-size-14 line-20 dropdown-toggle item-navbar-disabled" role="button"
          id="dropproperty" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Para Proprietários
        </a>
        <div class="dropdown-menu box-shadow border-none border-radius-10" aria-labelledby="dropdownMenuLink">
          <a href="https://imoveistock-proprietario.vercel.app/"
            class="dropdown-item py-2 fw-400 font-size-14 line-20 color-black">Anunciar Imóvel</a>
          <a class="dropdown-item" href="dashboard-indicação">Área do Proprietário</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a (click)="changePage('forBrokers')" 
          class="nav-link  px-3 fw-400 font-size-14 line-20 item-navbar-disabled">Para Corretores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link  px-3 fw-400 font-size-14 line-20 item-navbar-disabled" [routerLink]="['/contact']"
          [routerLinkActive]="['link-active']">Contato</a>
      </li>
      <li class="nav-item dropdown">
        <a *ngIf="loginopt" (click)="openLogin()" [routerLinkActive]="['link-active']"
          class="nav-link px-3 fw-400 font-size-14 line-20 item-navbar-disabled">
          Login
        </a>
        <a *ngIf="loggedname" class="nav-link  px-3 fw-400 font-size-14 line-20 dropdown-toggle item-navbar-disabled text-capitalize" id="droplogin"
          role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="bi font-size-20 bi-person"></i> {{userName}}<img
            src="../../../assets/icon/arrow-down.png" />
        </a>
        <div *ngIf="loggedopt" class="dropdown-menu arrow_box px-4 border-radius-10 dropdown-menu-right"
          aria-labelledby="droplogin">
          <a (click)="goDeashboard()" class="dropdown-item px-0  py-2 fw-400 font-size-14 line-20 color-black">Meus
            Imóveis</a>
          <h2 (click)="logOut()" class="dropdown-item px-0  py-2 fw-400 font-size-14 line-20 color-black">Sair da
            conta</h2>
        </div>
      </li>
    </ul>
  </div>
</nav>