<section class="bg-clear mt-100">
    <div class="container">
        <form [formGroup]="form">
            <div class="row justify-content-center">
                <div class="col-md-5">

                    <div class="bg-white border-radius-10 p-3 mt-5 mb-3">
                        <h3 class="fw-700 font-size-24">Acompanhantes</h3>
                        <p>Você foi convidado a acompanhar o Sr(a)<b>{{response.user.name}}</b> em uma visita. <br>
                            Para confirmar sua presença, precisamos de alguns dados:</p>
                        <div class="input-group mb-3">
                            <input type="text"
                                class="form-control bg-whitelight border-radius-10 border p-2 color-black h-51"
                                formControlName="name" placeholder="Nome">
                        </div>
                        <div class="input-group mb-3">
                            <input type="text"
                                class="form-control bg-whitelight border-radius-10 border p-2 color-black h-51"
                                mask="000.000.000-00" formControlName="cpf" placeholder="CPF">
                        </div>
                        <div class="input-group mb-3">
                            <input type="text"
                                class="form-control bg-whitelight border-radius-10 border p-2 color-black h-51"
                                formControlName="degreeOfKinship" placeholder="Grau de parentesco">
                        </div>
                        <div class="input-group mb-3">
                            <input type="text"
                                class="form-control bg-whitelight border-radius-10 border p-2 color-black h-51"
                                mask="(00)00000-0000" formControlName="phone" placeholder="Telefone">
                        </div>

                        <div class="form-check mb-3 mx-2">
                            <input type="checkbox" class="form-check-input" id="terms" formControlName="terms">
                            <label class="form-check-label" for="terms">
                                Aceito com termos de uso e política de privacidade.
                            </label>
                        </div>

                        <button [disabled]="this.form.invalid" type="button"
                            class="btn bg-purple fw-700 font-size-18 line-24 text-light border-radius-10 h-74 w-100 mt-2"
                            (click)="saveCompanion()">Salvar</button>
                    </div>
                    <div class="bg-white border-radius-10 p-3 mb-3">
                        <!-- <div class="d-flex">
                            <i class="bi bi-link-45deg"></i>
                            <span class="ml-2"><b>Código da visita:</b> {{response?.code || '-'}}</span>
                        </div>
                        <p class="color-muted font-size-12">Informe o código ao corretor durante a visita.</p> -->
                        <div class="w-100 bg-white border-radius-10 p-4 h-auto">
                            <p class="w-100 fw-400 font-size-16 line-20 color-black">
                                <i class="bi font-size-20 mr-2 bi-calendar"></i>
                                {{response?.visitDate | date: 'EEEE'||
                                '-'}}, {{response.visitDate | date: 'dd' }} de {{response.visitDate | date:
                                'LLLL' }} às {{response.visitDate | date: 'HH:mm' || '-'}}
                            </p>
                            <p class="fw-400 py-2 font-size-16 line-20 color-black">
                                <i class="bi font-size-20 color-black mr-2 bi-geo-alt"></i>
                                {{response.announcement.districtAddress || '-'}},
                                {{response.announcement.cityAddress || '-'}} -
                                {{response.announcement.ufAddress || '-'}}
                            </p>
                            <p class="fw-400 font-size-16 line-20 color-black">
                                <i class="bi font-size-20 color-black mr-2 bi-person-vcard"></i>
                                Leve seu documento de identificação original com foto
                            </p>
                            <div *ngIf="response.user_broker != null">
                                <p class="fw-700 font-size-16 mt-4 line-20 color-black">A visita é acompanhada por esse
                                    corretor:
                                </p>
                                <div class="w-100 d-flex">
                                    <i class="bi color-black mr-2 font-size-20 bi-person"></i>
                                    <p class="d-grid">
                                        <span
                                            class="fw-500 font-size-14 line-18 color-black">{{response?.user_broker?.name}}</span>
                                        <span class="color-muted font-size-12">Corretor</span>
                                        <span class="fw-400 font-size-14 line-18 color-black">
                                            ({{response?.user_broker?.phone | slice:2:4}}){{response?.user_broker?.phone
                                            | slice:4:9}}-{{response?.user_broker?.phone | slice:9:13}}
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="w-100 bg-white mt-4 border-radius-10 h-auto mb-3">
                        <div class="h-100 product-announcement p-2 mx-3 border-radius-10 bg-white">
                            <div class="py-2 px-3 product-announcement-card position-relative">
                                <img *ngIf="!response.announcement?.mainPhoto" src="../../../../assets/img/ap.png"
                                    class="photo-announcement-card">
                                <img *ngIf="response.announcement?.mainPhoto" [src]="response.announcement?.mainPhoto"
                                    class="photo-announcement-card">
                                <div class="space-sale-exclusive">
                                    <h4 *ngIf="response.announcement?.typeOfAd === 'sale'"
                                        class="bg-purple h-fit px-4 py-2 mb-0 border-radius-5 fw-400 font-size-14 line-15 text-light">
                                        Venda</h4>
                                    <h4 *ngIf="response.announcement?.typeOfAd === 'rent'"
                                        class="bg-purple h-fit px-4 py-2 mb-0 border-radius-5 fw-400 font-size-14 line-15 text-light">
                                        Locação</h4>
                                    <div class="d-flex" *ngIf="response.announcement?.typeOfAd === 'both'">
                                        <h4
                                            class="bg-purple h-fit px-4 py-2 mb-0 mr-2 border-radius-5 fw-400 font-size-14 line-15 text-light">
                                            Venda</h4>
                                        <h4
                                            class="bg-purple h-fit px-4 py-2 mb-0 border-radius-5 fw-400 font-size-14 line-15 text-light">
                                            Locação</h4>
                                    </div>
                                    <h4 *ngIf="response.announcement?.exclusivity === true"
                                        class="bg-greenlight h-fit ml-2 px-3 py-2 mb-0 border-radius-5 fw-400 font-size-14 line-15 color-black">
                                        Exclusivo</h4>
                                </div>
                                <div class="space-value-announcement-home">
                                    <p class="fw-700 mb-0 font-size-22 h-fit line-32 text-light"
                                        *ngIf="response.announcement?.typeOfAd === 'sale'">
                                        {{response.announcement?.saleValue | currency:
                                        'R$' :'symbol':'1.0'}}</p>
                                    <p class="fw-700 mb-0 font-size-22 h-fit line-32 text-light"
                                        *ngIf="response.announcement?.typeOfAd === 'both'">
                                        {{response.announcement?.saleValue | currency:
                                        'R$' :'symbol':'1.0'}}</p>
                                    <p class="fw-700 mb-0 font-size-22 h-fit line-32 text-light"
                                        *ngIf="response.announcement?.typeOfAd === 'rent'">
                                        {{response.announcement?.leaseValue | currency:
                                        'R$' :'symbol':'1.0'}}
                                    </p>
                                </div>
                            </div>
                            <div class="w-100 mx-3 text-align-left pt-3">
                                <span class="fw-400 font-size-14
                                            line-20
                                            color-black">{{response.announcement.propertyCharacteristics}}</span>
                                <p class="fw-700 font-size-16 line-20 mb-0 color-black text-truncate">
                                    {{response.announcement.description}}</p>
                                <p class="d-flex
                                            align-items-center">
                                    <i class="bi font-size-20 mr-2
                                                color-black
                                                bi-geo-alt"></i>
                                    <span class="fw-400 font-size-14 line-20 color-black">
                                        {{response.announcement.districtAddress || '-'}},
                                        {{response.announcement.cityAddress || '-'}} -
                                        {{response.announcement.ufAddress || '-'}}</span>
                                </p>
                            </div>
                            <div class="row mx-3 mt-3 d-flex">
                                <div class="col justify-content-left
                                            px-0 d-flex
                                            align-items-center
                                            justify-content-left">
                                    <img src="../../../assets/icon/bed.png" class="pr-2" />
                                    <p *ngIf="response.announcement.bedrooms > 1" class="fw-400 mb-0
                                                font-size-14 line-20
                                                color-black">{{response.announcement.bedrooms}}
                                        Quartos</p>
                                    <p *ngIf="response.announcement.bedrooms === 0 || response.announcement.bedrooms === 1"
                                        class="fw-400 mb-0
                                                font-size-14 line-20
                                                color-black">{{response.announcement.bedrooms}}
                                        Quarto</p>
                                </div>
                                <div class="col justify-content-left px-0
                                            d-flex
                                            align-items-center
                                            justify-content-left">
                                    <img src="../../../assets/icon/car.png" class="pr-2" />
                                    <p *ngIf="response.announcement.parkingSpaces > 1" class="fw-400 mb-0
                                                font-size-14 line-20
                                                color-black">{{response.announcement.parkingSpaces}}
                                        Vagas</p>
                                    <p *ngIf="response.announcement.parkingSpaces === 0 || response.announcement.parkingSpaces === 1"
                                        class="fw-400 mb-0
                                                font-size-14 line-20
                                                color-black">{{response.announcement.parkingSpaces}}
                                        Vaga</p>
                                </div>
                                <div class="col justify-content-left
                                            px-0 d-flex
                                            align-items-center
                                            justify-content-left">
                                    <img src="../../../assets/icon/rule.png" class="pr-2" />
                                    <p class="fw-400 mb-0
                                                font-size-14 line-20
                                                color-black">{{response.announcement.usefulArea}}
                                        m2</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <img src="../../../assets/icon/suites.svg" width="18px" class="pr-2 mobile-w" />
                                        <p *ngIf="response.announcement?.suites > 1" class="fw-400 mb-0 font-size-12 little-text-mobile line-20
                                                 color-black">{{response.announcement?.suites}} Suítes</p>
                                        <p *ngIf="response.announcement?.suites === 0 || response.announcement?.suites === 1"
                                            class="fw-400 mb-0 font-size-12 little-text-mobile line-20
                                                 color-black">{{response.announcement?.suites}} Suíte</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>